@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
p {
	font-size: 17px;
	line-height: 33px;
}
#flash-message {
  display: none !important;
}
#more-reviews {
	margin: 0 auto;
	border: none;
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 0;
	width: 100%;
}
.review-grid.padding-40.flex.space-between {
	position: relative;
}
.average-social-rating p:last-of-type {
  display: none;
}
.testimonial-highlight {
  display: none;
}
#review-social-section h3:first-of-type {
  display: none;
}
.social-loan-officer {
  padding: 20px 20px 15px;
  }
body.front.site-type-branch {
  margin: 0 auto !important;
  max-width: 1485px;
  background: #e2e2e2;
}
#flash-message { 
	display: none !important;
}
#questionThree .text-muted small, .text-info i.fas.fa-arrow-right {
  display: none;
}
#navigation-sidebar #list_12564:hover {
  cursor: pointer;
}
textarea {
  letter-spacing: .8px;
  margin-top: 1px !important;
}
#footer-branchlo-name {
  width: 100%;
  text-align: center;
  font-size: 23px;
  font-weight: 800;
}
.footer-directory-listing {
	display: flex;
	flex-wrap: wrap;
	font-weight: 500;
	width: 453px;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
	text-transform: initial;
	margin-bottom: 20px;
}
.site-type-branch .branch-manager-section {
  margin-bottom: 40px;
}

/*Renovation photos width.*/
.node-124158 #text-based {
	width: 100%;
}

body.front.site-type-branch .main-content, body.front.site-type-branch #site-navigation {
  background: #fff;
}

#branch-content {
  margin-top: 0;
}

.site-type-branch #we-provide-more-2 .provided-links a:last-of-type {
  display: none;
}

#branch-content > a:nth-of-type(1) {
  display: flex;
  justify-content: center;
}

#branch-content button {
  margin: 20px 5px 1px;
}

#branch-content button {
  background: #156faa;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}

#apply-now-branch {
  color: white !important;
  background: #7fc24a !important;
}
#annie_mac-branch > #team-display, #tmc-branch > #team-display {
  order: 1 !important;
  margin-bottom: -55px;
  margin-top: -15px !important;
  padding-top: 0;
  background: #fff;
  padding-top: 26px;
}

#tmc-branch #team-display h2 {
  color: #40a051 !important;
}
#tmc-branch #branch-content button {
  background: #40a051;
}
.site-type-branch #deserve-more-container-master {
  display: none;
}

.calc-group {
  display: flex;
  margin: 20px auto;
  width: 90%;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.calc-group .item {
  width: 30%;
  display: flex;
  flex-direction: column;
  min-height: 200px;
  padding: 10px;
  margin: 0 0px;
}

.calc-group .item img {
  opacity: 0;
  visibility: hidden;
  max-height: 1px;
  max-width: 1px;
}

.calc-group .item h6 a {
  font-weight: bold;
}

.calc-group .item h6 {
  text-align: center;
}

.calc-group .item p {
  width: 95%;
  margin: 8px auto;
}

.page-mortgage-calculator h2 {
  font-size: 26px;
  text-align: center;
  margin: 15px 0 30px;
}

.page-mortgage-calculator header {
  display: none;
}

.page-mortgage-calculator .inner-layout {
  padding: 30px 0 0;
}
#submit-overlayment {
  position: absolute;
  width: 100%;
  min-height: 110px;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background .75s;
}
form button, .message-contents button, .go {
  display: block;
  max-width: 473px;
  margin: 0 auto;
  padding: 17px 41px;
}
#submit-overlay {
  position: relative;
}

#submit-overlayment h4 {
  display: none;
}

#submit-overlayment:hover {
  background: rgb(255 255 255 / 54%);
  cursor: not-allowed;
}

#submit-overlayment:hover h4 {
  display: block;
  font-weight: 600;
}
.option-listing .menu li strong a:hover {
  color: white !important;
}

footer #copyrights {
  flex-direction: column;
  padding-top: 40px;
  letter-spacing: .65px;
  color: #fff;
  font-weight: 800 !important;
  text-transform: uppercase;
  font-size: 13px !important;
  background: #144d7f;
  width: 100%;
  min-height: 207px;
  background-size: cover;
  background-position-y: 40%;
}
footer #copyrights ul {
  font-weight: 200;
	font-size: 14px;
	width: 400px;
}
footer #social-media {
	display: none;
	height: 0px;
	width: 0px;
}
.footer-directory-listing p {
  line-height: 13px;
  font-size: 14px;
}
#lastvisitedoriginatornotice {
	position: fixed;
	bottom: 8.4%;
	z-index: 500;
	right: -3px;
	display: flex;
	flex-direction: column;
	font-size: 16px;
	width: 200px;
	border-radius: 4px;
	margin-bottom: 12px;
	color: rgba(255,255,255,.8);
	border: 1px solid rgba(0,0,0,0.1);
	background: linear-gradient(0deg, rgb(39, 48, 64) 0%, rgb(46, 54, 68) 100%);
	padding: 20px;
	border-left: 3px solid rgb(59, 67, 83);
	border-bottom: 1px solid rgb(55, 64, 81);
	box-shadow: -2px 0px 13px #171d287d;
}
#lastvisitedoriginatornotice img {
   height: 160px;
   width: 160px;
   margin: 0 auto 20px;
   border-radius: 100%;
}
#lastvisitedoriginatornotice p {
	line-height: 27px;
	font-weight: 300;
}
#lastvisitedoriginatornotice p:first-of-type {
	margin-bottom: 0px;
	margin-top: 0;
}
#lastvisitedoriginatornotice p a {
	color: #fff;
	font-weight: bold;
}
#gotherenowtid {
	display: block;
	font-size: 16px;
	text-align: left;
	border-top: 1px solid rgba(255,255,255,.15);
	padding-top: 15px;
	text-transform: uppercase;
	font-weight: 400 !important;
	letter-spacing: 2px !important;
	margin-top: 18px;
 }
#dismisslastvisitor {
	display: block;
	font-size: 12px;
	text-align: left;
	border-top: 1px solid rgba(255,255,255,.15);
	padding-top: 15px;
	text-transform: uppercase;
	font-weight: 400 !important;
	letter-spacing: 2px !important;
	margin-top: 18px;
}
#dismisslastvisitor:hover {
	cursor: pointer;
}
#list-switch {
	display: none;
}
.location-listing {
	padding: 0;
}
h1.header-additional {
	float: left;
	text-indent: -40000vw;
	height: 0px;
	width: 0px;
}
#blog-entry-page a {
	font-weight: bold;
	color: #036fa8;
}
#tmg-branch-listing, #outofstatereferral-branch-listing, #perkplans-branch-listing, #welcome-branch-listing, #welcometo-branch-listing {
	display: none;
}
#page-banner, #video-banner, #product-banner, #core-banner {
	height: 23vw;
	min-height: 404px;
}
.site-type-team #branch-managers, .branch-manager-section {
	padding: 10px 0 !important;
}
#team-display h3:nth-of-type(2) {
	margin-top: 25px;
}
@media only screen and (min-width: 951px) {
	.team-member {
		margin: 20px 0 !important;
		width: 33% !important;
	}
	.team-member:last-of-type {
		margin-left: 0 !important;
	}
}
.team-member-section::after {
	flex: initial !important;
	content: initial !important;
}
#start-your-story {
	margin: -40px 0 0;
}
.branch-manager-section .manager-information {
	margin: 0 !important;
}
.site-type-branch #home-reviews {
}
.calculations-primary {
	margin: 0;
}
ul.menu.nav {
	display: flex;
}
#calculations-and-numbers .calculations-primary:first-of-type {
	display: none;
}
.calculations-primary img {
	display: none;
}
#navigation-sidebar > div:nth-child(2) > a:nth-child(2) {
	display: none;
}
#navigation-sidebar ul.menu.nav {
	display: flex;
	flex-direction: column;
}
#branch-managers {
	width: 100% !important;
	margin: initial !important;
}
.team-member-section {
   margin: 0 auto;
   width: 100%;
   max-width: 1200px;
   padding-top: 30px;
}
.team-member {
	width: auto;
	margin: 0 50px 50px;
}
.team-member-portrait {
	border-radius: 0;
	position: relative;
	background-position: top !important;
}
select {
	text-transform: none;
	font-weight: normal;
	letter-spacing: initial;
	opacity: .8;
	width: 99%;
}
#loan-originator-backdrop {
	background: linear-gradient(50deg, rgba(5, 6, 6, 0.61) 30%, rgba(107, 97, 28, 0.28) 80%), url(https://www.annie-mac.com/dev/themes/annie_mac/img/indexbg.jpeg) top left no-repeat;
	background-size: cover !important;
	background-position-y: 43.5%;
	height: 575px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	color: white;
	padding: 0 25px;
}
#list_12148 a, #list_12170 a {
	background: #7FC24A;
	border: 3px solid #7FC24A;
	color: #fff;
	font-size: 13px;
	letter-spacing: .045em;
	text-align: center;
	padding: 13px 17px;
	font-weight: 500;
}
#list_12171 a {
	background: #40a051;
	padding: 10px;
	border-radius: 5px;
	color: white !important;
	letter-spacing: 1px;
}
#list_12148 a:hover, #list_12170 a:hover {
	background: #016fa8;
	border: 3px solid #016fa8;
}
.option-listing-go i {
	display: none;
}
#apply-now-sidebar, #prequal-now-sidebar {
	max-width: 153px;
	background: #7fc24a;
	border: 3px solid #7fc24a;
	color: #fff;
	font-weight: 800;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: .05em;
	text-align: center;
	padding: 2px 0px;
	margin: 0 auto 40px;
}

.branch-manager-section, .manager-information {
	justify-content: center;
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.branch-manager-section .manager-information {
	margin: 20px 0 !important;
	width: 33%;
}
#team-site .branch-manager-section .manager-information {
  margin: 20px 0 !important;
  min-width: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.manager-information .team-member-information {
	width: auto !important;
}

#loan-originator-blurb-container h4, #loan-originator-blurb-container h4 span, #navigation-sidebar h4, #navigation-sidebar .navigation-sidebar-sectional:nth-child(2) h4 span {
	color: white;
}
.top-links-header {
	align-items: end;
	height: 15px;
}
.header-links-content {
	margin-top: -17px;
}
.header-links-content button {
	border: none !important;
	margin-right: 10px;
}
#home-banner {
	background: linear-gradient(177deg, rgba(26, 29, 36, 0.77) 20%, rgba(26, 29, 36, 0.83) 80%), url(https://annie-mac.com/uploads/sites/10713/public/newbackground.jpeg) top center no-repeat;
	background-size: cover !important;
	min-height: 525px;
	background-position-y: 88%;
}
.review h4 {
	font-size: 17px;
	text-align: left;
	order: 4;
	font-weight: 200;
	display: none;
}
.container-fluid, .h-100 {
	padding: 10px 0 150px 0;
}
.page-testimonial .inner-layout {
	background: #ffffff;
}
.social-loan-officer i.fas.fa-map-marker {
	margin: 0 6px;
	font-size: 18px;
}
#biography .manager-information {
	display: none;
}
#originator-core-details-portrait img {
	background: transparent;
	width: auto;
	height: auto;
	max-width: 250px;
	max-height: 250px;
	border-radius: 5%;
	margin-left: 0px;
}
.manager-biography {
	margin-top: 0;
	margin-left: 0;
	padding-left: 0;
	padding-top: 0;
}
.site-type-loan_officer #we-provide-more-master h3 {
	font-size: 35px;
	text-align: left;
}
.manager-biography p:first-of-type {
	margin-top: 0px;
}
.manager-biography iframe {
	display: none;
}
.manager-biography p iframe {
	display: block;
	margin: 35px auto -15px;
}
#loan-originator-blurb-container h2 {
	font-size: 35px;
}
#originator-core-details-text h4 span {
	margin-top: 11px;
	font-weight: bold;
}
#sitemap li#list_11563 {
	display: none;
}

#navigation-menu li:not(last-of-type) {
	margin-right: 30px;
}
footer #sitemap #list_11081 a, footer #sitemap #list_11344 a, footer #sitemap #list_11343 a, footer #sitemap #list_12525 a, footer #sitemap #list_11350 a, footer #sitemap #list_12564 a {font-weight: 800;font-size: 13px;/* text-align: center; */}
footer #sitemap #list_12564 {display: none;}
@media screen and (max-width: 650px) {
	#navigation-logo {
		max-width: 200px !important;
	}
	#navigation-logo > a > img {
		margin-top: 5px;
	}
	#branch-banner {
		height: 350px;
		max-height: 351px;
		min-height: 422px;
	}
	#covid-warning h4 {
		font-size: 19px;
	}
	#covid-warning h4 span {
		text-align: center;
		width: 100px;
	}
	#covid-warning a {
		margin-right: 6px;
	}
}
@media screen and (max-width: 1390px) {
	#button-container-home {
		justify-content: center;
	}
}
@media screen and (max-width: 980px) {
	#calculations-and-numbers {
		padding-bottom: 60px;
		margin: 20px;
	}
}
.action-buttons-calcs {
	/* width: 100%; */
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
}
.alert-error {
	background: linear-gradient(#901e1e 0%, #ab1c1c 64%) !important;
	padding: 20px !important;
}
.loan-app > p:first-of-type {
	color: white;
	font-weight: bold;
	background: #006FA9;
	padding: 10px 12px;
	border-radius: 0px;
	width: 97%;
	line-height: 1.7;
}
.action-buttons-calcs button {
	width: 280px;
	margin: 0 23px 0 0;
}
#home-blog .block h3 {
	font-size: 35px;
	width: 100%;
	text-align: center;
	margin-bottom: 35px;
	display: block;
}
.site-type-loan_officer .manager-biography ul {
	width: auto;
	margin: 0 !important;
	padding-left: 0 !important;
	list-style-type: none;
	margin-top: 20px !important;
}
.site-type-loan_officer .manager-biography li {
	padding-left: 0;
	line-height: 2.5em;
}
.user-login #product-banner, .user-login footer {
	display: none;
}
.site-type-team #apply-navigation, .site-type-team #branch-steps, .site-type-team #home-provide, .site-type-team #home-reviews, .site-type-team #branch-banner button, .site-type-team #branch-banner .branch-content ul {
	display: none;
}
.site-type-team #branch-banner {
	height: 460px;
}
.site-type-team #team-display {
	margin-top: -100px;
}
.site-type-team #branch-content h2 {
	margin-top: 0 !important;
	margin-bottom: 40px;
}
.site-type-team #branch-managers {
	padding: 40px 0 0 10px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.site-type-team .branch-manager-section {
  width: 25%;
  margin: 0 auto;
}
.location-listing {
	width: 50%;
	margin: 24px 0 10px;
}
@media screen and (max-width: 1110px) {
	.site-type-team .branch-manager-section {
		width: 37%;
	}
}
.site-type-team .branch-manager-section::after {
	flex: auto;
	content: "";
}
#team-site header ul {
	display: none !important;
}
.page-loan-apply #product-banner, .page-loan-apply footer {
	display: none;
}
.page-loan-apply .inner-layout {
	padding-top: 80px;
}
.user-login .inner-layout #form div.alert.alert-error {
	background: #ffe7dc;
	margin-bottom: -1px;
	padding: 17px;
	line-height: 27px;
	height: auto;
	text-align: left;
	color: white;
	border-left: 8px solid #a91202;
	border-radius: 0 3px 3px 0;
}
#team-site-warning {
	background: #ffe7dc;
	margin-bottom: -1px;
	padding: 17px;
	line-height: 27px;
	height: auto;
	text-align: left;
	color: #a91202;
	border-left: 8px solid #a91202;
	border-radius: 0 3px 3px 0;
}
.calculations-primary:first-of-type {
	padding-bottom: 60px;
}
#copyrights .flex:first-of-type {
	display: flex;
	flex-direction: row;
	max-width: 400px;
	justify-content: space-between;
	justify-self: flex-end;
	letter-spacing: initial;
	text-transform: initial;
	margin-top: 15px;
	font-weight: 200;
	font-size: 15px;
}
#team-site-warning {
	margin-top: -40px;
	margin-bottom: 40px;
}
.site-type-branch nav #about-navigation .sub-menu-links li:nth-child(2) {
	display: none;
}
. site-type-loan_officer nav #about-navigation .sub-menu-links li:nth-child(2) {
	display: none;
}
#navigation-logo {
	width: auto;
	max-width: 250px;
}
.hide {
	display: none !important;
}
html body.page-loan-apply-complete.logged-in.site-type-loan_officer section.inner-layout section#text-based p a.btn.btn-default {
	background: #006fa9;
	color: #fff;
	font-weight: bold;
	display: inline-block;
	border-radius: 4px;
	padding: 10px 12px;
	padding-top: 120px;
	text-align: center;
}
.government-monitoring p {
	width: 100%;
	margin: 20px auto;
}
#navigation-logo > a > img {
	max-height: 42px;
}
.page-branch-list > #product-banner {
	background: linear-gradient(14deg, rgba(5, 6, 6, 0.51) 30%, rgba(107, 97, 28, 0.28) 80%), url('https://annie-mac.com/uploads/sites/10713/public/annie_mac_new_banner_branches.jpeg') top left no-repeat;
	background-size: cover;
	background-position-y: 53%;
}
.page-loan-apply-complete > #product-banner {
	background: linear-gradient(14deg, rgba(5, 6, 6, 0.51) 30%, rgba(107, 97, 28, 0.28) 80%), url('https://annie-mac.com/uploads/sites/10713/public/complete.jpeg') top left no-repeat;
	background-size: cover;
	background-position-y: 32%;
}
#covid-warning {
	background: #ffe7dc;
	color: #a91202;
	padding: 14px 25px;
	line-height: 1.6;
	margin: 15px auto !important;
	display: none !important;
}
#covid-warning h4 {
	font-size: 24px;
	margin: 0;
	font-weight: bold;
	color: #a91202;
	display: flex;
	align-items: center;
}
#covid-warning h4 span {
	font-size: 13px;
	margin-left: 15px;
	color: rgb(169 19 5);
	border: 1px solid #a91305;
	padding: 5px 12px;
	border-radius: 6px;
}
#covid-warning h4 span:hover {
	cursor: pointer;
}
#covid-warning p {
	margin: 8px 0;
}
#covid-warning-container {
	padding-bottom: 10px;
}
#covid-warning a {
	background: #a91202;
	color: #fff;
	font-weight: bold;
	display: inline-block;
	border-radius: 4px;
	padding: 10px 12px;
	width: 160px;
	margin-top: 10px;
	text-align: center;
	margin-right: 30px;
}
#covid-warning a:hover {
	opacity: .8;
}
#annie_mac-loan-officer > #branch-banner, #tmc-loan-officer > #branch-banner, #lofidirect-loan-officer > #branch-banner {
	background: url('https://annie-mac.com/uploads/sites/10713/public/originator-background-image.jpeg') top left no-repeat;
	background-size: cover;
	background-position-y: 63%;
}
#annie_mac-loan-officer #branch-content h2, #tmc-loan-officer #branch-content h2, .site-type-team #branch-content h2, #lofidirect-loan-officer #branch-content h2 {
	margin-top: 0 !important;
}
@media screen and (max-width: 854px) {
	#paws-container {
		width: 100vw;
	}
	#paws-motif h1 {
		width: 390px;
		height: 133px;
	}
	#paws-motif h3 {
		color: #fff;
	}
	#paws-motif h4 {
		margin: -5px 0 35px;
	}
	#paws-motif button {
		background: #078CC4;
		font-size: 14px;
	}
}
@media screen and (max-width: 850px) {
	#sitemap #list_11538 {
		display: none;
	}
}
@media screen and (max-width: 750px) {
	.site-type-team #navigation-bar {
		justify-content: space-between;
		padding: 7px 14px;
	}
	.site-type-team #navigation-logo {
		order: -3;
	}
	#covid-warning {
		margin-top: 50px;
	}
	#we-provide-more-3 {
		order: -1;
	}
	.location-listing a p:first-of-type {
		width: 80%;
		line-height: 20px;
	}
	#calculations-and-numbers {
		width: 90%;
		display: flex;
		margin: 60px auto 30px;
		flex-direction: column;
	}
	#copyrights ul:nth-of-type(1) {
		flex-direction: column;
	}
}
@media screen and (max-width: 750px) {
	#copyrights ul:nth-of-type(1) {
		margin: 5px auto 10px;
	}
	#social-media {
		display: none;
	}
}

@media screen and (max-width: 1190px) { 
	#list_11930 {
		display: none;
	}
}

@media screen and (max-width: 1006px) {
	.navigation-sectional:nth-of-type(3) li:last-of-type {
		display: block !important;
	}
}

.navigation-sidebar-sectional ul li {
	display: block !important;
}

#annie_mac-loan-officer, #tmc-loan-officer, #lofidirect-loan-officer {
	display: flex;
	background: #fff;
	color: #333;
	justify-content: space-around;
	margin: 0 auto;
	max-width: 1500px;
}
#loan-originator-backdrop {
	background: none;
	background: none;
	background-position-y: 43.5%;
	height: auto;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	order: 0;
	padding: 0 20px;
	margin-right: 0px;
	min-width: 400px;
	flex-direction: column;
	margin-top: 25px;
}
#annie_mac-loan-officer > #originator, #tmc-loan-officer > #originator, #lofidirect-loan-officer > #originator {
	margin-top: -28px;
	margin-left: 25px;
	max-width: 1000px;
}
#originator .negative-60 {
	width: 95%;
	margin: 0 auto;
}
#originator .padding-60 {
	padding: 0;
}
#originator  > #we-provide-more-master {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
#covid-warning {
	background: #ffe7dc;
	margin-bottom: -1px;
	color: #a91202;
	padding: 14px 25px;
	line-height: 1.6;
	margin-top: 0;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	width: 90%;
	margin: 30px auto -15px;
}
#loan-originator-blurb-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	text-shadow: 0 0 black;
	width: 100%;
	background: transparent;
	border-radius: 0px;
	border: none;
	box-shadow: none;
	border-right: 1px solid rgba(0,0,0,.15);
	padding-right: 20px;
}
#originator-core-details-text {
	background: transparent;
	border-top: none;
	padding: 20px;
	border-bottom: none;
	margin-bottom: 20px;
	min-width: 362px;
	padding-bottom: 44px;
}
#loan-originator-blurb-container h2 {
	font-size: 27px;
	text-shadow: none;
	text-align: left;
	color: #333;
	font-family: 'inter', sans-serif;
}
#loan-originator-blurb-container h4 {
	letter-spacing: 1px;
	font-size: 16px;
	text-shadow: none;
	display: flex;
	flex-direction: column;
	text-align: left;
	color: #333;
	font-weight: normal;
}
#originator-core-details-text h4 span {
	margin-top: 5px;
	font-weight: normal;
	color: inherit;
	font-size: 12px;
}
#originator-address-details {
	line-height: 30px;
	font-size: 16px;
	text-shadow: none;
	color: black;
	opacity: .8;
}
#originator-address-details p {
	text-align: left;
	opacity: 1;
	margin-bottom: 0;
	font-size: 15px;
	line-height: 22px;
}
#originator-core-details-portrait img {
	background: transparent;
	max-width: 210px;
	max-height: 210px;
	border-radius: 0;
	margin-left: 0px;
	margin-bottom: 20px;
}
#originator-main-details {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;
	font-family: 'Inter', sans-serif;
}
#originator-core-details {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-right: 0;
	border-right: none;
	margin-right: 0;
	text-align: center;
	padding-top: 30px;
}
#originator-social-details {
	width: 96%;
	margin: 0 auto;
}
#originator-social-details ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: nowrap;
	align-self: flex-end;
	width: 100%;
	margin-top: -21px;
	flex-direction: column;
}
#originator-social-details ul a {
	border-top: 1px solid rgba(0,0,0,.05);
	width: 100%;
}
#originator-social-details li {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0;
	width: auto;
	font-size: 15px;
	height: 45px;
	justify-content: flex-start;
	color: #555;
}
#originator-social-details li i {
	font-size: 18px;
	margin-bottom: 0;
	text-shadow: none;
	width: 50px;
	display: flex;
	justify-content: center;
	color: #036fa8;
}
.site-type-loan_officer .manager-biography p {
	width: auto;
	padding: 0;
}
.manager-biography h2:first-of-type {
	font-size: 35px;
	margin: 25px auto 15px;
	display: block;
	text-align: left;
	font-family: 'inter',sans-serif;
}
#inserted-banner {
	height: 350px;
	background: linear-gradient(177deg, rgba(26, 29, 36, 0.77) 20%, rgba(26, 29, 36, 0.83) 80%), url(https://www.annie-mac.com/uploads/sites/10713/public/House-at-Dusk.jpeg) top left no-repeat;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	padding-top: 60px;
	background-position-y: 68%;
	background-size: 101%;
}
#inserted-banner.themortgagecompany #button-container-home > a:nth-child(1) {
	margin-left: 0;
	background: transparent;
	border-radius: 5px;
	color: white !important;
	margin-bottom: 10px;
	border: none;
	font-family: 'inter', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 25px;
	order: -1;
	margin-top: -20px;
	width: 250px!important;
	text-shadow: 1px 2px 2px rgb(0 0 0 / 70%);
}
#inserted-banner.themortgagecompany .container-section h3 span {
  font-size: 20px;
  margin: 10px 0 20px;
  font-weight: 600;
}
#inserted-banner.themortgagecompany {
  height: 365px;
  background: linear-gradient(177deg, rgb(23 16 5 / 52%) 30%, rgb(29 27 18 / 54%) 80%), url('https://www.annie-mac.com/uploads/sites/10713/public/tmc.jpeg') bottom center no-repeat !important;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: flex-start;
  padding-top: 95px;
  background-position-y: 40% !important;
  background-size: cover;
}
.jamiehannigan #inserted-banner {
	background: linear-gradient(177deg, rgba(23, 16, 5, 0.21) 30%, rgba(29, 27, 18, 0.6) 80%), url("https://annie-mac.com/uploads/sites/10713/public/JH_header2_redux.jpg");
	background-position-y: 21% !important;
	background-size: cover;
}
.tmc-header-links {
  color: #fff;
  display: flex;
  flex-direction: column-reverse;
}
.tmc-header-links a#loan-officer-header-apply {
  background: #40a051;
  padding: 2px 10px;
  border-radius: 5px;
  color: white !important;
}
#tmc-header-call {
  margin-top: -23px;
  margin-bottom: 20px;
  text-shadow: 1px 2px 2px rgb(0 0 0 / 70%);
}
#inserted-banner .container-section {
	flex-direction: column;
}
#inserted-banner .container-section h3 span {
	font-size: 15px;
}
#inserted-banner #button-container-home > a:nth-child(1) {margin: 20px 0 10px;background: #016fa7;border: 3px solid #016fa7;color: #fff;font-weight: 500;text-transform: uppercase;font-size: 15px;letter-spacing: .05em;text-align: center;padding: 3px 25px;min-width: initial !important;order: 6;}
#tmc-loan-officer .manager-biography h2:first-of-type {
	color: #40a051;
}
#inserted-banner #button-container-home > a:nth-child(1):hover {
	transform: none;
}
#lofidirect-loan-officer .manager-biography h2:first-of-type {
	color: #95c553;
}
#tmc-loan-officer > #inserted-banner #button-container-home > a:nth-child(1) {
	background: #40a051;
}
#lofidirect-loan-officer > #inserted-banner #button-container-home > a:nth-child(1) {
	background: #95c553;
}
#inserted-banner > #button-container-home > a:nth-child(1):hover {
	border: none;
}
#originator .manager-biography {
	margin-left: 0px;
}
#originator .manager-biography > p {
	font-family: inherit !important;
	font-size: 15px !important;
	color: inherit !important;
	line-height: inherit !improtant;
}
#accolates-originator #we-provide-more-master {
	margin: 0;
}
#accolates-originator #what-we-provide {
	flex-direction: column;
}
#accolades-originator .we-provide-more-master {
	width: 100%;
}
#accolades-originator .we-provide-this {
	width: 100%;
}
#accolades-originator .we-provide-this h4 {
	color: white;
	margin-top: 12px;
}
#accolades-originator .calculations-primary img {
	display: none;
}
#annie_mac-loan-officer .manager-biography p, #tmc-loan-officer .manager-biography p, #lofidirect-loan-officer .manager-biography p {
	text-align: justify;
	margin: 8px 0;
}
#accolades-originator #calculations-and-numbers {
	width: 100%;
	margin: 45px 0 0 0;
	display: flex;
	flex-direction: column;
}
.site-type-loan_officer .branch-manager-section {
	width: 95%;
	padding: 40px 15px 50px;
}
.calculations-primary h3 {
	margin-bottom: 15px;
	color: #006fa9;
	width: 100%;
	font-size: 28px;
	text-align: left;
	border-bottom: 1px solid rgba(0,0,0, .06);
	padding-bottom: 20px;
}
.action-buttons-calcs {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
}
.action-buttons-calcs button {
	width: 280px;
	margin: 0 23px 0 0;
}
#product-container-section {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	background: #fff;
	border-radius: 4px;
	border: 1px solid rgba(0,0,0,.2);
	box-shadow: 0 1px 2px 3px rgba(0,0,0,0.025);
	width: 95%;
}
.product-selectable {
	width: 45.66% !important;
	padding: 10px 20px;
	position: relative;
}
#grid1 {
	border-right: 1px solid rgba(0,0,0,.2);
	min-height: 280px;
}
#grid2 {
	min-height: 280px;
}
#grid3 {
	border-top: 1px solid rgba(0,0,0,.2);
	border-right: 1px solid rgba(0,0,0,.2);
	min-height: 340px;
}
#grid4 {
	border-top: 1px solid rgba(0,0,0,.2);
	min-height: 340px;
}
.product-selectable i {
	font-size: 24px !important;
	background: #0f4777;
	color: white;
	border-radius: 5px;
	padding: 8px;
	margin: 15px 0 10px !important;
}
.product-selectable a {
	position: absolute;
	bottom: 20px;
}
.product-selectable button {
	border-radius: 5px;
	background: #7FC24A;
}
.product-selectable button:hover {
	background: #006fa9;
}
.product-selectable h3 {
	font-size: 18px !important;
	margin: 10px 0 !important;
}
.product-selectable p {
	font-size: 15px !important;
	opacity: .6;
	line-height: 30px;
}
#list_11344 > a, #list_11343 > a, #list_11350 > a {
	display: block;
}
@media screen and (min-width: 1201px) {
	#originator-social-details a:first-of-type {
		background: #036fa8;
		border-radius: 2px;
	}
	#originator-social-details a:first-of-type li, #originator-social-details a:first-of-type li i {
		color: white;
	}
	#originator-social-details a:first-of-type:hover {
		background: #02517b;
	}
}

@media screen and (max-width: 1200px) {
	#annie_mac-loan-officer, #tmc-loan-officer, #lofidirect-loan-officer {
		flex-direction: column;
	}
	#annie_mac-loan-officer > #originator, #tmc-loan-officer > #originator, #lofidirect-loan-officer > #originator{
		max-width: none;
		margin: 0 auto;
	}
	#loan-originator-backdrop {
		order: -1;
	}
	#accolades-originator #we-provide-more-master {
		display: block;
	}
	#loan-originator-blurb-container {
		border-right: none;
		padding-right: 0;
		border-bottom: 1px solid rgba(0,0,0,.15);
		padding-bottom: 0px;
	}
	#originator-main-details {
		flex-direction: row;
		width: auto;
		margin: 0 auto;
	}
	#originator-core-details-text {
		min-width: auto;
	}
	#originator-social-details {
		width: 300px;
		margin: 0;
		margin-left: 40px;
	}
	div.calculations-primary:nth-child(2) {
		margin-top: 50px;
		padding: 0 50px;
	}
}
#links-sidebar-full-width { 
	display: none;
}
#sidebar-apply-now {
	display: block;
	margin: -30px auto 30px;
}
#sidebar-apply-now a {
	color: white !important;
	min-width: 84px !important;
	display: block;
	margin: 20px 0 10px;
	background: #7fc24a;
	border: 3px solid #7fc24a;
	color: #fff;
	font-weight: 800;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: .05em;
	text-align: center;
	padding: 15px;
}
@media screen and (min-width: 1200px) {
	#links-sidebar-full-width {
		display: block;
		margin-top: 50px;
		margin-left: 12px;
		margin-bottom: 100px;
		width: -webkit-fill-available;
	}
	#links-sidebar-full-width h4 {
		font-size: 21px;
		color: #333;
		font-weight: bold;
	}
	#links-sidebar-full-width a {
		color: #036fa8;
	}
	#links-sidebar-full-width ul {
		margin-top: 16px;
	}
	#links-sidebar-full-width li {
		height: 30px;
	}
	#accolades-originator #calculations-and-numbers {
		display: none;
	}
}
@media screen and (max-width: 994px) { 
	#product-container-section {
		flex-direction: column !important;
		width: 100%;
		margin-bottom: 30px;
	}
	.product-selectable {
	   width: auto !important;
	}
	.product-selectable h3 {
		text-align: left !important;
	}
	.product-selectable a {
		position: revert;
	}
	.product-selectable button {
		margin: 20px ​0 20px;
	}
	#grid1, #grid2, #grid3, #grid4 {
		min-height: auto !important;
		border: none !important;
	}
	#grid2, #grid3, #grid4 { 
		border-top: 1px solid rgba(0,0,0,.2) !important;
	}
}
@media screen and (max-width: 970px) { 
	#inserted-banner {
		margin-bottom: 0px;
	}
	#inserted-banner {
		padding-top: 0px;
	}
	#inserted-banner > .container-section > h3 {
		font-size: 35px !important;
	}
	#originator-core-details-text {
		padding: 20px 0;
	}
	.calculations-primary:nth-child(2) {
		margin-top: 50px;
		margin: 0 50px;
	}
	#covid-warning {
		width: auto;
		margin-top: -45px;
		padding: 30px 25px;
		margin-bottom: 10px;
	}
	#loan-originator-backdrop {
		margin-top: 0;
	}
	#loan-originator-blurb-container {
		padding-bottom: 15px;
		width: 100vw;
	}
	#originator > * {
		margin: 10px auto;
		padding: 10px;
	}
	#covid-warning {
		padding: 20px 10px;
		margin-top: -45px;
		margin-bottom: 30px;
	}
	#accolades-originator #calculations-and-numbers {
		margin: 0;
	}
	.we-provide-this {
		margin: 8px 0;
		border-radius: 0;
		padding: 20px 40px;
	}
	.action-buttons-calcs {
		flex-direction: column;
	}
	.calculations-primary:nth-child(2) {
		margin-top: 30px;
		margin: 0 25px;
	}
	.action-buttons-calcs button {
		margin: 10px 0;
		padding: 16px 0;
	}
	.manager-biography h2:first-of-type, .site-type-loan_officer #we-provide-more-master h3 {
		text-align: center;
		font-size: 30px;
	}
}
@media screen and (max-width: 969px) { 
	#inserted-banner {
		min-height: 245px;
		margin-bottom: 65px;
		background-size: cover;
	}
	#originator-main-details {
		flex-direction: column;
		margin: 0 auto !important;
	}
	#loan-originator-backdrop {
		margin-left: 0;
		padding-left: 0;
		margin-right: 0;
		padding-right: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	#originator-social-details {
		margin-left: 0;
	}
	#originator-social-details ul {
		flex-wrap: wrap;
		flex-direction: row;
	}
	#originator-social-details ul a {
		width: 50%;
		border-top: none;
	}
	#originator-social-details li {
		font-size: 14px;
		height: 80px;
		flex-direction: column;
	}
	#originator-social-details li i {
		font-size: 25px;
		margin-bottom: 5px;
	}
	#originator-main-details {
		margin-left: 0;
		padding-left: 0;
		width: unset;
	}
	#originator-core-details-portrait img {
		padding: 0;
		margin: 0;
		margin-bottom: 30px;
	}
}
#product-containment {
	display: none;
}
footer #list_11344 > a, footer  #list_11343 > a, footer  #list_11350 > a {
	letter-spacing: .65px;
	color: #fff;
	position: relative;
	font-weight: 200 !important;
	text-transform: uppercase;
	font-size: 21px !important;
	/* border-bottom: 1px solid rgba(255,255,255,.035); */
	/* padding-bottom: 11px; */
}
#mobile-apply a {margin: 20px 0 10px;background: #7fc24a;border: 3px solid #7fc24a;color: #fff;font-weight: 500;text-transform: uppercase;font-size: 14px;letter-spacing: .05em;text-align: center;padding: 15px 41px;}
#mobile-call a {
	margin-left: 0;
	background: #006fa9;
	border-radius: 5px;
	color: white !important;
	border: none;
	padding: 12px;
	font-weight: 400;
	font-size: 16px;
	line-height: 17px;
	min-width: 250px !important;
	display: block;
	margin-top: 10px;
}
@media screen and (min-width: 800px) { 
	#mobile-call {
		display: none;
	}
	#lastvisitedoriginatornotice {
	  position: fixed;
	  bottom: 0;
	  left: 0;
	  display: flex;
	  flex-direction: row;
	  width: 400px;
	  border-left: 0;
	  border-bottom: 0;
	  border-radius: 0;
	  margin-bottom: 0;
	  align-items: center;
	}
	#lastvisitedoriginatornotice img {
	  height: 100px;
	  width: 100px;
	  margin-right: 20px;
  }
}

 @media screen and (max-width: 750px) {
	#annie_mac-loan-officer .manager-biography p, #tmc-loan-officer .manager-biography p, #lofidirect-loan-officer .manager-biography p {
		margin: 0;
		padding: 0;
	}
	.site-type-loan_officer .manager-biography p {
		width: 100%;
	}
	#originator #biography {
		margin: 0;
		padding: 0;
		width: 98%;
	}
	#originator .manager-biography {
		width: auto;
		padding: 10px;
	}
	.site-type-corporate #home-banner {
		min-height: 1px !important;
		max-height: 350px;
		padding: 0;
		justify-content: center;
		background-position-x: 59%;
		border-bottom: 0;
	}
	.site-type-corporate #home-provide {
		width: 100%;
		padding: 0;
		margin-top: 60px;
	}
	.site-type-corporate #home-provide iframe {
		display: none;
	}
	.site-type-corporate #we-provide-more-master h3 {
		font-size: 37px;
	}
	.site-type-corporate #home-reviews {
		display: none;
	}
	.site-type-corporate #calculations-and-numbers {
		margin-top: 0px;
	}
	.site-type-corporate .calculations-primary:nth-child(2) {
		margin: 0;
		margin-top: 30px;
	}
	.site-type-corporate #new-perk-plans {
		margin: 0 !important;
	}
	#calculations-and-numbers {
		padding-bottom: 0;
	}
	.site-type-corporate .action-buttons-calcs button {
		width: 150px;   
	}
	#navigation_new_upper .menu {
		display: none;
	}
	#start-your-story {
		margin-top: 10px;
	}
	#sitemap {
		display: flex;
		flex-direction: column;
	}
	footer #copyrights {
		align-items: flex-start;
	}
	#copyrights ul:nth-of-type(1) {
		margin: 0;
	}
	footer #sitemap ul.menu.nav li ul {
		margin: 10px 0px;
	}
	footer #sitemap ul.menu.nav {
		justify-content: flex-start;
		flex-direction: column;
	}
	.we-provide-this h4, .blog-home-entry h4 {
		font-size: 26px;
		text-align: left;
		border: none;
		padding-bottom: 0;
		margin-top: 5px;
	}
	.we-provide-this p, .blog-home-entry p {
		font-size: 16px;
		text-align: left;
		width: auto;
		margin: 18px auto;
	}
}
.breadcrumb {
	display: none;
}
.site-type-branch #covid-warning {
	margin-top: 10px !important;
}
#site-navigation {
	z-index: 1000;
}

.annapolis #branch-banner {
  background: linear-gradient(177deg, rgb(23 16 5 / 52%) 30%, rgb(29 27 18 / 54%) 80%), url('https://www.annie-mac.com/uploads/sites/10713/public/annapolis-branch.jpeg') center !important;
  background-size: cover !important;
  background-position-y: 28% !important;
}
#branch-overlay {
	background: transparent;
}
.site-type-loan_officer #we-provide-more-master h3 {
	margin-left: 0;
}

@media screen and (max-width: 574px) {
	  #branch-banner {
		background-size: cover !important;
	  }
	  .calculations-primary:nth-child(2) {
		margin: 0;
		padding: 0;
	}
	  .branch-manager-section .manager-information {
		width: 100% !important;
	}
	  .team-member {
		width: auto;
		margin: 20px 0 40px;
	}
	.team-member:last-of-type {
		  margin-left: 0;
		  margin: 0;
	}
	.team-member-section {
		  flex-direction: column;
	}
}
#annie-mac-2021-redesign-container, .annie-mac-2021-redesign-section {
  width: initial !important;
}

div#flash-message {
  display: none !important;
}

#hannahkatz .team-member-portrait {
  background-position-y: 12% !important;
}

#mattmiller .team-member-portrait {
  background-position-y: -1% !important;
}

#andrewquinn .team-member-portrait {
  background-position-y: 24% !important;
}

#aaronjacobson .team-member-portrait {
  background-position-y: 10% !important;
}

#form_builder {
  margin: 30px auto 60px;
  min-width: auto;
  width: 95%;
  max-width: 1000px;
}

#form_builder label {
  margin-top: 40px;
  font-weight: 300;
}

#form_builder .text {
  padding: 20px 30px;
  margin: 35px 0;
  background: #0f4879;
  color: #ffffff;
  box-shadow: 0 1px 2px 3px rgb(0 0 0 / 7%);
}

#form_builder .form-wrapper {
  display: flex;
  flex-direction: column;
}

#form_builder input.btn.button-main.previous {
  background: #8d8d8d !important;
  order: 3;
}

#form_builder .next-contaner {
  display: flex;
  flex-direction: column;
}

#form_builder input, #form_builder select, #form_builder textarea {
  margin: 20px 0 15px 0 !important;
  padding: 18px;
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
  font-family: 'neue-haas-unica', sans-serif;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, .3);
  box-shadow: 0 1px 2px 3px rgb(0 0 0 / 2%);
  color: rgba(0, 0, 0, .85);
  font-weight: 400;
  letter-spacing: .8px;
  min-width: 100%;
  opacity: 1;
}

#form_builder select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  background: url('images/dropdown-arrow.jpeg') no-repeat right;
  background-size: 20px;
  background-position-x: calc(100% - 10px);
  color: #454545ba;
}

#form_builder input[type="submit"], #form_builder input[type="button"] {
  background: #7FC24A;
  padding: 28px 35px;
  border-radius: 6px;
  color: white;
  font-weight: 400;
  margin-top: 45px;
  font-size: 20px;
  box-shadow: 1px 1px 3px rgb(0 0 0 / 12%);
  text-transform: capitalize;
  outline: none;
  border: none;
}

#form_builder input[type="submit"]:hover, #form_builder input[type="button"]:hover {
  border: none;
  background: #016fa8;
  outline: none;
}

#form_builder .g-recaptcha {
  margin-top: 45px;
}

#form_builder .error_label {
  margin-top: -32px;
}

#form_builder .next-contaner {
  margin-top: 30px;
  margin-bottom: -10px;
}

#form_builder input:focus, #form_builder input:active, #form_builder input:hover, #form_builder select:focus, #form_builder select:active, #form_builder select:hover {
  border: 1px solid #4d9fcb;
}

#site-navigation ul .navigation-sectional li img {
	width: auto;
	height: 40px;
}
#team-site > #team-display #branch-managers .branch-manager-section .manager-information .team-member-information h5:first-of-type {
  display: flex;
  flex-direction: column-reverse;
}
#team-site > #team-display #branch-managers .branch-manager-section .manager-information .team-member-information h5:last-of-type {
  margin-top: -20px;
}
.teamsitelocationdeclaration a {
  color: #006fa9;
  font-weight: 300;
  font-size: 17px;
  margin: -6px;
  display: block;
  word-spacing: 1px;
}
.link-to-website-identify {
 display: none;
}
.team-member-information h4 a {
	 font-weight: 600;
}

@media screen and (max-width: 1175px) {
  .team-member {
	margin: 20px 0 !important;
	width: 30% !important;
  }
  .branch-manager-section, .manager-information {
	justify-content: center;
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
	align-items: center;
  }
}

#csteam .team-member-information .team-member-portrait {
  background-position-y: 4% !important;
}
@media screen and (max-width: 950px) {
	.team-member-information {
		width: initial !important;
	  }
	.team-member, .site-type-team .branch-manager-section, .branch-manager-section .manager-information {
		width: 100% !important;
	}
}


@media screen and (max-width: 950px) {
	#site-navigation #navigation_new_upper .navigation-sectional:nth-of-type(2) .menu:first-of-type {
		display: none !important;
	}
	#home-banner {
		height: 318px;
		min-height: initial;
		justify-content: flex-start;
	}
	.container-section h3 {
		font-size: 45px;
	}
	.container-section h3 span {
		font-size: 22px;
		margin-bottom: -25px;
	}
	.review-grid {
		flex-direction: column;
	}
	#home-provide {
		width: 100%;
		margin-top: -180px;
	}
	.review {
		margin-bottom: 0;
	}
	.review p {
		font-size: 16px;
		width: 100%
	}
	.review:nth-of-type(3) {
		margin-bottom: 60px;
	}
	.more-block {
		width: 100%;
		margin: -59px 0;
	}
	#deserve-more-container-master {
		padding: 45px;
	}
	#deserve-more-container-master h3 {
		margin-bottom: 55px;
	}
	#we-provide-more-master {
		margin-top: 40px;
	}
	.we-provide-this {
		width: 100%;
	}
	.we-provide-this h4 {
		margin-top: 30px;
	}
	.we-provide-this p {
		font-size: 18px;
		line-height: 32px;
		font-weight: 200;
	}
	.provided-links {
		padding-top: 0;
	}
	.provided-links a {
		display: inline-block;
		width: 245px;
		margin-top: 20px;
	}
	#home-blog .block ul {
		flex-direction: column;
	}
	#home-blog .block ul li {
		width: 100%;
	}
	#more-blogs {
		margin: 40px auto 0;
	}
	footer {
		background: transparent;
		margin-top: -30px;
	}
	footer #sitemap {
		display: none;
	}
}

.edit-group {
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0;
}

.edit-menu {
	display: flex;
	width: 154px;
	justify-content: space-between;
	opacity: .4;
}

.edit-menu a {
	font-weight: 200 !important;
	color: #000 !important;
}