<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1">
		<title>AnnieMac Home Mortgage - Hero Perks Form</title>
		<link rel="canonical" href="https://www.annie-mac.com/" />
		<meta name="keywords" content="AnnieMac, AnnieMac Home Mortgage, AnnieMac Home Mortgage NJ, home loan mortgage calculator, va home loan mortgage calculator, FHA loan, VA loan, mortgage refinance, mortgage application">
		<meta property="og:locale" content="en_US" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="AnnieMac Home Mortgage - Hero Perks Form" />
		<meta name="author" content="https://annie-mac.com">
		<meta name="description" content="At AnnieMac, we believe you deserve more from the mortgage industry, so we provide more. Our customers are more than credit scores and income documents. They are the individuals and families who live in and strengthen our communities. Their story is our story. And that story begins in a home." />
		<meta property="og:description" content="At AnnieMac, we believe you deserve more from the mortgage industry, so we provide more. Our customers are more than credit scores and income documents. They are the individuals and families who live in and strengthen our communities. Their story is our story. And that story begins in a home." />
		<meta property="og:url" content="https://www.annie-mac.com/" />
		<meta property="og:site_name" content="AnnieMac Home Mortgage" />
		<meta property="og:locale" content="en_US">
		<meta property="og:type" content="business">
		<meta property="og:image" content="https://www.annie-mac.com/uploads/sites/10713/public/annie-mac.jpeg">
		<meta property="og:site_name" content="AnnieMac Home Mortgage - Hero Perks Form">
		<meta property="og:title" content="AnnieMac Home Mortgage - Hero Perks Form">
		<meta name="twitter:title" content="AnnieMac Home Mortgage - Hero Perks Form">
		<meta name="description" content=" At AnnieMac, we believe you deserve more from the mortgage industry, so we provide more. Our customers are more than credit scores and income documents. They are the individuals and families who live in and strengthen our communities. Their story is our story. And that story begins in a home.">
		<meta property="og:description" content=" At AnnieMac, we believe you deserve more from the mortgage industry, so we provide more. Our customers are more than credit scores and income documents. They are the individuals and families who live in and strengthen our communities. Their story is our story. And that story begins in a home.">
		<meta name="twitter:url" content="https://annie-mac.com/">
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:description" content="At AnnieMac, we believe you deserve more from the mortgage industry, so we provide more. Our customers are more than credit scores and income documents. They are the individuals and families who live in and strengthen our communities. Their story is our story. And that story begins in a home." />
		<meta name="twitter:title" content="AnnieMac Home Mortgage - Hero Perks Form" />
		<meta name="twitter:site" content="@AnnieMacMtg" />
		<meta name="twitter:image" content="https://www.annie-mac.com/uploads/sites/10713/public/anniemac_400.jpeg" />
		<meta name="twitter:creator" content="@AnnieMacMtg" />
		<meta name="ahrefs-site-verification" content="ffeb962f4d4cd6a9f1ec079aaaa33c8f41bbc18e587a1c42f5afaffa8b46afa5">
		<link rel='stylesheet' id='form-css' href='https://anniemachomemortgage.github.io/AnnieMac/tasks/va-first/styling.css' type='text/css' media='all' />
		<script id="jquery-link" src="https://code.jquery.com/jquery-latest.min.js"></script>
		<script id="page-specific-functionality-script" src="https://anniemachomemortgage.github.io/AnnieMac/tasks/va-first/functionality.js"></script>
	</head>
	
	<body class="mobile-first-lead-capture-body">
		<div class="veterans-home-banner">
			<img alt="Heroes Home Logo" src="https://anniemachomemortgage.github.io/AnnieMac/tasks/va-first/images/heroeshomelogo.png">
		</div>
		<main class="mobile-first-lead-capture-main">
	
			<section class="mobile-first-lead-capture-section">
	
				<form class="mobile-first-lead-capture-form">
					<input type="hidden" id="Filter" value="CostCenter">
					{% if site.siteType.keyName == 'branch'%}
					{% set branch = site.settings.branch %}
					{% if branch.costCenter is not empty %}
					<input type="hidden" id="FilterValue" value="{{ branch.costCenter }}">
					{% else %}
					<input type="hidden" id="FilterValue" value="">
					{% endif %}
					{% endif %}
					<input id="leadSource" type="hidden" data-xml-node="LeadSourceId" value="Q6UJ9A1SSGGV">
					<input type="hidden" id="Entity" value="PreQual">
					<input type="hidden" id="Redirect" name="redirect" value="/page/hero-perks-success">
					<input type="hidden" id="Redirect2" name="redirect2" value="/page/hero-perks-success">
					<input type="hidden" id="TargetURL" value="https://anniemac.mortgageiqcrm.com/client">
					{% if site.siteType.keyName == 'loan_officer'%}
					{% set officer = site.settings.loanOfficer %}
					{% if officer.miqGuid is not empty%}
					<input type="hidden" id="UserId" name="UserId" value="{{ officer.miqGuid }}">
					{% else %}
					<input type="hidden" id="UserId" name="UserId" value="U6UJ9A00035M">
					{% endif %}
					{% endif %}
					{% if site.siteType.keyName == 'team'%}
					{% set officer = site.settings.team %}
					{% if officer.miqGuid is not empty%}
					<input type="hidden" id="UserId" name="UserId" value="{{ team.miqGuid }}">
					{% endif %}
					{% endif %}
					<div id="initiate">
						<label>What type of loan are you looking for?</label>
						<div class="initial-options">
							<div class="initial-option" id="a-option">Purchase</div>
							<div class="initial-option" id="b-option">Refinance</div>
						</div>
					</div>
					<div class="purchase inactive" id="purchase-form">
						<div class="question-1">
							<label>Where are you looking to purchase?</label>
							<input type="text" id="purchase-zip" data-xml-node="" minlength="5" placeholder="ZIP">
							<div class="pagination">
								<button class="next-1" disabled>Continue</button>
								<button class="back-0">Back</button>
							</div>
						</div>
						<div class="inactive question-2">
							<label>What is the estimated purchase price?</label>
							<input type="text" id="purchase-price" data-xml-node="" minlength="5" placeholder="Estimated price">
							<div class="pagination">
								<button class="next-2" disabled>Continue</button>
								<button class="back-1">Back</button>
							</div>
						</div>
						<div class="inactive question-3">
							<label>How is your credit?</label>
							<input type="hidden" id="purchase-credit" minlength="0" data-xml-node="">
							<select id="purchase-credit-dropdown" class="credit-score-dropdown">
								<option value="Poor">Poor (< 619)</option>
								<option value="Fair">Fair (620-679)</option>
								<option value="Good">Good (680-719)</option>
								<option value="Excellent">Excellent (720+)</option>
							</select>
							<small>Estimating your score will not harm your credit and will help us provide a range of available rates.</small>
							<div class="pagination">
								<button class="next-3">Continue</button>
								<button class="back-2">Back</button>
							</div>
						</div>
						<div class="inactive question-4">
							<label>Who is the loan for?</label>
							<input type="text" id="purchase-first-name" data-xml-node="" minlength="2" placeholder="First name">
							<input type="text" id="purchase-last-name" data-xml-node="" minlength="2" placeholder="Last name">
							<div class="pagination">
								<button class="next-4" disabled>Continue</button>
								<button class="back-3">Back</button>
							</div>
						</div>
						<div class="inactive question-5">
							<label>Where can we reach you?</label>
							<input type="text" id="purchase-phone" data-xml-node="" minlength="10" placeholder="Phone number">
							<small>We'll use this number to connect you with a loan officer in your area. It will not be shared or sold.</small>
							<div class="pagination">
								<button class="next-5" disabled>Continue</button>
								<button class="back-4">Back</button>
							</div>
						</div>
						<div class="inactive question-6">
							<label>What is your email address?</label>
							<input type="text" id="purchase-email" data-xml-node="" placeholder="Email address">
							<small>We are committed to protecting your personal information. We only use this information to contact your regarding your inquiry.</small>
							<button data-qlf-submit="" id="toggle-captcha" class="g-recaptcha" data-sitekey="6LdDJPoUAAAAAMi9pjPYdfetUKDQk4AIRE4UdSL6" data-callback="onSubmit" data-action="submit" type="submit">Submit</button>
							<small>By submitting, I am authorizing American Neighborhood Mortgage Acceptance Company, LLC (d/b/a AnnieMac Home Mortgage, LoFiDirect and The Mortgage Company) to deliver telemarketing calls and text messages to my cell phone using an auto-dialer, text message, or a prerecorded message. I also understand that I am not required to provide this authorization as a condition to doing business with American Neighborhood Mortgage Acceptance Company, LLC (d/b/a AnnieMac Home Mortgage, LoFiDirect and The Mortgage Company). Standard text message calling rates will apply.</small>
						</div>
					</div>
					<div class="refinance inactive" id="refinance-form">
						<div class="ref-question-1 question-1">
							<p class="thank-you-note">Thank you for your service! If you are active duty, a veteran, a reservist or a surviving spouse of a veteran you automatically qualify for a lender credit of $500.00. We’ve also partnered with PerkPlans to offer you deep discounts on thousands of services and products at absolutely no cost to your family. Your PerkPlans access is waiting on the conformation page</p>
							<label>Where is the property located?</label>
							<input type="text" id="refinance-zip" data-xml-node="" minlength="5" placeholder="ZIP">
							<div class="pagination">
								<button class="next-1" disabled>Continue</button>
								<button class="back-0">Back</button>
							</div>
						</div>
						<div class="inactive ref-question-2 question-2">
							<label>Approximately how much is remaining on your mortgage?</label>
							<input type="text" id="refinance-remaining" data-xml-node="" minlength="5" placeholder="Remaining loan">
							<div class="pagination">
								<button class="next-2" disabled>Continue</button>
								<button class="back-1">Back</button>
							</div>
						</div>
						<div class="inactive ref-question-3 question-3">
							<label>How is your credit?</label>
							<input type="hidden" id="refinance-credit" data-xml-node="CreditScore">
							<select id="refinance-credit-dropdown" class="credit-score-dropdown">
								<option value="Poor">Poor (< 619)</option>
								<option value="Fair">Fair (620-679)</option>
								<option value="Good">Good (680-719)</option>
								<option value="Excellent">Excellent (720+)</option>
							</select>
							<small>Estimating your score will not harm your credit and will help us provide a range of available rates.</small>
							<label>Are you looking for cash out for debt consolidation or home repairs?</label>
							<select id="additional-question" class="credit-score-dropdown">
								<option value="no-not">No</option>
								<option value="yes-i-am">Yes</option>
							</select>
							<div class="initial-hidden" id="toggle-additional">
								<label>How much are you looking for for debt consolidation or home repairs?</label>
								<input type="text" id="debtconsolidationyes" data-xml-node="Comment">
							</div>
							<div class="pagination">
								<button class="next-3">Continue</button>
								<button class="back-2">Back</button>
							</div>
						</div>
						<div class="inactive ref-question-4 question-4">
							<label>Who is the loan for?</label>
							<input type="text" id="refinance-first-name" data-xml-node="" minlength="2" placeholder="First name">
							<input type="text" id="refinance-last-name" data-xml-node="" minlength="2" placeholder="Last name">
							<div class="pagination">
								<button class="next-4" disabled>Continue</button>
								<button class="back-3">Back</button>
							</div>
						</div>
						<div class="inactive ref-question-5 question-5">
							<label>Where can we reach you?</label>
							<input type="text" id="refinance-phone" data-xml-node="" minlength="10" placeholder="Phone number">
							<small>We'll use this number to connect you with a loan officer in your area. It will not be shared or sold.</small>
							<div class="pagination">
								<button class="next-5" disabled>Continue</button>
								<button class="back-4">Back</button>
							</div>
						</div>
						<div class="inactive ref-question-6 question-6">
							<label>What is your email address?</label>
							<input type="text" id="refinance-email" data-xml-node="" minlength="5" placeholder="Email address">
							<small>We are committed to protecting your personal information. We only use this information to contact your regarding your inquiry.</small>
							<button data-qlf-submit="" id="toggle-captcha" class="g-recaptcha" data-sitekey="6LdDJPoUAAAAAMi9pjPYdfetUKDQk4AIRE4UdSL6" data-callback="onSubmit" data-action="submit" type="submit">Submit</button>
							<small>By submitting, I am authorizing American Neighborhood Mortgage Acceptance Company, LLC (d/b/a AnnieMac Home Mortgage, LoFiDirect and The Mortgage Company) to deliver telemarketing calls and text messages to my cell phone using an auto-dialer, text message, or a prerecorded message. I also understand that I am not required to provide this authorization as a condition to doing business with American Neighborhood Mortgage Acceptance Company, LLC (d/b/a AnnieMac Home Mortgage, LoFiDirect and The Mortgage Company). Standard text message calling rates will apply.</small>
						</div>
					</div>
				</form>
				<script src='https://anniemac.mortgageiqcrm.com/client/Libraries/MortgageIQ/jscript/qlf.core.js'></script>
			</section>
		</main>
		<div class="veterans-home-footer">
			<img src="https://anniemachomemortgage.github.io/AnnieMac/tasks/va-first/images/fiocchi.png" alt="Fiocchi Portrait" class="contact_photo">
			<div class="contact_information_basic">
				<h3>Randy Fiocchi</h3>
				<h4>Mortgage Loan Originator <span> NMLS# 175676 </span></h4>
				<h5>Certified Military Housing Specialist, Community Mortgage Team</h5>
				<div class="communication_information">
					<a href="mailto:RFiocchi@Annie-Mac.com"><button>Email</button></a>
					<a href="tel:717-707-2177"><button>Phone</button></a>
					<a href="https://randyfiocchi.annie-mac.com"><button>Website</button></a>
				</div>
			</div>
	
		</div>
	</body>