@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
#site-navigation, footer, header {
display: none !important;
}
* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
html, body, h1, h2, h3, h4, h5, h6, p, ul, li, section, main, header, nav, footer {
font-family: 'inter', sans-serif;
font-size: 16px;
line-height: 30px;
font-weight: 400;
color: #3d3d3d;
}
header, main, section, form, form div, footer {
display: flex;
flex-direction: column;
}

body {
margin: 0;
padding: 0;
}

.veterans-home-banner {
background: url('images/Veterans.png');
box-shadow: 1px 3px 8px rgba(0,0,0,.12);
background-size: cover;
display: flex;
justify-content: flex-end;
align-items: center;
background-position-y: 55%;
margin: 30px auto 40px;
border-radius: 6px;
width: 90%;
max-width: 580px;
min-height: 200px;
}

.mobile-first-lead-capture-main {
margin: -10px auto -10px;
min-width: 500px;
z-index: 1;
width: 90%;
max-width: 580px;
min-height: 500px;
}

.thank-you-note {
font-weight: 200;
font-size: 18px;
color: #0f0f0f;
}

img {
width: 200px;
height: auto;
margin-top: -30px;
margin-bottom: 30px;
background: white;
}

@media only screen and (max-width: 421px) {
.mobile-first-lead-capture-main {
width: 90vw;
margin: 60px auto;
}
img {
width: 225px;
}	
}

h3 {
font-size: 25px;
margin: 25px 0 12px;
color: #076fa6;
font-weight: 400;
}

label {
font-size: 23px;
margin: 25px 0 16px;
color: #076fa6;
font-weight: 300;
}

.initial-options {
display: flex;
flex-direction: column;
justify-content: space-between;
height: 120px;
box-shadow: 0 1px 2px 3px rgb(0 0 0 / 2%);
}

.initial-option {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
margin: 4px 0 6px 0;
padding: 18px;
border-radius: 4px;
font-size: 1rem;
outline: none;
font-family: 'neue-haas-unica', sans-serif;
background: white;
border: 1px solid rgba(0, 0, 0, .2);
color: rgba(0, 0, 0, .85);
font-weight: 400;
letter-spacing: .8px;
opacity: 1;
min-height: 146px;
}

.initial-option:first-of-type {
margin-top: 0;
}

.initial-option:hover {
background: #fafafa;
cursor: pointer;
}

.initial-option:active {
background: #f5f5f5;
}

.pagination {
margin-top: 20px;
}
.selected {
background: #f5f5f587;
}

.pagination {
display: flex;
flex-direction: column;
justify-content: space-between;
}

.pagination button {
padding: 12px 24px;
border-radius: 3px;
color: white;
outline: none;
border: none;
font-weight: 400;
font-size: 17px;
box-shadow: 1px 1px 3px rgb(0 0 0 / 2%);
margin: -10px 0 25px;
}

.pagination button:hover {
cursor: pointer;
box-shadow: 1px 1px 3px rgb(0 0 0 / 6.5%);
}

.pagination button:first-of-type {
background: #78c253;
}

.pagination button:first-of-type:hover {
background: #075d8b;
}

.pagination button:last-of-type {
background: #A2A2A2;
}

.pagination button:last-of-type:hover {
background: #899ba5;
}

button[disabled] {
opacity: .7;
}

button[disabled]:hover {
cursor: not-allowed;
}

input, select {
margin: -3px 0 15px 0;
padding: 18px;
border-radius: 4px;
font-size: 1rem;
outline: none;
font-family: 'neue-haas-unica', sans-serif;
background: #fff;
border: 1px solid rgba(0, 0, 0, .2);
box-shadow: 0 1px 2px 3px rgb(0 0 0 / 2%);
color: rgba(0, 0, 0, .85);
font-weight: 400;
letter-spacing: .8px;
width: auto;
opacity: 1;
}

select {
-webkit-appearance: none;
-moz-appearance: none;
text-indent: 1px;
background: url('images/dropdown-arrow.jpeg') no-repeat right;
background-size: 3%;
background-position-x: calc(100% - 10px);
color: #454545ba;
}

button[type="submit"] {
background: #7FC24A;
padding: 28px 35px;
border-radius: 6px;
color: white;
font-weight: 400;
margin-top: 45px;
font-size: 20px;
box-shadow: 1px 1px 3px rgb(0 0 0 / 12%);
text-transform: capitalize;
margin: 15px 0;
outline: none;
border: none;
}

input:focus, input:active, input:hover, select:focus, select:active, select:hover {
border: 1px solid #4d9fcb;
}

small {
margin: -2px 0 10px;
line-height: 22px;
font-size:  14px;
}

.inactive {
display: none;
}
.veterans-home-footer {
margin: 50px auto 30px;
min-width: 500px;
width: 90%;
max-width: 580px;
min-height: 200px;
display: flex;
align-items: center;
padding-top: 32px;
padding-left: 15px;
}
.contact_photo {
max-width: 200px;
border-radius: 6px;
margin-top: -12px;
margin-right: 20px;
}
.contact_information_basic {
width: 300px;
margin-top: -48px;
}
.contact_information_basic h3 {
margin-bottom: -15px;
margin-top: 0;
}
.communication_information {
display: flex;
width: 90%;
justify-content: space-between;
}
.contact_information_basic h4 {
font-size: 20px;
font-weight: 200;
margin-bottom: 15px;
margin-top: 12px;
}
.contact_information_basic h4 span {
display: block;
font-weight: 600;
font-size: 15px;
margin: -5px 0;
}	.contact_information_basic h5 {
font-weight: 300;
font-size: 16px;
line-height: 19px;
margin-top: 19px;
}
.initial-hidden {
		display: none;
	}
.communication_information a button {
padding: 9px 24px;
border-radius: 3px;
color: white;
outline: none;
border: none;
font-weight: 400;
font-size: 17px;
box-shadow: 1px 1px 3px rgb(0 0 0 / 2%);
margin: 15px 15px 0 auto;
background: #78c253;
}
.communication_information a button:hover {
background: #076fa6;
}

@media screen and (max-width: 650px) {
.veterans-home-banner {
margin: 0px auto 40px;
border-radius: 0;
width: 100%;
min-height: 255px;
max-width: 100%;
}
.contact_photo {
margin-right: 0;
}
.veterans-home-footer {
flex-direction: column;
min-width: initial;
width: initial;
max-width: initial;
}
.contact_information_basic {
text-align: center;
margin-top: 0;
}
.contact_information_basic h5 {
line-height: 23px;
}
.communication_information {
padding-bottom: 15px;
width: 100%;
display: flex;
flex-direction: column;
}
.communication_information a button {
margin: 1px auto 12px auto;
min-width: 200px;
padding: 13px;
}
}
