:root {
	/* background: #323848
	background text: #303646
	dark color: #242a35
	accent color: #df9a2a
	color 1: #b6bbca
	color 2: #ffffff */
	--black: #3A3335;
	--green: #095416;
	--medgreen: #0a4815;
	--blackgreen: #2e3a35;
	--backgrounda: #727272;
	--backgroundb: #222222;
	--darkgreen: #13341a;
	--lightorange: #cd9070;
	--orange: #F26419;
	--faded: #f7f6f3;
	--blue: #172A3A;
	--gray: #aeb5b0;
	--darkergray: #606c64;
	--border: #51515185;
	--white: #fff;
	--offwhite: #f7f7f7;
	--accentwhite: #f2fff5;
}