@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
	--mainbody: #3a3a3a;
	--bodytext: #333a40;
	--linking: #7d7d7d;
	--hoverlink: #2e2c2d;
	--secondary: #d00705;
	--lightbackground: rgb(164 171 161 / 14%);
	--tirtiary: #565b61;
	--lightaccent: #c3c5c75e;
	--faded: #dee2e6;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
section,
main,
header,
nav,
footer {
	font-family: 'poppins', sans-serif;
	font-size: 16px;
	line-height: 30px;
	font-weight: 400;
	color: var(--mainbody);
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
}

a {
	color: var(--linking);
	text-decoration: none;
	font-weight: 600;
}

a:hover {
	color: var(--hoverlink);
	border-bottom: 1px solid var(--hoverlink);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--bodytext);
	margin: 0;
	font-weight: 600;
	padding: 0;
}

h1 {
	font-size: 59px;
	font-weight: 900;
}

h2 {
	font-size: 28px;
	font-weight: 800;
}

h3 {
	font-size: 22px;
	font-weight: 700;
}

h4,
h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
	font-weight: 400;
	opacity: .8;
}

p,
ul,
li {
	line-height: 30px;
	margin: 0;
}

header {
	background: linear-gradient(171deg, rgb(220 3 1 / 79%) 20%, rgb(159 2 0 / 87%) 80%), url(https://images.unsplash.com/photo-1600880292203-757bb62b4baf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
	background-position-y: 16%;
	position: relative;
	background-size: cover;
	min-height: 670px;
}

logo {
	margin-top: -10px;
	border-radius: 2px;
	top: 15px;
	left: 58px;
}

#district-mortgage-logo {
	width: 155px;
	margin-top: 0;
}

logo img:hover,
#home-navigation-bar:hover,
#loans-navigation-bar:hover,
#resources-navigation-bar:hover {
	cursor: pointer;
}

#home-navigation-bar:hover,
#loans-navigation-bar:hover,
#resources-navigation-bar:hover {
	color: var(--hoverlink);
}

.header-content {
	justify-content: center;
	display: flex;
	text-align: center;
}

.title-containers {
	display: flex;
	flex-direction: column;
}

.header-content:last-of-type {
	padding-bottom: 53px;
}

.headercontain {
	display: flex;
	flex-direction: column;
}

nav {}

nav ul {
	list-style-type: none;
	margin: 0;
	justify-content: space-between;
	align-items: center;
	position: relative;
	background: white;
	width: 100%;
	padding: 0px 20px;
	margin-bottom: 77px;
}

#navigation {
	justify-content: space-between;
	align-items: center;
	background: white;
	width: 740px;
}

#navigation li a {
	letter-spacing: .65px;
	color: #000;
	position: relative;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 14px;
}

#navigation li a:hover {
	color: #d00705;
	border-bottom: 1px solid #d00705;
}

#apply-navigation-bar {
	border-radius: 5px;
	outline: none;
	padding: 5px 30px;
	width: fit-content;
	background: #d00705;
	border: 3px solid #d00705;
	color: #fff;
	font-weight: 700;
}

#apply-navigation-bar a {
	color: inherit;
}

#apply-navigation-bar:hover {
	color: #fff;
	background: #d00705;
	border: 3px solid #d00705;
	cursor: pointer;
}

#apply-navigation-bar a:hover {
	border-bottom: 0;
}

h1#headline {
	line-height: 82px;
	color: #fff;
	font-size: 81px;
	font-weight: 400;
	text-transform: uppercase;
	width: 651px;
	margin: 50px auto;
}

h2#sub-headline {
	font-size: 24px;
	text-align: center;
	color: #fff;
	font-weight: 600;
	border-bottom: 1px solid;
	display: inline-block;
	width: 260px;
	margin: 0 auto;
	letter-spacing: 2.6px;
}

button {
	color: #d00705;
	background: transparent;
	border: 3px solid #d00705;
	outline: none;
	padding: 13px 15px;
	border-radius: ;
	font-size: inherit;
	font-weight: 600;
	letter-spacing: .05em;
	margin: 5px 0;
	width: fit-content;
}

.button-containers button {
	padding: 16px 0;
	margin: 0 10px 0;
	min-width: 180px;
	background: #fff;
	border: 3px solid #fff;
	color: #111;
	font-weight: 800;
	text-transform: uppercase;
	font-size: 14px;
	border-radius: 3px;
}

a#cta1:hover,
a#cta2:hover,
#get-approved a:hover,
.card-links a:hover {
	border-bottom: none !important;
}

button:hover {
	color: #fff;
	background: #d00705;
	border: 3px solid #d00705;
	cursor: pointer;
}

a button:hover {
	cursor: pointer;
}

main {
	z-index: 1;
}

.homepage-initial-container,
.alternation {
	background: #f3f6fb;
}

.selection-container {
	display: flex;
	flex-direction: column;
	background: #fff;
	margin: -122px auto 60px;
	padding: 51px;
	width: 68%;
	max-width: 980px;
	min-width: 500px;
	box-shadow: 3px 10px 17px rgba(0, 0, 0, .05);
	border-radius: 3px;
}

.selection-grid-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.statistics-grid {
	max-width: 1250px;
	margin: 0 auto;
	padding: 20px 0;
	width: 75%;
}

.intro-blurb p {
	font-size: 15.8px;
	text-align: center;
	margin: -10px 0 42px;
}

.solidlinedivider {
	width: 1px;
	background: #78787821;
}

.contained-option {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contained-option h2 {
	font-weight: 200;
	font-size: 24px;
}

.contained-option-icons {
	width: 76px;
	margin: 11px 0 26px;
	order: -1;
}

.contained-option button,
.callout-ending-container button {
	padding: 20px 25px;
	margin-top: 30px;
	min-width: 195px;
	text-transform: uppercase;
	font-size: 14px;
	background: #d00705;
	border: 3px solid #d00705;
	color: #fff;
	border-radius: 6px;
}

.contained-option button a {
	color: inherit;
	font-weight: 600;
}

button a:hover {
	border-bottom: none !important;
}

#initial-section {
	padding: 35px 0;
}

.negative-top .left-side-container>h3:first-of-type {
	margin-top: -5px;
}

.sectional h2 {
	margin-bottom: 15px;
}

.sectional h3,
.sectional h4,
.sectional h5 {
	margin-top: 25px;
	margin-bottom: 10px;
}

.sectional h5 {
	font-weight: 300;
}


.sectional h2 {
	margin: 0 0 15px;
	font-weight: 700;
	font-size: 25px;
	color: black;
}

.navigation-contain {
	max-width: 1250px;
	margin: 0 auto;
	padding: 14px 0;
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.contain {
	max-width: 1250px;
	margin: 0 auto;
	padding: 20px 0;
	width: 90%;
}

.row-display {
	display: flex;
}

.description-text-header {
	text-align: center;
	font-size: 18px;
	letter-spacing: 2.5px;
	color: #d00705;
	font-weight: 500;
	margin-top: -10px !important;
	display: flex;
	align-items: center;
	justify-content: center;
}

.description-text-header::after {
	content: '';
	display: inline-block;
	min-height: 3px;
	min-width: 35px;
	background: #d00705;
	margin-left: 20px;
}

.header-text-h2 {
	text-align: center;
	font-size: 40px !important;
	margin-top: 33px !important;
}

#loan-process-timeline {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	list-style: none;
	margin: 45px 0 60px;
}

.process-step-of-loan {
	text-align: center;
	width: 24%;
	position: relative;
}

.process-step-of-loan .image-contain {
	background: #d00705;
	width: 80px;
	height: 80px;
	margin: 20px auto 10px;
	border-radius: 100%;
	box-shadow: 3px 6px 17px rgb(0 0 0 / 10%);
	border: 4px solid white;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 30px;
}

.process-step-of-loan>h4 {
	font-size: 18px;
	line-height: 20px;
}


.process-step-of-loan>span {
	font-size: 13px;
	line-height: 20px;
	width: 196px;
	margin: 0 auto;
	display: block;
	color: #6d6d6d;
}

.process-step-of-loan+.process-step-of-loan::after {
	background-image: url(images/arrow.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% auto;
	content: '';
	display: block;
	height: 28px;
	width: 55px;
	position: absolute;
	top: 35%;
	left: -17px;
	opacity: .45;
}

.sectional {
	padding-top: 50px;
}

.reviews-and-statements {
	display: flex;
	margin: 0 0 50px;
	padding: 0;
	list-style: none;
	justify-content: center;
	width: 100%;
}

#visual-divider {
	background: linear-gradient(171deg, rgb(220 3 1 / 79%) 20%, rgb(159 2 0 / 87%) 80%), url(https://images.pexels.com/photos/3183150/pexels-photo-3183150.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
	min-height: 215px;
	background-size: cover;
	background-position-y: 50%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

#visual-divider h3 {
	margin: 0 auto 30px;
	color: #fff;
	font-size: 45px;
}

.statistics-grid h4,
.statistics-grid h5 {
	color: #fff !important;
}

.statistics-grid .solidlinedivider {
	width: 1.1px;
	background: rgba(255, 255, 255, .2);
}

.statistics-grid div {
	width: 245px;
}

.statistics-grid h4 {
	font-size: 48px;
	font-weight: 800;
	margin-bottom: 22px;
}

.statistics-grid h5 {
	font-size: 15px;
	font-weight: 500;
}

.callout-ending-container {
	display: flex;
	justify-content: space-between;
	min-width: 500px;
	margin: 0 auto 60px;
	align-items: center;
	max-width: 1250px;
	width: 75%;
}

.callout-ending-headers h4 {
	font-size: 33px;
	font-weight: 700;
}

.callout-ending-headers h5 {
	font-size: 19px;
	font-weight: 600;
	margin-bottom: -10px;
}

.contained-option button:hover,
#visual-divider-a button:hover,
#read-more-testimonials:hover,
.homepage-image-background-section button:hover,
.full-district-mortgage-input button:hover,
#get-approved button:hover {
	background: #2e2c2d !important;
	border: 3px solid #2e2c2d !important;
	transform: scale(1.05);
}

#cta1 button:hover,
#cta2 button:hover,
#apply-navigation-bar:hover,
#visual-divider button:hover {
	background: #323232 !important;
	border: 3px solid #323232 !important;
	color: #fff !important;
	transform: scale(1.05);
}

.side-by-side-content-container {
	display: flex;
	align-content: flex-start;
}

.right-side-container {
	order: 2;
	margin-left: 50px;
	max-width: 500px;
}

.left-side-container {
	flex: 1;
}

.title-image-background-section {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	padding: 20px 30px;
	height: 500px;
	object-fit: cover;
	border-radius: 5px;
}

.title-image-background-section h3 {
	font-size: 45px;
	font-weight: 800;
	color: #fff;
	text-shadow: 1px 4px 6px rgb(0 0 0 / 4%);
}

.title-image-background-section h4 {
	font-size: 21px;
	font-weight: 600;
	color: #fff;
	text-shadow: 1px 2px 3px rgb(0 0 0 / 2%);
	margin: 15px 0;
	text-transform: capitalize;
}

.title-image-background-section p {
	color: #fff;
	text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.02);
	font-size: 17px;
	font-weight: 300;
	margin-top: -2px;
	margin-bottom: 15px;
}

.what-people-say-about-us h3 {
	font-size: 30px;
	margin-top: 35px;
	text-align: center;
}

.district-mortgage-reviews-statements {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.district-mortgage-review-card {
	height: auto;
	padding: 0;
	margin: 0 0 20px;
	display: flex;
	flex-direction: column;
	width: 46%;
}

.avatar-name-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

li.review-card-container {
	margin: 65px 30px 30px;
	width: 25%;
	min-width: 300px;
}

.card-review {
	background: #fff;
	display: flex;
	flex-direction: column-reverse;
	box-shadow: 3px 6px 17px rgb(0 0 0 / 10%);
	border-radius: 3px;
	position: relative;
}

.thumb-container {
	position: absolute;
	top: -15px;
	right: -20px;
	background: #323232;
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	border-radius: 100%;
	justify-content: center;
	font-size: 17px;
	box-shadow: 3px 6px 17px rgba(0, 0, 0, 0.1);
	color: #fff;
}

.card-review h5 {
	color: #fff;
	font-weight: 700;
	text-align: center;
	margin-bottom: 0;
	display: flex;
	flex-direction: column;
	background: #323232;
	font-size: 22px;
	padding: 18px 0;
	border-radius: 0 0 4px 4px;
	letter-spacing: .75px;
}

li.review-card-container:nth-of-type(2) .card-review h5 {
	background: #d00705;
}

.card-review p {
	line-height: 29px;
	font-weight: 400;
	padding: 20px 20px 0;
	font-size: 15px;
	text-align: center;
	color: #575656;
}

.sub-column {
	display: flex;
	flex-direction: column;
	width: 73%;
}

.sub-with-image svg {
	margin-right: 10px;
	margin-left: -10px;
}

.two-columnul {
	display: flex;
	margin-bottom: 25px;
}

#why-choose-us {
	background: #f3f6fa;
}

.column-1 {
	background: #d00705;
	min-width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	border-radius: 0 5px 0 0;
}

.column-1 h4 {
	color: #fff;
	text-align: left;
	padding: 18px;
	font-size: 22px;
	font-weight: 300;
}

.column-1 img {
	width: 100%;
	align-self: flex-end;
	border-radius: 5px 0 0 0;
}

.column-2 {
	background: #fff;
	margin-top: 50px;
	padding-top: 54px;
	padding-left: 40px;
}

.column-2-content {
	width: 80%;
}

.column-2-content h3 {
	text-align: left !important;
	justify-content: flex-start;
}

.column-2-content h2 {
	text-align: left;
	margin-top: 20px;
}

.column-2-content p {
	line-height: 29px;
	font-weight: 400;
	font-size: 15px;
	color: #575656;
	margin-top: 25px;
	margin-bottom: -10px;
}

#provide-more .card-review {
	flex-direction: column;
}

#provide-more .card-review h5 {
	margin-bottom: -10px;
}

#provide-more .card-review p {
	margin-bottom: 5px;
	min-height: 165px;
}

#provide-more .card-review h5,
#provide-more li.review-card-container:nth-of-type(2) .card-review h5 {
	color: initial;
	background: none;
	padding: initial;
	letter-spacing: 0.85px;
	font-weight: 600;
}

.card-links {
	display: flex;
	width: 100%;
	justify-content: space-around;
	margin-top: 20px;
}

.card-links a {
	min-width: 50%;
	flex: 1;
	text-align: center;
	padding: 12px 0;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: .5px;
}

.card-links a:first-of-type {
	background: #d00705;
	border-radius: 0 0 0 4px;
}

.card-links a:first-of-type:hover {
	background: #b5100b;
}

.card-links a:last-of-type {
	background: #323232;
	border-radius: 0 0 4px 0;
}

.card-links a:last-of-type:hover {
	background: #222;
}

.card-image-container img {
	width: 100%;
	height: 195px;
	object-fit: cover;
	border: 3px solid white;
	border-radius: 4px;
}

#provide-more .review-card-container:nth-of-type(3) .card-review .card-links a {
	border-radius: 0 0 4px 4px;
}

.date {
	font-weight: 600;
	font-size: 14px;
	margin-top: 0px;
}

.what-people-say-about-us {
	position: relative;
	padding-bottom: 149px;
}

#read-more-testimonials {
	font-weight: 800;
	margin: 40px auto;
	display: block;
	text-transform: uppercase;
	padding: 20px 25px;
	margin-top: 30px;
	min-width: 195px;
	font-size: 14px;
	background: #323232;
	border: 3px solid #323232;
	color: #fff;
	border-radius: 6px;
}


footer {
	background: #2e2c2d;
	color: #fff;
	min-height: 140px;
}

.footer-main-container {
	max-width: 1250px;
	margin: 0 auto;
	padding: 14px 0;
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer-main-container ul {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin: 0;
	padding: 30px 0;
	list-style: none;
	width: 100%;
	color: #fff;
}

#footer-with-logo {
	display: flex;
	flex-direction: column;
	color: #fff;
}

#footer-with-logo p {
	color: #fff;
	font-size: 15px;
	line-height: 23px;
	font-weight: 200;
}

.telephone-footer-link {
	color: #fff;
	margin-top: 20px;
	font-weight: 600;
}

.telephone-footer-link svg {
	margin-right: 10px;
}

.telephone-footer-link:hover {
	color: #fff;
	border-bottom: 0;
}

.footer-main-container ul li {
	color: #fff;
	font-weight: 700;
	font-size: 22px;
}

.footer-main-container ul li ul {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 15px 0 0;
}

.footer-main-container ul li ul li {
	font-size: 15px;
}

.footer-main-container ul li ul li a {
	color: inherit;
	font-weight: 200;
}

.footer-main-container ul li ul li a:hover {
	border-bottom: 1px solid white;
}

.footer-logo {
	width: 200px;
	margin-bottom: 25px;
}

#social-media-links {
	display: flex;
	margin-top: 20px;
	flex-direction: row;
	align-items: center;
}

#social-media-links svg {
	font-size: 20px;
}

#equal-housing-logo {
	width: 30px;
	margin-right: 10px;
}
#mobile-navigation-only { 
	display: none;
}

@media only screen and (max-width: 980px) {
#mobile-navigation-only {
	display: block;
	  margin-right: 50px;
	}
  #navigation {
	display: none;
}
nav {
	position: relative;
}
#navigation {
	  display: none;
	  position: absolute;
	  top: 79px;
	  left: 0;
	  display: flex;
	  flex-direction: column;
	  width: 250px;
	  min-height: 300px;
	  padding: 10px 0 30px;
	}
	.mobile-hide {
		display: none !important;
	}
.navigation-contain {
	justify-content: flex-start;
}
logo {
	flex: 1;
}
	h1#headline {
		  font-size: 59px;
		  margin: 20px auto 40px;
	  }
header .button-containers {
	justify-content: space-between;
	height: 175px;
	flex-direction: column;
	margin-bottom: 100px !important;
	}
	.button-containers button {
	  min-width: 250px;
  }
	.selection-container {
	  width: 100%;
	  margin: -122px auto -50px;
	  box-shadow: none;
	  max-width: initial;
	  min-width: initial;
	  background: #f3f6fb;
  }
	.selection-grid-container {
		flex-direction: column;
	}
	.solidlinedivider {
	  width: 1px;
	  background: transparent;
	  height: 50px;
	}
	#loan-process-timeline {
		flex-wrap: wrap;
	}
	.process-step-of-loan {
	  width: 50%;
	  min-height: 280px;
	}
	.process-step-of-loan:nth-of-type(3)::after {
	  display: none;
	  background: none;
	}
	.reviews-and-statements {
		flex-direction: column;
	}
	li.review-card-container {
	  margin: 45px auto 20px;
	  width: 75%;
  }
  .card-review p {
	text-align: left;
}
.two-columnul {
	  flex-direction: column;
  }
 .sub-column {
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: space-between;
   align-items: center;
   }
   .column-1 h4 {
	 color: #fff;
	 text-align: center;
	 padding: 0;
	 font-size: 25px;
	 font-weight: 300;
	 flex: 1;
	 flex-direction: column;
	 display: flex;
	 justify-content: space-between;
	 min-height: 80px;
   }
.column-1 img {
		width: auto;
		align-self: flex-end;
		border-radius: 0;
		height: 300px;
  }
  .column-2 {
	margin-top: 0;
	padding-top: 0;
	padding-left: 0;
	padding: 60px 40px 40px;
  }
  .column-2-content {
	width: 100%;
  }
.column-2-content h3 {
	text-align: center;
	justify-content: center;
  }	
.column-2-content h2 {
	text-align: center;
}
#provide-more .card-review p {
	  margin-bottom: 15px;
	  min-height: initial;
	}	
	.statistics-grid {
	  flex-direction: row !important;
	  flex-wrap: wrap;
  }
  .statistics-grid div {
	width: 49%;
	min-height: 180px;
  }
  .statistics-grid .solidlinedivider {
	width: 0;
}
.callout-ending-container {
	  width: 100%;
	  flex-direction: column;
  }
  .callout-ending-headers {
	text-align: center;
  }
.footer-main-container ul {
	  flex-wrap: wrap;
	  justify-content: center;
	  align-items: center;
	}
	#footer-with-logo {
	  width: 100%;
	  justify-content: center;
	  align-items: center;
  }
  .footer-main-container ul li {
	  display: flex;
	  justify-content: space-between;
  }
  .footer-main-container ul li ul {
	padding: 0;
}
  #social-media-links {
	justify-content: space-between;
	width: 400px;
	margin-top: 40px;
}
#social-media-links svg {
	  font-size: 30px;
	}
#social-media-links li {
	  width: initial;
	}
	.sub-menu-footer {
		  display: none !important;
	}
}