@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

.front, .page-page-detail, .page-testimonial {
	visibility: visible !important;
}

@font-face {
	 font-family: 'StateFaceRegular';
	 src: url('https://anniemachomemortgage.github.io/AnnieMac/projects/coreyscottteam/resources/stateface-regular-webfont.eot');
	 src: url('https://anniemachomemortgage.github.io/AnnieMac/projects/coreyscottteam/resources/stateface-regular-webfont.eot?#iefix') format('embedded-opentype'),
		  url('https://anniemachomemortgage.github.io/AnnieMac/projects/coreyscottteam/resources/stateface-regular-webfont.woff') format('woff'),
		  url('https://anniemachomemortgage.github.io/AnnieMac/projects/coreyscottteam/resources/stateface-regular-webfont.ttf') format('truetype'),
		  url('https://anniemachomemortgage.github.io/AnnieMac/projects/coreyscottteam/resources/stateface-regular-webfont.svg#StateFaceRegular') format('svg');
	 font-weight: normal;
	 font-style: normal;
 }
 
:root {
	--black: #3A3335;
	--green: #095416;
	--medgreen: #0a4815;
	--blackgreen: #2e3a35;
	--backgrounda: #0a4216;
	--backgroundb: #0c261b;
	--darkgreen: #13341a;
	--greenish: #10702d;
	--lightorange: #cd9070;
	--orange: #F26419;
	--whiteorange: #dfbead;
	--greenblocked: #40a05108;
	--faded: #f7f6f3;
	--blue: #172A3A;
	--gray: #94A89A;
	--darkergray: #606c64;
	--border: #194420;
	--white: #fff;
	--offwhite: #f7f7f7;
	--offwhiteb: #f5f4f473;
	--accentwhite: #f2fff5;
	--original: #f9fafb;
	--forester: #43a1659c;
	--smokewhite: #f7f7f8;
	--greenery: #0c6622;
	--footerheaders: #1c1e21;
	--footerlinks: #303e4a;
	--footerlinksb: #414a44;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body, h1, h2, h3, h4, h5, h6, p, ul, li, section, main, header, nav, footer {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	line-height: 30px;
	font-weight: 400;
	color: var(--gray);
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}
html, body {
	padding: 0;
	margin: 0;
	visibility: visible !important;
	overflow: initial !important;
}
header, main, section, form, form div, footer {
	display: flex;
	flex-direction: column;
}
body {
	visibility: visible !important;
	background: var(--original);
}
.body-background {
	background: radial-gradient(circle, #3d463f78 10%, #1e2422 94%), url(https://annie-mac.com/uploads/sites/10713/public/themortgagecompanyoffice.png);
	background-size: cover;
	background-position-y: 53%;
}
.body-overlay {
	margin: 0px auto 60px;
	min-width: 500px;
	z-index: 1;
	width: 90%;
	max-width: 1200px;
}
.navigation-display {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 20px 0 30px;
	width: 100%;
	justify-content: space-between;
	margin-bottom: 8px;
	border-bottom: ;
}
.navigation-display li {
	color: var(--gray);
	font-size: 16px;
	font-weight: 500;
}
li#navigation-logo {
	text-indent: -99999vw;
	background: url('https://anniemachomemortgage.github.io/themortgagecompany/img/themtgco-logo.png');
	background-size: cover;
	height: 56px;
	width: 260px;
	margin: 0 0 -25px;
}
.main-site-background {
	position: relative;
}
.main-site-overlay {
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%,-50%);
	width: 503px;
	height: 492px;
}
.main-site-background h1 {
	font-size: 58px;
	font-weight: 900;
	font-style: italic;
	word-spacing: 40vw;
	line-height: 100px;
	margin-top: 5px;
	color: var(--white);
	opacity: 0;
	margin-bottom: 41px;
	z-index: 0;
}
.main-site-summary {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	min-width: 300px;
}
.summary-section {
	display: flex;
	flex-direction: column;
	margin: -10px 0 17px;
	background: #080b0821;
	padding: 13px 25px;
	color: #fff;
}
.summary-section a {
	text-decoration: none;
	border: none;
	display: flex;
	flex-direction: column;
	color: inherit;
}
.summary-section > strong {
	color: var(--accentwhite);
	font-weight: 600;
}
.summary-section > strong i {
	color: var(--offwhiteb);
	font-weight: 800;
	width: 25px;
}
.summary-section > span {
	display: block;
	line-height: 22px;
	font-size: 15px;
}
button.main-site-apply {
	outline: none;
	padding: 20px;
	margin: -15px 2px 50px;
	min-width: 200px;
	background: var(--orange);
	color: var(--white);
	font-weight: 600;
	border-radius: 2px;
	font-size: 17px;
	border: .5px solid var(--orange);
}
button.main-site-apply:hover {
	background: var(--orange);
	border: .5px solid var(--orange);
	cursor: pointer;
}
.content-container {
	margin: 30px auto 60px;
	width: 90%;
	max-width: 1200px;
}
.text-divider h3 {
	margin-top: 15px;
	margin-bottom: 30px;
	font-size: 43px;
	font-weight: 800;
	padding: 0 15px;
	color: var(--orange);
}
/* .blocked-sectionals:first-of-type {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	z-index: 1;
	margin-bottom: 30px;
} */
.blocked-sectionals {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	z-index: 1;
}
.blocked-sectional {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 5px;
	border-radius: 2px;
	padding: 0 20px;
	background: var(--blue);
	display: none;
}
.blocked-sectional-half {
	display: flex;
	flex-direction: column;
	width: 35.8%;
	/* width: 100%; */
	margin-bottom: 10px;
	border-radius: 2px;
	/* background: var(--faded); */
}
.backgrounded {
	background: var(--offwhiteb);
	padding: 0 20px;
	border-radius: 3px;
}
.filler-width {
	width: 265px;
}
.blocked-sectional:first-of-type {
	padding: 0;
}
.blocked-sectional-half:first-of-type {
	padding: 0;
}
.blocked-sectional h3, .blocked-sectional-half h3 {
	margin-bottom: 0;
	font-size: 40px;
	font-weight: 800;
	color: var(--orange);
	margin-top: 23px;
}
.blocked-sectional h4 {
	margin-bottom: -10px;
	font-weight: 800;
	font-size: 22px;
	color: var(--original);
}
.blocked-sectional p {
	font-size: 15px;
	line-height: 24px;
	margin-bottom: 30px;
	color: var(--faded);
}
.blocked-sectional-half h4 {
	margin-top: 20px;
	margin-bottom: -10px;
	font-weight: 700;
	font-size: 22px;
	color: var(--black);
}
.blocked-sectional-half p {
	font-size: 15px;
	line-height: 28px;
	margin-bottom: 30px;
	color: var(--darkergray);
	margin-top: 18px;
}
.blocked-sectional a button, .blocked-sectional-half a button {
	outline: none;
	padding: 12px;
	margin: -10px 0 19px;
	min-width: 100%;
	background: var(--orange);
	color: var(--offwhite);
	font-weight: 600;
	font-size: 17px;
	border-radius: 2px;
	border: .5px solid var(--orange);
}
.blocked-sectional a button:hover {
	background: var(--orange);
	border: .5px solid var(--orange);
	cursor: pointer;
}
.initial {
	margin-top: -20px !important;
	margin-bottom: 65px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Crimson Text', serif;
}
footer {
	background: var(--smokewhite);
	color: var(--footerheaders);
}
.sitemap-container {	
	margin: 0px auto 60px;
	min-width: 500px;
	z-index: 1;
	width: 90%;
	max-width: 1200px;
}
.sitemaps {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
	margin-bottom: 20px;
}
.sitemaps ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.sitemaps ul li {
	font-size: 15px;
	color: var(--darkergray);
}
.sitemaps ul a {
	border-bottom: none;
	text-decoration: none;
}
.footerlist-title {
	font-size: 20px !important;
	margin-bottom: 8px;
/* 	font-family: 'Lora', serif !important; */
	color: var(--footerlinksb);
	font-weight: 800 !important;
}
.divided-listing {
	display: flex;
	flex-direction: column;
}
.sublistings {
	width: 220px;
	justify-content: space-between;
	display: flex;
	flex-direction: row;
}
.sublistings li i {
	font-size: 22px;
	color: var(--footerlinks);
	margin-top: 20px;
	opacity: .75;
}
.sublistings li i:hover {
	color: var(--orange);
	opacity: 1;
}
#footer-logo img {
	width: 250px;
	height: auto;
}

/* Insertion Template Edits */
#insertion-point h1, #insertion-point h2, #insertion-point h3, #insertion-point h4, #insertion-point h5 {
	font-family: 'Inter', sans-serif;
}
#insertion-point h3 {
font-size: 42px;
margin-bottom: 60px;
font-weight: 800;
color: var(--greenish);
}
#insertion-point h3.text-center {
font-size: 29px;
font-weight: 600;
color: var(--orange);
margin-bottom: 60px;
}
#insertion-point h3.text-center:nth-of-type(3) {
	margin-top: 50px;
}
.manager-information {
	/* background: #f0f2f4; */
/* 	padding: 20px; */
	margin-top: -30px;
	margin-bottom: 52px;
	border-radius: 2%;
}
.team-member-information {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
}
.manager-information .team-member-information {
	margin-bottom: -29px;
}
.team-member-basics {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 15px
}
.team-titles {
	margin-left: 25px;
}
.team-titles h4 {
	font-size: 24px;
	font-weight: 500;
	color: black;
}
.team-titles h5:nth-of-type(1) {
	font-weight: 500;
	font-size: 18px;
	color: gray;
}
.team-titles h5:nth-of-type(2) {
	font-weight: 300;
	margin-top: -5px;
	color: black;
}
.team-member-portrait {
	min-height: 155px;
	min-width: 155px;
	max-height: 155px;
	max-width: 155px;
	order: -1;
	background: red;
}
.contact-tmc-buttons {
	margin-top: 0;
	border-bottom: 1px solid rgba(0,0,0,.06);
	margin-bottom: 15px;
	padding-bottom: 15px;
}
.manager-information .team-member-information .contact-tmc-buttons {
  border-bottom: 0;
  padding-bottom: 0;
}

.team-member:last-of-type .contact-tmc-buttons {
	border-bottom: none;
}
.team-member-information button {
	outline: none;
	padding: 17px;
	margin: 15px 2px 25px;
	min-width: 170px;
	background: var(--greenish);
	color: var(--white);
	font-weight: 600;
	border-radius: 2px;
	font-size: 16px;
	border: .5px solid var(--greenish);
}
button.go {
	outline: none;
	padding: 17px;
	margin: 15px 2px 25px;
	min-width: 155px;
	background: var(--orange);
	color: var(--white);
	font-weight: 600;
	border-radius: 2px;
	font-size: 16px;
	border: .5px solid var(--orange);
}
.team-member-information button a, button.go a {
	color: #fff;
	text-decoration: none;
}
.team-member-information button i, button.go i {
	display: none;
}
.sublistings {
	display: none;
}
#page-insertion-point h1, #page-insertion-point h2, #page-insertion-point h3, #page-insertion-point h4, #page-insertion-point h5 {
	font-family: 'Inter', sans-serif;
}
#page-insertion-point h4, #page-insertion-point h5 {
	margin-top: 30px;
	margin-bottom: -3px;
	font-weight: 300;
	font-size: 22px;
	color: #3a3335;
}
#page-insertion-point .text-content h3 {
	margin-bottom: 27px !important;
}
#page-insertion-point h3 {
	font-size: 40px;
	font-weight: 800;
	color: var(--greenish);
}
#page-insertion-point .text-content h3:nth-of-type(2) {
	margin-top: 40px;
}
#page-insertion-point p {
	font-size: 15px;
	line-height: 29px;
	margin-bottom: 0;
	color: var(--darkergray);
	margin-top: 12px;
	padding-right: 20px;
}
#page-insertion-point ul {
	margin-left: 0;
	padding-left: 17px;
}
#page-insertion-point ul li {
	font-size: 15px;
	line-height: 29px;
	margin-bottom: 0;
	color: var(--darkergray);
	margin-top: 7px;
}
.social-review {
	background: #f0f2f4;
	padding: 17px;
	margin: 15px 0 35px;
	border-radius: 2%;
}
.average-social-rating {
	display: none;
}
.social-loan-officer, .staff-information {
	font-size: 20px;
	font-weight: 500;
	color: black;
	margin: 10px 0 0px;
}
.social-loan-officer, .staff-information {
	font-size: 21px;
	margin: 10px 0 0px;
	padding-bottom: 10px;
	font-family: 'Inter', sans-serif;
	color: #000;
	font-weight: 700;
	text-decoration: none;
	margin-bottom: 2px;
}
.social-review-survey {
	font-weight: 500;
	font-size: 18px;
	color: #5c5c5c;
}
.social-loan-officer i.fas.fa-map-marker {
	display: none;
}
span.testimonial-highlight {
	font-weight: 600;
}
.review-social-rating {
	font-size: 20px;
	font-weight: 600;
	color: var(--orange);
	margin-bottom: 12px;
}
.pager ul {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	justify-content: space-between;
	width: 80%;
	max-width: 600px;
	margin: 15px auto;
	padding: 0;
}
li.disabled, li.active {
	color: #5d5d5d;
	font-weight: 400;
}
.pagination ul li a {
	color: var(--orange);
	font-weight: bold;
	text-decoration: none;
}
#homepage-insertion {
	display: flex;
}
#insertion-point {
	flex: 1;
}
#static-content {
	display: none;
}
#static-content h3 {
  font-size: 30px;
  margin-bottom: 40px;
  font-weight: 800;
  color: #000;
  font-family: 'Inter', sans-serif;
  display: none;
}
.front #static-content {
	display: block;
	width: 300px;
	margin-left: 63px;
}
#static-content .review-social-rating i {
  font-size: 15px;
  margin: 0 8px 5px 0px;
}
#static-content .social-review:first-of-type {
  margin-top: 0;
}
#static-content .social-review h4 {
  font-size: 16px;
  line-height: 20px;
}
#static-content .social-review-survey {
  font-size: 15px;
  margin: 9px 0px;
  line-height: 23px;
}
#more-testimonials {
  display: flex;
  justify-content: center;
  margin: -17px 0 -35px;
}
#more-testimonials button {
  outline: none;
  padding: 20px;
  margin: 15px 2px 25px;
  min-width: 200px;
  background: var(--orange);
  color: var(--white);
  font-weight: 600;
  border-radius: 2px;
  font-size: 17px;
  border: .5px solid var(--orange);
}
#more-testimonials button a {
  color: #fff;
  text-decoration: none;
}
.team-titles a, .team-titles a h4 {
  color: #000;
  font-weight: 700;
  text-decoration: none;
  margin-bottom: 2px;
}

#loan-originator-backdrop {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 35px;
	justify-content: space-between;
	align-items: flex-start;
}

#originator {
	display: none;
}

section#originator {
	display: none;
}

#originator-core-details-portrait {
	margin-right: 25px;
}

#originator-core-details-portrait img {
	object-fit: cover;
	width: 300px;
}

#originator-core-details {
	display: flex;
}

#originator-core-details-text {
	margin-left: 25px;
	flex: 1;
}

#originator-core-details-text h2 {
	color: #000;
	font-weight: 700;
	text-decoration: none;
	margin-bottom: 2px;
	font-size: 24px;
}

#originator-core-details-text h4 {
	font-weight: 500;
	font-size: 18px;
	color: gray;
	margin-top: 8px;
}

#originator-core-details-text h4 span {
	display: block;
	font-weight: 300;
	font-size: 16px;
	line-height: 30px;
	color: black;
	margin-top: -2px;
}

#originator-address-details p {
	font-size: 16px;
	color: gray;
	margin-top: 8px;
	line-height: 24px;
	font-weight: 500;
}

#originator-social-details ul {
	display: flex;
	margin: 15px 0;
	padding: 0;
	list-style-type: none;
}

#originator-social-details ul a {
	outline: none;
	padding: 20px;
	margin: 15px 12px 25px;
	min-width: 172px;
	background: var(--orange);
	color: var(--white);
	font-weight: 600;
	border-radius: 2px;
	font-size: 17px;
	border: 0.5px solid var(--orange);
	text-decoration: none;
	text-align: center;
}

#originator-social-details ul a:first-of-type {
	background: #319c31;
	border: 0.5px solid #319c31;
	margin-left: 0px;
}

#originator-social-details ul a li {
	color: #fff;
	text-decoration: none;
	font-weight: 900;
}

#originator-social-details ul a li i {
	display: none;
}

#sidebar-apply-now {
	display: none;
}

#links-sidebar-full-width h4 {
	color: #000;
	font-weight: 700;
	text-decoration: none;
	margin-bottom: 2px;
	font-size: 20px;
	margin-top: 17px;
}

#links-sidebar-full-width ul {
	margin: 5px 0;
	padding: 0;
	list-style-type: none;
}

#links-sidebar-full-width ul a {
	text-decoration: none;
}

#links-sidebar-full-width a li {
	font-weight: 300;
	font-size: 16px;
	line-height: 30px;
	color: #5a5a5a;
	margin-top: 3px;
}

.loan-officer-information {
	margin-top: 20px;
}

.loan-officer-information p, .loan-officer-information p a {
	line-height: 29px;
	margin: 0;
	color: var(--darkergray);
	font-weight: 300;
	font-size: 15px;
}

.site-type-loan_officer #homepage-insertion {
	flex-direction: column;
}

.site-type-loan_officer #static-content {
	width: 100%;
	margin-left: 0;
}

.site-type-loan_officer .social-review-grid, .staffing-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.site-type-loan_officer .social-review, .staff-container {
	width: 33%;
}

.staff-container h5 {
	font-weight: 500;
	font-size: 18px;
	color: gray;
	font-family: 'Inter', sans-serif;
	margin-top: -8px;
}

.staff-container h5 span {
	display: block;
	font-weight: 300;
	font-size: 15.5px;
	margin-top: 0px;
	color: black;
}

.page-testimonial .social-review {
  width: 100%;
}

.site-type-loan_officer .social-review:first-of-type {
	margin: 15px 0 35px !important;
}

#additional-staff { 
	display: none;
}

.front.site-type-corporate #additional-staff {
	display: block;
}

.site-type-loan_officer #what-people-say-tmc-header {
	display: block;
}

.site-type-loan_officer #more-testimonials {
	margin: 10px auto 35px;
}

.site-type-loan_officer .loan-officer-summary-section {
	display: block;
	margin: -10px 0 17px;
	background: #080b084d;
	padding: 20px 35px;
	color: #fff;
	width: 301px;
}

.loan-officer-summary-section #footer-branchlo-name {
	 font-size: 20px;
	 font-weight: 600;
	 padding-bottom: 10px;
}

.loan-officer-summary-section p {
	margin: 0;
	padding: 8px 0;
	color: #fff;
	line-height: 20px;
	font-weight: 300;
	font-size: 15px;
}

.site-type-loan_officer .corporate-summary-section {
	display: none;
}

.site-type-corporate .loan-officer-summary-section {
	display: none;
}

.site-type-corporate .corporate-summary-section {
	display: block;
}

.prepended-header {
	margin: -5px 0;
	display: block !important;
}

.licensed-states-loan-officers {
	display: none;
}

.site-type-loan_officer .licensed-states-loan-officers {
	display: block;
}

.steve-section, .beth-section, .larry-section, .gene-section, .greg-section {
	display: none;
}

.listing-licensed-states {
  margin: 0px 0 90px;
}

.steve .steve-section {
	display: block;
}

.beth .beth-section {
	display: block;
}

.larry .larry-section {
	display: block;
}

.gene .gene-section {
	display: block;
}

.greg .greg-section {
	display: block;
}

.licensed-states-declaration {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.licensed-states-declaration li {
	width: 27%;
	min-width: 200px;
	display: flex;
	align-items: center;
	color: black;
	font-weight: 300;
}

.stateface {
  font-family: 'StateFaceRegular';
  color: #319c31;
  font-size: 50px;
  margin-right: 20px;
}

.licensed-states-declaration p span {
  min-width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.stateface-ak:before {
	content: "A";
}

.stateface-al:before {
	content: "B";
}

.stateface-ar:before {
	content: "C";
}

.stateface-az:before {
	content: "D";
}

.stateface-ca:before {
	content: "E";
}

.stateface-co:before {
	content: "F";
}

.stateface-ct:before {
	content: "G";
}

.stateface-dc:before {
	content: "y";
}

.stateface-de:before {
	content: "H";
}

.stateface-fl:before {
	content: "I";
}

.stateface-ga:before {
	content: "J";
}

.stateface-hi:before {
	content: "K";
}

.stateface-ia:before {
	content: "L";
}

.stateface-id:before {
	content: "M";
}

.stateface-il:before {
	content: "N";
}

.stateface-in:before {
	content: "O";
}

.stateface-ks:before {
	content: "P";
}

.stateface-ky:before {
	content: "Q";
}

.stateface-la:before {
	content: "R";
}

.stateface-ma:before {
	content: "S";
}

.stateface-md:before {
	content: "T";
}

.stateface-me:before {
	content: "U";
}

.stateface-mi:before {
	content: "V";
}

.stateface-mn:before {
	content: "W";
}

.stateface-mo:before {
	content: "X";
}

.stateface-ms:before {
	content: "Y";
}

.stateface-mt:before {
	content: "Z";
}

.stateface-nc:before {
	content: "a";
}

.stateface-nd:before {
	content: "b";
}

.stateface-ne:before {
	content: "c";
}

.stateface-nh:before {
	content: "d";
}

.stateface-nj:before {
	content: "e";
}

.stateface-nm:before {
	content: "f";
}

.stateface-nv:before {
	content: "g";
}

.stateface-ny:before {
	content: "h";
}

.stateface-oh:before {
	content: "i";
}

.stateface-ok:before {
	content: "j";
}

.stateface-or:before {
	content: "k";
}

.stateface-pa:before {
	content: "l";
}

.stateface-ri:before {
	content: "m";
}

.stateface-sc:before {
	content: "n";
}

.stateface-sd:before {
	content: "o";
}

.stateface-tn:before {
	content: "p";
}

.stateface-tx:before {
	content: "q";
}

.stateface-us:before {
	content: "z";
}

.stateface-ut:before {
	content: "r";
}

.stateface-va:before {
	content: "s";
}

.stateface-vt:before {
	content: "t";
}

.stateface-wa:before {
	content: "u";
}

.stateface-wi:before {
	content: "v";
}

.stateface-wv:before {
	content: "w";
}

.stateface-wy:before {
	content: "x";
}

@media only screen and (max-width: 900px) {
	#homepage-insertion {
		display: flex;
		flex-direction: column;
	}
	.front #static-content {
		display: block;
		width: 100%;
		margin-left: 0;
	}
	.team-member-section {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.team-member {
		min-width: 50%;
	}
	.contact-tmc-buttons {
		border-bottom: none;
	}
	.social-review-grid, .staffing-grid {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.social-review, .staff-container {
		min-width: 32%;
		max-height: 284px;
		margin-top: 0;
	}
	#static-content h3 {
		display: block;
	}
}

#additional-staff-header {
	font-size: 29px;
	font-weight: 600;
	color: var(--orange);
	margin-bottom: 20px;
	font-family: 'Inter', sans-serif;
	margin-top: 50px;
}

.other-staff-contact-buttons {
	display: flex;
	flex-direction: row;
	flex: 1;
	justify-content: flex-start;
}

.other-staff-contact-buttons button {
	outline: none;
	padding: 22px;
	margin: 5px 0 !important;
	min-width: 205px !important;
	margin: 5px 0;
	background: var(--greenish);
	color: var(--white);
	font-weight: 600;
	border-radius: 2px;
	font-size: 16px;
	border: 0.5px solid var(--greenish);
}

.other-staff-contact-buttons button:first-of-type {
	background: var(--orange);
	border: 0.5px solid var(--orange);
	margin-right: 14px !important;
}

.staff-main-information {
	text-align: left;
	min-height: 111px;
	width: 67%;
	margin-left: 32px;
}

.staff-information {
	margin-top: 0;
}

.additional-staff-portrait {
	background: #c6c7c787;
	margin: 0px 0 15px;
	min-height: 150px;
	min-width: 150px;
	max-height: 150px;
	max-width: 150px;
}

.staff-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 49%;
	margin: 15px 6px 1px;
	border-radius: 2%;
	flex-wrap: wrap;
}