html body.page-loan-apply-complete.logged-in.site-type-loan_officer section.inner-layout section#text-based p a.btn.btn-default {
background: #40a051;
color: #fff;
font-weight: bold;
display: inline-block;
border-radius: 4px;
padding: 10px 12px;
padding-top: 120px;
text-align: center;
}
.front #home-banner {
  display: none;
}
.front #home-reviews {
  display: none;
}
section#home-provide .content-block-list {
  flex-direction: column;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
}
#add-co-borrower, #add-asset-real-estate, #add-asset-account, #add-income-monthly {
    color: #40a051 !important;
    background: transparent !important;
    width: 250px !important;
    font-weight: bold;
    font-size: 16px;
}
.register-title {
    display: none;
}
button {
    border-radius: 5px;
    width: auto;
}
.location-listing {
    width: 45%;
}
#deserve-more-container-master {
    display: none;
}
#team-display h3:first-of-type {
    color: #40a051 !important;
}
#we-provide-more-master h3 {
    color: #e27806;
    font-size: 60px !important;
}
.site-type-loan_officer #we-provide-more-master h3 {
  color: #40a051 !important;  
  font-size: 46px;
}
#branch-welcome {
    display: none;
}
#apply-now-sidebar, #prequal-now-sidebar {
    background: #40a051;
    color: #fff;
}
#navigation-sidebar {
    background: radial-gradient(circle, rgb(9, 84, 22) 0%, rgb(41, 115, 55) 94%);
}
#tmc-branch {
    display: flex;
    flex-direction: column;
}
#tmc-branch #branch-banner {
    order: 0;
}
#tmc-branch #home-provide {
    order: 2;
}
#tmc-branch > #team-display {
    order: 1;
}
#mobile-apply a, #sidebar-apply-now a {
    background: #40a051;
}
#links-sidebar-full-width a, #originator-social-details li i {
    color: #4c4c4c;
}
#originator-social-details a:first-of-type, #originator-social-details a:first-of-type:hover {
    background: #e27806;
}