@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
	--white: #ffffff;
	--cloud: #f3f7fb;
	--fossil: #dddddd;
	--fossil2: #d0cdcd;
	--shadow: #626161;
	--pebble: #787777;
	--darkblue: #324361;
	--indigo: #1a5283;
	--cerulean: #215f95;
	--lime: #7ec249;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	overflow-x: hidden;
}

html, body, h3, h4, h5, h6, p, span, ul, li, section, main, header, nav, footer {
	font-family: 'inter', sans-serif;
}

label, button  {
	font-family: 'lato', sans-serif;
}

h1, h2 {
	font-family: 'poppins', sans-serif;
}

a {
	text-decoration: none;
	font-weight: 800;
	color: var(--cerulean);
}

a:hover, button:hover, summary:hover {
	cursor: pointer;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
}

#cash2keys-form {
	background: var(--cloud);
	color: var(--pebble);
}

.primary-container {
	display: inherit;
	margin: 0 auto;
	min-width: auto;
	width: 90%;
	max-width: 1200px;
}

#cash2keys-form nav {
	background: var(--white);
}

.navigation-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#annie-mac-logo {
	width: 300px;
	height: 55px;
	background-image: url("https://www.annie-mac.com/uploads/sites/10713/public/AMLogoTEST_2_1.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 50%;
	text-indent: -9999px;
}

#mobile-cta {
	display: none;
}

.primary-button-cta {
	border: none;
	outline: none;
	border-radius: 3px;
	font-size: 15px;
	font-weight: 800;
	text-transform: uppercase;
	text-align: center;
	padding: 18px;
	letter-spacing: .65px;
	min-width: 150px;
	color: var(--white);
	background: var(--lime);
}

.secondary-button-cta {
	border: none;
	outline: none;
	border-radius: 3px;
	font-size: 15px;
	font-weight: 800;
	text-transform: uppercase;
	text-align: center;
	padding: 18px;
	letter-spacing: .65px;
	min-width: 150px;
	color: var(--white);
	background: var(--cerulean);
}

header {
	color: var(--white);
	background: url('images/header_image.jpg') center no-repeat;
	background-size: cover;
}

.header-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 70px 0;
}

.header-container h2 {
	font-size: 60px;
	font-weight: 800;
	width: 50%;
	margin: 0;
	line-height: 80px;
}

.header-container h3 {
	flex: 1;
	margin: 0;
	font-weight: 300;
	line-height: 40px;
}

h4, #form-insert label {
	color: var(--darkblue);
	font-weight: 600;
}

#submit-your-information h4 {
	text-align: center;
	font-size: 30px;
	margin: 65px 0 30px;
	font-weight: 800;
}

#submit-your-information p {
	text-align: center;
	line-height: 29px;
	width: 62%;
	margin: 0 auto;
	font-size: 17px;
	color: var(--shadow);
	font-weight: 500;
}

#form-insert {
	background: var(--white);
	padding: 40px 40px 50px;
	margin: 60px auto;
	display: flex;
	flex-direction: column;
	border-radius: 3px;
}

#form-insert label {
	font-size: 18px;
	margin: 0 0 6px;
}

#form-insert input[type='text'], #form-insert input[type='email'], #form-insert input[type='tel'], #form-insert select {
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 1px solid var(--fossil2);
	outline: none;
	border-radius: 3px;
	font-size: 17px;
	font-weight: 400;
	padding: 15px 16px;
	letter-spacing: .65px;
	color: var(--shadow);
	background: var(--white);
	margin: 10px 0 26px;
	min-height: 55px;
}

.radio-selections {
	margin: 5px 0 15px;
	display: flex;
	flex-direction: column;
}

.radio-selection {
  margin: 3px 0;
  display: flex;
}

input[type="radio"] {
  padding: 10px;
  width: 20px;
  height: 19px;
  margin: 5px 10px 0 0;
}

#form-insert .radio-selection label {
	font-weight: 400;
	color: var(--pebble);
	font-size: 16px;
	line-height: 30px;
	margin: 0;
}

input:active, select:active, input:focus, select:focus {
	box-shadow: 1px 2px 2px rgb(0 0 0 / 5%);
}

.row-options, .product-options {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.row-option {
	width: 48.5%;
	display: flex;
	flex-direction: column;
	margin: 5px 0;
}

.row-option.stretched {
	width: 100%;
}

.disclaim-text {
	color: var(--pebble);
	display: block;
	font-weight: 300;
	margin: 10px 0;
	font-size: 16px;
	line-height: 23px;
}

.note-container {
	background: var(--cloud);
	color: var(--pebble);
	border-radius: 3px;
	padding: 30px;
	margin: 15px 0 35px;
	position: relative;
	overflow: hidden;
}

.disclaimer-container {
	margin: 35px 0 -10px;
}

.note-image {
	position: absolute;
	background: url('images/note_image.png') no-repeat;
	width: 167px;
	height: 264px;
	top: 0;
	right: 0;
	background-size: cover;
	opacity: .5;
}

.note-container h5 {
	color: var(--darkblue);
	font-weight: 800;
	margin: 0 0 10px;
	font-size: 18px;
}

.note-container p {
	font-size: 16px;
	line-height: 30px;
	margin: 0;
	color: var(--shadow);
	font-weight: 500;
}

.conditional-section {
	margin: 20px 0;
}

.sub-conditional {
	margin: 20px 0 0;
}

#form-insert .conditional-section h5 {
	color: var(--shadow);
	font-weight: 700;
	margin: 0 0 23px;
	font-size: 19px;
}

#form-insert .conditional-section h6 {
	font-size: 21px;
	margin: 21px 0 30px;
	color: var(--darkblue);
	font-weight: 800;
}

#form-insert > button {
	max-width: 200px;
	margin: 0 auto;
	padding: 20px;
}

#product-options {
	padding-bottom: 20px;
}

.product-option {
	width: 48%;
	background: var(--white);
	padding: 50px 40px;
	margin: 30px 0 70px;
	display: flex;
	flex-direction: column;
	border-radius: 3px;
	justify-content: center;
	align-items: center;
}

.primary-icon {
	width: 75px;
	margin-bottom: 30px;
}

.secondary-icon {
	width: 50px;
}

.product-option h4, #benefits-of-cash-offer h4 {
	text-align: center;
	margin: 0;
	font-size: 32px;
	font-weight: 800;
	color: var(--darkblue);
}

.product-option p {
	text-align: center;
	line-height: 31px;
	margin: 25px auto 35px;
	width: 90%;
}

#benefits-of-cash-offer, #final-callout {
	background: var(--white);
	color: var(--pebble);
}

#benefits-of-cash-offer {
	padding: 65px 0 150px;
}

.benefits-list {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	padding: 0;
	margin: 50px 0;
	flex-wrap: wrap;
}

.benefits-list li {
	border-radius: 3px;
	width: 24%;
	border: 1px solid var(--cloud);
	display: flex;
	padding: 10px;
	flex-direction: column;
}

.benefits-list span {
	text-align: center;
	margin: 25px 0 -10px;
}

.benefits-list h5 {
	color: var(--darkblue);
	font-size: 21px;
	font-weight: 600;
	margin: 40px 0 0;
	text-align: center;
}

.benefits-list p {
	text-align: center;
	font-size: 15px;
	line-height: 25px;
	width: 90%;
	margin: 15px auto 30px;
}

#get-started-today {
	margin: -87px auto 80px;
	min-width: auto;
	width: 90%;
	max-width: 1200px;
	color: var(--white);
	background: linear-gradient(0deg, rgb(33 95 149 / 94%) 100%, var(--pebble) 80%), url(images/callout_image.jpg) center no-repeat;
	padding: 55px 0;
	text-align: center;
	border-radius: 3px;
	background-size: cover;
	background-position-y: 20%;
}

#get-started-today h4 {
	color: var(--white);
	font-size: 38px;
	margin: 0;
	font-weight: 800;
}

#get-started-today p {
	margin: 20px 0 0;
	font-size: 18px;
	font-weight: 300;
}

#frequently-asked-questions {
	padding-bottom: 50px;
}

#frequently-asked-questions h4 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 32px;
	font-weight: 800;
	color: var(--darkblue);
}

#frequently-asked-questions h4 span {
	color: var(--lime);
	font-size: 20px;
	padding-bottom: 6px;
	border-bottom: 3px solid var(--lime);
}

#mobile-more-questions {
	display: none;
}

#frequently-asked-questions h4 span a {
	text-decoration: inherit;
	color: inherit;
}

details {
	background: var(--white);
	margin-bottom: 30px;
}

details p {
	padding: 20px;
	margin-top: 0;
	line-height: 25px;
	font-size: 15px;
	font-weight: 400;
	color: var(--pebble);
}

details summary {
	background: var(--cerulean);
	color: var(--white);
	padding: 18px;
	border-radius: 3px;
	font-weight: 600;
	font-size: 20px;
}

details[open] summary {
	background: var(--lime);
	border-radius: 3px 3px 0 0;
	outline: none;
	border: none;
}

details>summary {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

details>summary::-webkit-details-marker {
	display: none;
}

summary i {
	margin-left: 10px;
}

details[open] summary i {
	transform: rotate(45deg);
}

#final-callout {
	padding: 60px 0;
	background: var(--white);
}

#final-callout h4 {
	margin: 0;
	font-size: 32px;
	font-weight: 800;
	color: var(--darkblue);
	text-align: center;
}

#final-callout p {
	font-size: 20px;
	font-weight: 500;
	color: var(--indigo);
	text-align: center;
}

.final-callout-button-container {
	display: flex;
	justify-content: space-between;
	width: 385px;
	margin: 10px auto 19px;
	align-items: center;
}

.final-callout-button-container button {
	height: 70px;
	padding: 0 30px;
}

footer {
	color: var(--white);
	background: var(--cerulean);
}

.footer-container {
	padding: 30px 0 15px;
}

.footer-container p {
	text-align: center;
	line-height: 34px;
	width: 70%;
	margin: 30px auto;
}

.footer-bar-container {
	color: var(--white);
	background: var(--indigo);
	padding: 15px 0;
}

.footer-bar {
	display: flex;
	list-style-type: none;
	justify-content: space-between;
	margin: 0 auto;
	min-width: auto;
	width: 90%;
	max-width: 1200px;
	align-items: center;
}

.main-footer-links {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	justify-content: space-between;
	width: 500px;
}

#equal-housing-logo {
	width: 48px;
	height: 66px;
	background-image: url("https://annie-mac.com/dev/themes/annie_mac/img/equalhousingwhite.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 50%;
	text-indent: -9999px;
}

@media only screen and (max-width: 1200px) {
	.primary-container {
		width: 100%;
		max-width: initial;
		padding: 0 40px;
	}
	.navigation-bar {
		justify-content: center;
		flex-direction: column;
	}
	#navigation-cta {
		display: none !important;
	}
	#mobile-cta {
		display: block;
		margin: 40px auto 10px;
	}
	#annie-mac-logo {
		width: 295px;
	}
	.header-container {
		flex-direction: column;
		margin: 50px 0;
	}
	.header-container h2 {
		font-size: 40px;
		font-weight: 800;
		width: 100%;
		margin: 0 0 20px;
		line-height: 46px;
	}
	.header-container h3 {
		line-height: 30px;
		font-size: 19px;
	}
	#submit-your-information h4 {
		margin-bottom: 20px;
		margin-top: 60px;
		font-size: 24px;
	}
	#submit-your-information p {
		width: 100%;
		font-weight: 400;
		text-align: left;
		font-size: 19px;
	}
	#form-insert {
		margin: 60px -55px;
	}
	#form-insert label {
		font-size: 19px;
	}
	#form-insert input, #form-insert select {
		font-size: 18px;
		padding: 20px 16px;
	}
	.note-container h5 {
		font-size: 22px;
		text-align: center;
		padding-bottom: 10px;
	}
	.disclaim-text, .note-container p, .benefits-list p, details p {
		font-size: 16px;
		line-height: 27px;
		text-align: center;
		font-weight: 300;
	}
	.note-image {
		width: 167px;
		height: 264px;
		top: 0;
		right: 0;
	}
	#form-insert > button {
		margin: 0 auto;
	}
	.row-options {
		flex-direction: column;
	}
	.row-option {
		width: 100%;
	}
	.note-container {
		padding: 40px;
		margin: 15px -40px 35px;
	}
	.product-options {
		flex-direction: column;
		margin: 0 -40px;
	}
	.product-option {
		width: 100%;
		margin: 0;
		padding: 50px 30px;
	}
	.product-option p {
		width: 100%;
		margin: 30px 0;
	}
	#benefits-of-cash-offer {
		padding: 65px 0 75px;
		margin-top: 35px;
	}
	.benefits-list {
		margin: 50px -40px;
	}
	.benefits-list span {
		margin: 0 0 -10px;
	}
	.benefits-list li {
		width: 100%;
		margin-bottom: 0;
		border-radius: 0;
		border: none;
	}
	details {
		margin: 10px -40px;
	}
	details p {
		padding: 30px;
	}
	details summary {
		border-radius: 0;
		line-height: 30px;
		text-align: center;
	}
	.footer-container p {
		width: 100%;
	}
	.footer-bar {
		flex-direction: column;
		justify-content: center;
		padding: 10px 0 15px;
	}
	.main-footer-links {
		margin: 15px;
		flex-direction: column;
		text-align: center;
		line-height: 29px;
	}
	.product-option h4, #benefits-of-cash-offer h4, #frequently-asked-questions h4, #final-callout h4 {
		font-size: 30px;
	}
	#get-started-today {
		width: 100%;
	}
	#frequently-asked-questions h4 {
		text-align: center;
	}
	#frequently-asked-questions h4 span {
		display: none;
	}
	#mobile-more-questions {
		color: var(--lime);
		font-size: 20px;
		padding-bottom: 6px;
		border-bottom: 3px solid var(--lime);
		display: block;
		font-weight: 800;
		width: 192px;
		text-align: center;
		margin: 30px auto -10px;
	}
	#mobile-more-questions a {
		color: inherit;
	}
	#get-started-today h4 {
		font-size: 32px;
	}
	.final-callout-button-container {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	.final-callout-button-container button {
		margin: 10px 0;
	}
}

.hidden-toggle {
	display: none;
}