@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body, h1, h2, h3, h4, h5, h6, p, ul, li, section, main, header, nav, blockquote, footer {
	font-family: 'inter', sans-serif;
	font-size: 16px;
	line-height: 30px;
	font-weight: 400;
	margin: 0;
	padding: 0;
}
header, main, section, form, form div, footer {
	display: flex;
	flex-direction: column;
}
body {

}
header {
	background: radial-gradient(circle, rgb(6 41 79 / 48%), rgb(0 25 45) 104%), url(https://images.pexels.com/photos/2833037/pexels-photo-2833037.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) center;
	color: #fff;
	min-height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background-size: cover;
	background-position-y: 65%;
}
header h1 {
	font-size: 48px;
	font-weight: 500;
	text-shadow: -3px -1px 6px #00000066;
	letter-spacing: .0025em;
	word-spacing: 0.15em;
	margin: 20px 0;
}
header h2 {
	font-size: 30px;
	font-weight: 700;
	text-shadow: 3px -1px 3px #00000066;
	letter-spacing: .0025em;
	word-spacing: 0.15em;
	margin: 10px 0 0;
}
nav ul {
	list-style-type: none;
	display: flex;
	margin: 10px 0 15px;
	width: 820px;
	justify-content: space-between;
}
nav ul a {
	text-decoration: none;
	color: inherit;
}
nav ul a li {
	background: whitesmoke;
	padding: 10px 20px;
	border-radius: 5px;
	box-shadow: rgb(0 0 0 / 10%) 0px 1px 1px;
	font-weight: 500;
}
main {
	padding: 20px;
	color: #3d3d3d;
	width: 90vw;
	margin: 0 auto;
	max-width: 1500px;
}
blockquote {
	background: radial-gradient(circle, rgb(6 41 79 / 66%), rgb(0 25 45) 144%), url(https://images.pexels.com/photos/3760093/pexels-photo-3760093.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
	padding: 30px;
	max-width: 500px;
	font-size: 16px;
	margin: 20px 0;
	color: #fff;
	box-shadow: rgb(0 0 0 / 4%) 1px 5px 16px 5px;
	background-size: cover;
	background-position-y: 75%;
}
blockquote span {
	display: block;
	font-size: 16px;
	font-weight: 600;
	margin: 10px 0 0;
}
main h3 {
	font-weight: 800;
	font-size: 25px;
	margin: 10px 0;
	/* color: rgb(42 85 123); */
	color: rgb(16 51 82);
}
section {
	margin: 15px 0 5px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
section h3 {
	flex: 1;
	min-width: 100%;
}
section ul {
	margin-left: 25px;
}
.side-by-side {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: -10px;
}
.side-text-container {
	display: flex;
	flex-direction: column;
	margin-right: 35px;
}
main p {
	padding-bottom: 8px;
}