@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body, h1, h2, h4, h4, h5, h6, p, ul, li, section, main, header, nav, blockquote, footer {
	font-family: -apple-system,BlinkMacSystemFont, 'inter', sans-serif;
	font-size: 16px;
	line-height: 30px;
	font-weight: 400;
	margin: 0;
	padding: 0;
}
header, main, section, form, form div, footer {
	display: flex;
	flex-direction: column;
}
header {
	background: radial-gradient(circle, rgb(6 41 79 / 48%), rgb(0 25 45) 104%), url(https://images.pexels.com/photos/2833037/pexels-photo-2833037.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) center;
	color: #fff;
	min-height: 450px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background-size: cover;
	background-position-y: 75%;
}
.navigation-container {
	position: absolute;
	top: 10px;
	left: 0;
	width: 100%;
	background: transparent;
	color: #fff;
}
header h1 {
	font-size: 48px;
	font-weight: 500;
	text-shadow: -3px -1px 6px #00000066;
	letter-spacing: .0025em;
	word-spacing: 0.15em;
	margin: 45px 0 20px;
}
header h2 {
	font-size: 30px;
	font-weight: 700;
	text-shadow: 3px -1px 3px #00000066;
	letter-spacing: .0025em;
	word-spacing: 0.15em;
	margin: 10px 0 0;
}
nav, main {
	width: 90vw;
	margin: 0 auto;
	max-width: 1500px;
}
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav span {
	text-indent: -1000vw;
	width: 236px;
	height: 50px;
	background-image: url(./white-logo.png);
	background-size: cover;
	margin-top: -5px;
}
nav ul {
	display: flex;
	margin: 10px 0;
	list-style-type: none;
	justify-content: space-around;
	width: 650px;
	float: right;
}
nav ul a {
	color: #fff;
	text-decoration: none;
}
main {
	padding: 25px 20px;
	color: #3d3d3d;
}
blockquote {
	background: radial-gradient(circle, rgb(6 41 79 / 66%), rgb(0 25 45) 144%), url(https://images.pexels.com/photos/3760093/pexels-photo-3760093.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
	padding: 30px;
	max-width: 500px;
	font-size: 16px;
	margin: 20px 0;
	color: #fff;
	box-shadow: rgb(0 0 0 / 4%) 1px 5px 16px 5px;
	background-size: cover;
	background-position-y: 75%;
}
blockquote span {
	display: block;
	font-size: 16px;
	font-weight: 600;
	margin: 10px 0 0;
}
main h3 {
	margin: 10px 0;
	font-weight: 800;
	font-size: 28px;
	color: rgb(16 51 82);
	text-transform: capitalize;
}
main h4 {
	font-weight: 800;
	font-size: 23px;
	text-transform: capitalize;
	margin: 10px 0;
	color: rgb(42 85 123);
}
section {
	margin: 15px 0 5px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
section h4 {
	flex: 1;
	min-width: 100%;
}
section ul {
	margin-left: 25px;
}
.side-by-side {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	margin-top: -3px;
	width: 100%;
}
.side-by-side .long-quote {
	max-width: 47.5%;
	margin-bottom: 35px;
}
.side-by-side .three-quote {
	min-width: 31%;
	margin-bottom: 35px;
	display: flex;
	flex-direction: column;
	min-height: 150px;
}
.side-text-container {
	display: flex;
	flex-direction: column;
	margin-right: 35px;
}
main p {
	padding-bottom: 8px;
}