@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@font-face {
	 font-family: 'StateFaceRegular';
	 src: url('https://anniemachomemortgage.github.io/AnnieMac/projects/coreyscottteam/resources/stateface-regular-webfont.eot');
	 src: url('https://anniemachomemortgage.github.io/AnnieMac/projects/coreyscottteam/resources/stateface-regular-webfont.eot?#iefix') format('embedded-opentype'),
		  url('https://anniemachomemortgage.github.io/AnnieMac/projects/coreyscottteam/resources/stateface-regular-webfont.woff') format('woff'),
		  url('https://anniemachomemortgage.github.io/AnnieMac/projects/coreyscottteam/resources/stateface-regular-webfont.ttf') format('truetype'),
		  url('https://anniemachomemortgage.github.io/AnnieMac/projects/coreyscottteam/resources/stateface-regular-webfont.svg#StateFaceRegular') format('svg');
	 font-weight: normal;
	 font-style: normal;
 }
 
:root {
	--black: #3A3335;
	--green: #095416;
	--medgreen: #0a4815;
	--blackgreen: #2e3a35;
	--backgrounda: #0a4216;
	--backgroundb: #0c261b;
	--darkgreen: #13341a;
	--greenish: #10702d;
	--lightorange: #cd9070;
	--orange: #0170A8;
	--whiteorange: #dfbead;
	--greenblocked: #409ca008;
	--faded: #f7f6f3;
	--blue: #172A3A;
	--gray: #AAB8B9;
	--darkergray: #606c64;
	--border: #1944403b;
	--white: #fff;
	--offwhite: #f7f7f7;
	--offwhiteb: #f5f4f473;
	--accentwhite: #f2fff5;
	--original: #f9fafb;
	--forester: #43a1659c;
	--smokewhite: #f7f7f8;
	--greenery: #0c6622;
	--footerheaders: #1c1e21;
	--footerlinks: #303e4a;
	--footerlinksb: #414a44;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body, h1, h2, h3, h4, h5, h6, p, ul, li, section, main, header, nav, footer {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	line-height: 30px;
	font-weight: 400;
	color: var(--gray);
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}
html, body {
	padding: 0;
	margin: 0;
	visibility: visible !important;
	overflow: initial !important;
}
header, main, section, form, form div, footer {
	display: flex;
	flex-direction: column;
}
body {
	background: var(--original);
}
.body-background {
	background: linear-gradient(190deg, rgba(79, 79, 79, 0.43) 30%, rgba(34, 69, 74, 0.47) 80%), url(./img/portland.jpg) bottom center;
	min-height: 454px;
	background-position-y: 67%;
	background-size: 100%;
}
.body-overlay {
	margin: 0px auto 60px;
	min-width: 500px;
	z-index: 1;
	width: 90%;
	max-width: 1000px;
}
.navigation-display {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 19px 0 20px;
	width: 100%;
	justify-content: flex-start;
	/* margin-bottom: 50px; */
}
.navigation-display li {
	color: fff;
	font-size: 16px;
	font-weight: 500;
}
li#navigation-logo {
	text-indent: -99999vw;
	background: url('img/CoreyScottTeam.png');
	background-size: cover;
	height: 82px;
	min-width: 433px;
	margin: -13px 0 -50px;
}
.main-site-background {
	position: relative;
	margin-top: -75px;
}
.meet-the-team-header {
	background: linear-gradient(177deg, rgba(0, 44, 66, 0.22) 30%, rgba(5, 47, 68, 0.62) 80%), url('img/coreyteam.jpg');
	display: flex;
	width: 100%;
	border-radius: 4px;
	min-height: 315px;
	background-position-y: 53%;
	background-size: 129%;
	background-position-x: 57%;
}
.meet-the-team-header h3 {
	font-family: 'Inter', sans-serif;
	color: #fff;
	font-size: 64px;
	font-weight: 800;
	margin: 0;
	position: absolute;
	bottom: 45px;
	right: 53px;
}
.main-site-overlay {
	/* background: url('img/woman-background.png'); */
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%,-50%);
	width: 503px;
	height: 492px;
}
.main-site-background h1 {
	font-size: 120px;
	font-weight: 900;
	font-style: italic;
	word-spacing: 100vw;
	line-height: 100px;
	margin-top: 5px;
	color: var(--white);
	opacity: 0.075;
	margin-bottom: 41px;
	z-index: 0;
}
.main-site-summary {
	position: absolute;
	top: 15%;
	right: 0px;
	display: flex;
	flex-direction: column;
	min-width: 300px;
}
.summary-section {
	display: flex;
	flex-direction: column;
	margin: -10px 0 17px;
	background: #1b374d3d;
	padding: 13px 25px 14px 20px;
	float: right;
}
.summary-section > strong {
	color: white;
	font-size: 20px;
	margin-bottom: 4px;
	font-weight: 500;
}
.summary-section > strong i {
	color: var(--offwhiteb);
	font-weight: 800;
	width: 25px;
	display: none;
}
.summary-section > span {
	display: block;
	line-height: 22px;
	font-size: 15px;
	color: white;
	font-weight: 300;
}
.summary-section > span a {
	color: inherit;
	text-decoration: none;
}
button.main-site-apply, #go-back-home {
	outline: none;
	padding: 20px;
	margin: 15px 2px 25px;
	min-width: 200px;
	background: var(--orange);
	color: var(--white);
	font-weight: 600;
	border-radius: 2px;
	font-size: 17px;
	border: .5px solid var(--orange);
}
button.main-site-apply, #learn-more-toggle {
	width: 250px;
}
button.main-site-apply:hover, #go-back-home:hover {
	background: #00537D;
	border: .5px solid #00537D;
	cursor: pointer;
}
button.main-site-apply-2 {
	z-index: 1112 !important;
	outline: none;
	padding: 20px;
	margin: 15px 2px 25px 20px;
	min-width: 200px;
	color: var(--orange);
	background: var(--white);
	font-weight: 600;
	border-radius: 2px;
	font-size: 17px;
	border: .5px solid var(--white);
	position: inherit;
}
button.main-site-apply-2:hover, .blocked-sectional-half a button:hover, .readmorecontainer a button:hover {
	background: #00537D;
	border: .5px solid #00537D;
	cursor: pointer;
	color: #fff;
}
.content-container {
	margin: 30px auto 60px;
	min-width: 500px;
	z-index: 1;
	width: 90%;
	max-width: 1000px;
	min-height: 300px;
}
.text-divider h3 {
	margin-top: 15px;
	margin-bottom: 30px;
	font-size: 43px;
	font-weight: 800;
	padding: 0 15px;
	color: var(--orange);
}
/* .blocked-sectionals:first-of-type {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	z-index: 1;
	margin-bottom: 30px;
} */
.blocked-sectionals {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.blocked-sectional {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 5px;
	border-radius: 2px;
	padding: 0 20px;
	background: var(--blue);
	display: none;
}
.blocked-sectional-half {
	display: flex;
	flex-direction: column;
	width: 47.8%;
	margin: 0 10px 10px;
}
.backgrounded {
	background: ;
	border-radius: 3px;
}
.filler-width {
	width: 265px;
}
.blocked-sectional:first-of-type {
	padding: 0;
}
.blocked-sectional-half:first-of-type {
	padding: 0;
}
.blocked-sectional h3, .blocked-sectional-half h3 {
	margin-bottom: 0;
	font-size: 40px;
	font-weight: 800;
	color: var(--orange);
	margin-top: 23px;
}
.blocked-sectional h4 {
	margin-bottom: -10px;
	font-weight: 800;
	font-size: 22px;
	color: var(--original);
}
.blocked-sectional p {
	font-size: 15px;
	line-height: 24px;
	margin-bottom: 30px;
	color: var(--faded);
}
.blocked-sectional-half h4 {
	margin-top: 20px;
	margin-bottom: -6px;
	font-weight: 300;
	font-size: 22px;
	color: #3a3335;
}
.blocked-sectional-half h5 {
	margin-top: 20px;
	margin-bottom: -6px;
	font-weight: 500;
	font-size: 18px;
	color: #3a3335;
}
#insertion-point h4 {
	margin-top: 30px;
}
#insertion-point .text-content h3 {
	margin-bottom: 27px !important;
}
#insertion-point .text-content h3:nth-of-type(2) {
	margin-top: 40px;
}
#insertion-point ul {
	margin-left: 0;
	padding-left: 17px;
}
#insertion-point ul li {
	font-size: 15px;
	line-height: 29px;
	margin-bottom: 0;
	color: var(--darkergray);
	margin-top: 7px;
}
.blocked-sectional-half p {
	font-size: 15px;
	line-height: 28px;
	margin-bottom: 30px;
	color: var(--darkergray);
	margin-top: 18px;
}
.blocked-sectional a button, .blocked-sectional-half a button, .readmorecontainer a button {
	outline: none;
	padding: 15px;
	margin: -5px 0 19px;
	min-width: 202px;
	background: var(--orange);
	color: var(--offwhite);
	font-weight: 600;
	font-size: 17px;
	border-radius: 2px;
	border: .5px solid var(--orange);
}
.readmorecontainer {
	margin: 30px auto 0;
}
.blocked-sectional a button:hover {
	background: var(--orange);
	border: .5px solid var(--orange);
	cursor: pointer;
}
.initial {
	margin-top: -20px !important;
	margin-bottom: 65px;
}
h1 {
	font-family: 'Crimson Text', serif;
}
footer {
	background: white;
	/* background: var(--smokewhite); */
	color: var(--footerheaders);
}
.sitemap-container {	
	margin: 0px auto 60px;
	min-width: 500px;
	z-index: 1;
	width: 90%;
	max-width: 1000px;
}
.sitemaps {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
	margin-bottom: 20px;
}
.sitemaps ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.sitemaps ul a {
	border-bottom: none;
	text-decoration: none;
}
.sitemaps ul li {
	font-size: 15px;
	color: var(--darkergray);
}
.footerlist-title {
	font-size: 20px !important;
	margin-bottom: 8px;
	font-family: 'Lora', serif !important;
	color: var(--footerlinksb);
	font-weight: 800 !important;
}
.divided-listing {
	display: flex;
	flex-direction: column;
}
.sublistings {
	width: 250px;
	justify-content: space-between;
	display: flex;
	flex-direction: row;
}
.sublistings li i {
	font-size: 22px;
	color: var(--footerlinks);
	margin-top: 20px;
	opacity: .75;
}
.sublistings li i:hover {
	color: var(--orange);
	opacity: 1;
}
#footer-logo img {
	width: 250px;
	height: auto;
}
testimonialscontainer {
	display: flex;
	margin: 25px 0 -10px;
	width: 100%;
	justify-content: space-between;
	flex-wrap: wrap;
}
testimonial {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: 0 0 45px 0;
	border-radius: 5px;
	margin-bottom: 20px;
	padding: 20px;
	/*! box-shadow: 1px 4px 6px rgb(0 0 0 / 4%); */
	/*! border: 1px solid #c3c5c72b; */
	/*! padding: 22px 25px; */
	border-radius: 3px;
	/*! background: var(--offwhiteb); */
}
testimonialdetail {
	background: #dddddd29;
	padding: 10px 25px 15px;
	border-radius: 3px;
	margin: 20px auto -22px;
	width: 100%;
	border-radius: 6px;
}
testimonialdetail h6, testimonialdetail h5 {
	margin: 0;
	color: #888;
}
testimonialdetail h5 {
	font-weight: 300;
	font-size: 19px;
	color: #3a3335;
}
testimonial h4 {
	margin: 5px 0 0;
	font-weight: 400;
	font-size: 22px;
	color: var(--black);
}
testimonial p {
	margin: 10px 0 0;
	color: #979797;
	font-weight: 300;
}
testimonialportrait {
	display: inline-block;
	min-width: 60px;
	min-height: 60px;
	background: #b7b7b7;
	float: left;
	border-radius: 100%;
	margin-right: 20px;
}
commentgridcontainer {
	margin: 45px 0 -10px;
	width: 100%;
	justify-content: space-between;
	flex-wrap: wrap;
}
commentcontainer {
	width: 45%;
	margin: 0 0 45px 0;
	align-items: center;
}
commentcontainer.full {
	width: 100%;
}
commentcontainer h4 {
	margin: 0 0 3px;
}
.our-team-sections {
	margin-top: 30px;
	justify-content: initial;
}
.testimonial-sectional {
  margin-top: 5px;
}
.why-us-sections .blocked-sectional-half, .our-team-callout-sections .blocked-sectional-half {
	width: 100%;
	margin: -20px 0 0;
}
.testimonial-sectional .blocked-sectional-half {
	width: 46%;
}
.product-type, .why-us-sections {
	margin-top: 100px;
	margin-bottom: 40px;
	display: flex;
}
.product-type {
	margin-top: 0;
	margin-bottom: 20px;
}
.our-products-header .blocked-sectional-half {
	width: 100%;
	margin-top: 6px;
}
.product-type h3, .why-us-sections h3, .our-team-callout-sections h3 {
	margin-bottom: 12px;
	margin-top: 0;
}
.product-type p, .why-us-sections p, .our-team-callout-sections p {
	font-size: 15px;
	line-height: 29px;
	margin-bottom: 0;
	color: var(--darkergray);
	margin-top: 12px;
	padding-right: 20px;
}
.product-half-header {
	margin: 0;
}
.product-type p strong, .why-us-sections p strong {
	margin: 22px 0 -20px;
	display: block;
	font-weight: 300;
	font-size: 21px;
	color: #3a3335;
}
.why-us-sections .meet-the-team-header {
  width: 52%;
  order: 2;
  background-size: 147%;
  background-repeat: no-repeat;
}

.learn-more-about-them {
  position: absolute;
  bottom: 4px;
  right: -15px;
  line-height: 17px;
  text-align: center;
  color: white;
  font-weight: 600;
  background: #0170a8;
  border-radius: 100%;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 3px 5px rgba(0,0,0,.25);
}
.learn-more-about-them:hover, .focused {
	transform: scale(1.1);
	background: #79c250;
}
.learn-more-about-them a i {
	font-size: 25px;
}
.staff-portrait-photo {
  width: 90%;
  margin: ;
  border-radius: 2px;
  box-shadow: 1px 3px 6px rgba(0,0,0,.22);
}
.staff-block {
  background: none;
  position: relative;
  width: 31%;
  margin: 0px 11px;
}
.staff-block:first-of-type {
	padding: 0px;
}
.staff-block h4, .product-type h4 {
  text-align: center;
  font-weight: 300;
  font-size: 21px;
  color: #3a3335;
}
.product-type h4 {
	margin-bottom: 8px;
	font-size: 23px;
	text-align: left;
}
.expand-product {
	outline: none;
	padding: 15px;
	margin: 25px 0px 0;
	min-width: 165px;
	background: #78c253;
	color: var(--white);
	font-weight: 300;
	border-radius: 2px;
	font-size: 17px;
	border: .5px solid #78c253;
	max-height: 50px;
}
.expand-product:hover {
	background: #5f9b40;
	border: .5px solid #5f9b40;
	cursor: pointer;
}
.submit-button-csteam {
	outline: none;
	padding: 15px;
	margin: 37px 0px 0;
	min-width: 200px;
	background: #0170a8;
	color: var(--white);
	font-weight: 300;
	border-radius: 2px;
	font-size: 17px;
	border: .5px solid #0170a8;
	max-height: 50px;
	align-self: flex-end;
}
.submit-button-csteam:hover {
	background: #005d8c;
	border: .5px solid #005d8c;
	cursor: pointer;
}
.call-button-csteam {
	outline: none;
	padding: 15px;
	margin: 25px 0px 0;
	min-width: 165px;
	background: #78c253;
	color: var(--white);
	font-weight: 300;
	border-radius: 2px;
	font-size: 17px;
	border: .5px solid #78c253;
	max-height: 50px;
}
.call-button-csteam:hover {
	background: #5f9b40;
	border: .5px solid #5f9b40;
	cursor: pointer;
}
.expanded {
	outline: none;
	padding: 15px;
	margin: 25px 0px 0;
	min-width: 165px;
	color: white;
	background: #5f9b40;
	font-weight: 300;
	border-radius: 2px;
	font-size: 17px;
	border: .5px solid #5f9b40;
	box-shadow: 1px 5px 8px rgba(0,0,0,.074);
	max-height: 50px;
}
.expanded:hover {
	background: #78c253;
	border: .5px solid #78c253;
}
.product-type-row-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
	margin-top: 10px;
}
.our-products-header {
	margin-bottom: 15px;
}
#learn_only .product-type-row-container:not(:first-of-type) {
	margin-top: 2px;
}
#learn_only > .product-type-row-container:nth-of-type(4) {
  margin-top: 27px;
}
.product-type-row-container > * {
	width: 49%;
}
#conventional-block {
	order: 1;
}
#va-block {
	order: 3;
}
#first-expanded-container {
	order: 4;
}
#fha-block {
	order: 1;
	margin-top: 25px;
}
#usda-block {
	order: 3;
	margin-top: 25px;
}
#second-expanded-container {
	order: 4;
}
.product-type p {
	margin-top: 5px;
}
.expanded-row-container {
	width: 100%;
}
.expanded-row-description {
	background: #fdfdfd;
	width: 100%;
	box-shadow: 1px 3px 8px rgba(0,0,0,.15);
	padding: 15px 35px 45px;
	margin-bottom: 30px;
	margin-top: 10px;
}
.expanded-row-description h4 {
	color: #3a3335;
	font-size: 18px;
	margin-top: 17px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
	padding-bottom: 7px;
	margin-bottom: 0;
	font-weight: 400;
}
.expanded-row-description h4:not(:first-of-type) {
	margin-top: 30px;
}
.expanded-row-description h4 span {
	font-weight: 600;
}
.expanded-description h4 {
	margin-top: 30px;
	font-weight: 600;
}
.expanded-row-description p {
	color: #606c64;
	font-size: 15px;
}
.expanded-row-description ul {
	margin-left: 3px;
	padding-left: 13px;
}
.expanded-row-description li {
	color: #606c64;
	font-size: 15px;
	padding-left: 10px;
	padding-bottom: 3px;
}
.contact-options {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 30px;
}
.contact-option:first-of-type {
	width: 30%;
	padding-right: 15px;
}
.contact-option:last-of-type {
	width: 70%;
	padding-left: 36px;
	border-left: 1px solid rgba(0,0,0,.05);
	margin-left: 10px;
}
.contact-option {
	display: flex;
	flex-direction: column;
}
.contact-option p {
	margin-top: 20px;
}
#send-csteam-message {
	margin-top: 30px;
}
#send-csteam-message label {
	font-weight: 400;
	color: #3a3335;
}
#send-csteam-message input, #send-csteam-message textarea {
	border: 1px solid rgba(0,0,0,.14);
	font-size: 14px;
	padding: 12px;
	font-weight: 200;
	margin-bottom: 20px;
	border-radius: 2px;
	margin-top: 5px;
	outline: none;
}
#send-csteam-message input:active, #send-csteam-message textarea:active, #send-csteam-message input:focus, #send-csteam-message textarea:focus {
	box-shadow: 1px 2px 3px rgba(0,0,0,.1);
}
#send-csteam-message textarea {
	min-height: 130px;
}
.labeled-pair {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 10px 0;
}
.labeled-grouping {
	width: 48%;
}
.expanded-close-button, .contact-button {
	outline: none;
	padding: 15px;
	min-width: 105px;
	background: #78c253;
	color: var(--white);
	font-weight: 300;
	border-radius: 2px;
	font-size: 17px;
	border: .5px solid #78c253;
	margin-top: 15px;
}
.expanded-close-button:hover, .contact-button:hover {
	background: #5f9b40;
	border: .5px solid #5f9b40;
	cursor: pointer;
}
.contact-button {
	min-width: 200px !important;
	margin-top: 25px;
}
.contact-button a {
	color: inherit;
	text-decoration: none;
}
.contact-button i {
	margin-right: 5px;
}
.contact-option h4 {
	display: flex;
	align-items: center;
}
.contact-option h4 i {
	margin-right: 15px;
	opacity: .65;
}
.contact-method:nth-of-type(2) {
	margin-top: 20px;
}
.staff-block h5 {
  margin: 10px auto -15px;
  font-weight: 500;
  color: #888;
  text-align: center;
}
.our-products {
	margin-top: 5px;
}
.image-gradient-overlay {
  width: 100%;
  display: flex;
  height: 216px;
  background: linear-gradient(177deg, rgba(0, 44, 66, 0.22) 30%, rgba(5, 47, 68, 0.62) 80%);
  margin: 28px auto;
  border-radius: 3px;
}
.image-gradient-overlay img{
	position: relative;
	z-index: -1;
	display: block;
	height: 216px; 
	width: 100%;
}
.our-team-callout-sections {
	margin-top: 50px;
	margin-bottom: 15px;
}
.triggered-information h4 {
	text-align: left;
	font-weight: 300;
	font-size: 30px;
	color: #fff;
	margin-bottom: -5px;
	margin-top: 25px;
}
.triggered-information h5 {
	text-align: left;
	font-weight: 300;
	font-size: 18px;
	color: #fff;
	margin-top: 12px;
}
.triggered-information p {
	color: #fff;
}
.triggered-information p:first-of-type {
	margin-top: -5px;
}
.triggered-information p:last-of-type {
	margin-bottom: 45px;
}
.social-listing {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 260px;
	justify-content: space-between;
}
.social-listing a li {
	font-size: 25px;
}
.social-listing a {
	opacity: .8;
}
.social-listing a:hover {
	opacity: 1;
}
.social-listing a:hover li {
	color: #fff;
}
.hidden {
	display: none;
}
.meet-the-team-header-corey {
	background: linear-gradient(177deg, rgba(21, 47, 60, 0.42) 30%, rgba(5, 47, 68, 0.73) 80%), url('img/corey.jpg');
	display: flex;
	width: 100%;
	border-radius: 4px;
	min-height: 315px;
	background-position-y: 53%;
	background-size: 102%;
	background-position-x: 57%;
}
.meet-the-team-header-megan {
	background: linear-gradient(177deg, rgba(21, 47, 60, 0.42) 30%, rgba(5, 47, 68, 0.73) 80%), url('img/megan.jpg');
	display: flex;
	width: 100%;
	border-radius: 4px;
	min-height: 315px;
	background-position-y: 45%;
	background-size: 102%;
	background-position-x: 57%;
}
.meet-the-team-header-amanda {
	background: linear-gradient(177deg, rgba(21, 47, 60, 0.42) 30%, rgba(5, 47, 68, 0.73) 80%), url('img/amanda.jpg');
	display: flex;
	width: 100%;
	border-radius: 4px;
	min-height: 315px;
	background-position-y: 45%;
	background-size: 102%;
	background-position-x: 57%;
}
.meet-the-team-header-billie {
	background: linear-gradient(177deg, rgba(21, 47, 60, 0.42) 30%, rgba(5, 47, 68, 0.73) 80%), url('img/billie.jpg');
	display: flex;
	width: 100%;
	border-radius: 4px;
	min-height: 315px;
	background-position-y: 45%;
	background-size: 102%;
	background-position-x: 57%;
}
.meet-the-team-header-jess {
	background: linear-gradient(177deg, rgba(21, 47, 60, 0.42) 30%, rgba(5, 47, 68, 0.73) 80%), url('img/jess.jpg');
	display: flex;
	width: 100%;
	border-radius: 4px;
	min-height: 315px;
	background-position-y: 45%;
	background-size: 102%;
	background-position-x: 57%;
}
.meet-the-team-header-mike {
	background: linear-gradient(177deg, rgba(21, 47, 60, 0.42) 30%, rgba(5, 47, 68, 0.73) 80%), url('img/mike.jpg');
	display: flex;
	width: 100%;
	border-radius: 4px;
	min-height: 315px;
	background-position-y: 45%;
	background-size: 102%;
	background-position-x: 57%;
}
.meet-the-team-header-rhonda {
	background: linear-gradient(177deg, rgba(21, 47, 60, 0.42) 30%, rgba(5, 47, 68, 0.73) 80%), url('img/rhonda.jpg');
	display: flex;
	width: 100%;
	border-radius: 4px;
	min-height: 315px;
	background-position-y: 45%;
	background-size: 102%;
	background-position-x: 57%;
}
.meet-the-team-header-nicole {
	background: linear-gradient(177deg, rgba(21, 47, 60, 0.42) 30%, rgba(5, 47, 68, 0.73) 80%), url('img/nicole.jpg');
	display: flex;
	width: 100%;
	border-radius: 4px;
	min-height: 315px;
	background-position-y: 45%;
	background-size: 102%;
	background-position-x: 57%;
}
.mobile-only, .footer-mobile, .mobile-only-toggle, .mobile-only-header {
	display: none;
}
.cs-disclaimer-text {
	margin-top: 40px;
	margin-bottom: -40px;
}
.cs-disclaimer-text small {
	color: #3a3335;
	font-size: 13px;
	font-weight: 500;
	line-height: 23px;
}
.state-listing-licensed {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 15px 0 -50px;
}

.state-listing-licensed > * {
	width: 33.33%;
	height: 40px;
}
.state-listing-licensed p {
	display: flex;
	align-items: center;
	font-weight: 300;
	font-size: 18px;
	color: #3a3335;
	margin-bottom: 20px;
}
.state-listing-licensed p span {
	min-width: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
}
.stateface {
	font-family: 'StateFaceRegular';
	color: #78c252;
	font-size: 40px;
}
.stateface:before {
	font-family: StateFaceRegular;
	margin-right: 5px;
}
.stateface-replace {
	text-indent: -999em;
	display: inline-block;
	position: relative;
	min-width: 1em;
}

.stateface-replace:before {
	position: absolute;
	left: 0;
	top: 0;
	text-indent: 0;
}

.stateface-ak:before {
	content: "A";
}

.stateface-al:before {
	content: "B";
}

.stateface-ar:before {
	content: "C";
}

.stateface-az:before {
	content: "D";
}

.stateface-ca:before {
	content: "E";
}

.stateface-co:before {
	content: "F";
}

.stateface-ct:before {
	content: "G";
}

.stateface-dc:before {
	content: "y";
}

.stateface-de:before {
	content: "H";
}

.stateface-fl:before {
	content: "I";
}

.stateface-ga:before {
	content: "J";
}

.stateface-hi:before {
	content: "K";
}

.stateface-ia:before {
	content: "L";
}

.stateface-id:before {
	content: "M";
}

.stateface-il:before {
	content: "N";
}

.stateface-in:before {
	content: "O";
}

.stateface-ks:before {
	content: "P";
}

.stateface-ky:before {
	content: "Q";
}

.stateface-la:before {
	content: "R";
}

.stateface-ma:before {
	content: "S";
}

.stateface-md:before {
	content: "T";
}

.stateface-me:before {
	content: "U";
}

.stateface-mi:before {
	content: "V";
}

.stateface-mn:before {
	content: "W";
}

.stateface-mo:before {
	content: "X";
}

.stateface-ms:before {
	content: "Y";
}

.stateface-mt:before {
	content: "Z";
}

.stateface-nc:before {
	content: "a";
}

.stateface-nd:before {
	content: "b";
}

.stateface-ne:before {
	content: "c";
}

.stateface-nh:before {
	content: "d";
}

.stateface-nj:before {
	content: "e";
}

.stateface-nm:before {
	content: "f";
}

.stateface-nv:before {
	content: "g";
}

.stateface-ny:before {
	content: "h";
}

.stateface-oh:before {
	content: "i";
}

.stateface-ok:before {
	content: "j";
}

.stateface-or:before {
	content: "k";
}

.stateface-pa:before {
	content: "l";
}

.stateface-ri:before {
	content: "m";
}

.stateface-sc:before {
	content: "n";
}

.stateface-sd:before {
	content: "o";
}

.stateface-tn:before {
	content: "p";
}

.stateface-tx:before {
	content: "q";
}

.stateface-us:before {
	content: "z";
}

.stateface-ut:before {
	content: "r";
}

.stateface-va:before {
	content: "s";
}

.stateface-vt:before {
	content: "t";
}

.stateface-wa:before {
	content: "u";
}

.stateface-wi:before {
	content: "v";
}

.stateface-wv:before {
	content: "w";
}

.stateface-wy:before {
	content: "x";
}
.zillow-icon {
	width: 90px;
	height: auto;
	margin-top: 22px;
}

.compare-chart {
  display: flex;
  justify-content: space-between;
  color: #606c64;
  margin-bottom: -20px;
}

.compare-selection {
  width: 30%;
}

.compare-selection h3 {
  color: #3a3335;
  font-size: 18px;
  margin-top: 17px;
  padding-bottom: 7px;
  margin-bottom: 5px;
}

.specific.columnize {
  margin: 10px -24px;
  font-size: 14px;
  padding: 3px 23px 8px;
}

.specific strong {
  color: #3a3335;
  font-size: 16px;
  font-weight: 300;
}

.specific span {
  display: block;
  margin-top: -2px;
  margin-bottom: 7px;
}

.properties-req {
  min-height: 137px;
}

.notes-req {
  min-height: 180px;
}

@media only screen and (max-width: 1046px) {
	.body-background {
		background-size: cover;
		min-height: initial;
		height: 300px;
	}
	.main-site-summary {
		display: none;
	}
	.main-site-background {
		display: flex;
		flex-direction: column;
		width: 80vw;
		margin: -80 auto;
	}
	.main-site-background h1 {
		height: 1px;
	}
	.navigation-display {
		justify-content: center;
		margin-bottom: 85px;
	}
	.mobile-only-header {
		display: block;
	}
	li#navigation-logo {
		height: 62px;
		min-width: 300px;
	}
	button.main-site-apply-2 {
		display: block;
		margin: 0 2px 25px 0;
	}
	.summary-section {
		min-width: 312px;
	}
	.our-team-sections {
		margin-top: 10px;
	}
	.meet-the-team-header {
		display: none;
	}
	.staff-block {
		width: 50%;
		margin: 0;
		margin: 0 0 35px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
	}
	.image-gradient-overlay, .image-gradient-overlay img {
		border-radius: 4%;
		height: 140px;
		width: 154px;
		margin: 0;
	}
	.image-gradient-overlay img {
		object-fit: cover;
	}
	.name-and-title {
		order: 2;
		margin-left: 20px;
		display: flex;
		flex-direction: column;
		height: 75px;
	}
	.mobile-only-toggle {
		display: block;
		margin-top: 5px;
		padding: 5px 20px;
		z-index: 1112 !important;
		background: var(--orange);
		color: var(--white);
		font-weight: 400;
		border-radius: 2px;
		max-width: 180px;
		min-width: 180px;
	}
	.mobile-only-toggle:hover {
		background: #00537D;
		cursor: pointer;
	}
	.mobile-activated-toggle {
		background: #00537D;
	}
	.staff-block h4, .staff-block h5 {
		text-align: left;
		margin: 0;
	}
	.staff-block h4 {
		margin-top: -20px;
	}
	.learn-more-about-them {
		display: none;
	}
	.divided-listing:first-of-type {
		justify-content: center;
		align-items: center;
	}
	.why-us-sections {
		margin-top: 70px;
	}
	#footer-logo {
		margin: 0 auto;
	}
	#footer-logo img {
		width: 350px;
	}
	.footerlist-title {
		margin-top: 30px;
	}
	.sitemaps {
		flex-direction: column;
	}
	.mobile-only {
		display: block;
		order: 3;
		background: #f3f4f4;
		padding: 10px 30px;
		border-radius: 6px;
		margin-top: 16px;
		box-shadow: 1px 1px 9px rgba(0,0,0,.09);
		margin-bottom: 30px;
	}
	.mobile-active-staff {
		width: 100%;
		flex-wrap: wrap;
	}
	.mobile-only .triggered-social-container {
		margin-top: -20px;
		margin-bottom: 20px;
	}
	.mobile-only .social-listing li i {
		font-size: 22px;
		color: var(--footerlinks);
		margin-top: 20px;
		opacity: .75;
	}
	.mobile-only .social-listing li i:hover {
		color: var(--orange);
		opacity: 1;
	}
	.footer-mobile {
		display: block;
		background: #f3f4f4;
		padding: 10px 30px;
		border-radius: 6px;
		margin-top: 30px;
		margin-bottom: 10px;
		color: #636e77;
		opacity: .8;
	}	
	.footer-mobile-section {
		display: flex;
		flex-direction: column;
		margin: 16px 0;
		border-bottom: 1px solid #b6bbbf4a;
		padding-bottom: 13px;
	}
	.footer-mobile-section:last-of-type {
		border-bottom: none;
		padding-bottom: 0px;
	}
	.remain-hidden {
		display: none;
	}
	.product-type-row-container {
		flex-direction: column;
	}
	.product-type-row-container > * {
		width: 100%;
	}
	.contact-options {
		margin-top: 0;
		flex-wrap: wrap;
	}
	.contact-option:last-of-type {
		order: 1;
		width: 100%;
		padding-left: 0;
		border-left: none;
		margin-left: 0;
		margin-top: 40px;
		border-top: 1px solid rgba(0,0,0,.05);
		padding-top: 10px;
	}
	.contact-option:first-of-type {
		order: -1;
		width: 100%;
		flex-direction: row;
		justify-content: space-between;
		padding-right: 0;
		align-items: flex-end;
	}
	#construction-block {
	  margin-top: 25px;
	}
	.compare-chart {
		flex-direction: column;
		background: #f6f6f6;
		padding: 15px 20px;
		border-radius: 9px;
		margin-bottom: 15px;
	}
	.compare-selection {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}
	.compare-selection h3 {
		width: 100%;
		display: block;
		border-bottom: 1px solid rgba(0,0,0,.1);
	}
	.specific.columnize {
		width: 39%;
	}
	.specific span {
	  width: 80%;
  	}
}
.bztMy {
	margin-top: 20px !important;
	margin-bottom: -6px !important;
	font-weight: 300 !important;
	font-size: 22px !important;
	color: #3a3335 !important;
}