@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root {
	--black: #3A3335;
	--green: #095416;
	--medgreen: #0a4815;
	--blackgreen: #2e3a35;
	--backgrounda: #0a4216;
	--backgroundb: #0c261b;
	--darkgreen: #13341a;
	--greenish: #10702d;
	--lightorange: #cd9070;
	--orange: #0170A8;
	--whiteorange: #dfbead;
	--greenblocked: #409ca008;
	--faded: #f7f6f3;
	--blue: #172A3A;
	--gray: #AAB8B9;
	--darkergray: #606c64;
	--border: #1944403b;
	--white: #fff;
	--offwhite: #f7f7f7;
	--offwhiteb: #f5f4f473;
	--accentwhite: #f2fff5;
	--original: #f9fafb;
	--forester: #43a1659c;
	--smokewhite: #f7f7f8;
	--greenery: #0c6622;
	--footerheaders: #1c1e21;
	--footerlinks: #303e4a;
	--footerlinksb: #414a44;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body, h1, h2, h3, h4, h5, h6, p, ul, li, section, main, header, nav, footer {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	line-height: 30px;
	font-weight: 400;
	color: var(--gray);
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}
html, body {
	padding: 0;
	margin: 0;
}
header, main, section, form, form div, footer {
	display: flex;
	flex-direction: column;
}
body {
	background: var(--original);
}
.body-background {
	background: linear-gradient(190deg, rgba(79, 79, 79, 0.43) 30%, rgba(34, 69, 74, 0.47) 80%), url(./img/portland.jpg);
	min-height: 539px;
	background-position-y: 55%;
	background-size: 100%;
}
.body-overlay {
	margin: 0px auto 60px;
	min-width: 500px;
	z-index: 1;
	width: 90%;
	max-width: 1000px;
}
.navigation-display {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 19px 0 20px;
	width: 100%;
	justify-content: space-between;
	margin-bottom: 50px;
}
.navigation-display li {
	color: fff;
	font-size: 16px;
	font-weight: 500;
}
li#navigation-logo {
	text-indent: -99999vw;
	background: url('img/CoreyScottTeam.png');
	background-size: cover;
	height: 56px;
	width: 325px;
	margin: -14px 0 -25px;
}
.main-site-background {
	position: relative;
	margin-top: -60px;
}
.meet-the-team-header {
	background: linear-gradient(177deg, rgba(0, 44, 66, 0.22) 30%, rgba(5, 47, 68, 0.62) 80%), url('img/coreyteam.jpg');
	display: flex;
	width: 100%;
	border-radius: 4px;
	min-height: 315px;
	background-position-y: 53%;
	background-size: 129%;
	background-position-x: 57%;
}
.meet-the-team-header h3 {
	font-family: 'Inter', sans-serif;
	color: #fff;
	font-size: 64px;
	font-weight: 800;
	margin: 0;
	position: absolute;
	bottom: 45px;
	right: 53px;
}
.main-site-overlay {
	/* background: url('img/woman-background.png'); */
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%,-50%);
	width: 503px;
	height: 492px;
}
.main-site-background h1 {
	font-size: 120px;
	font-weight: 900;
	font-style: italic;
	word-spacing: 100vw;
	line-height: 100px;
	margin-top: 5px;
	color: var(--white);
	opacity: 0.075;
	margin-bottom: 41px;
	z-index: 0;
}
.main-site-summary {
	position: absolute;
	top: 15%;
	right: 0px;
	display: flex;
	flex-direction: column;
	min-width: 300px;
}
.summary-section {
	display: flex;
	flex-direction: column;
	margin: -10px 0 17px;
	background: #1b374d3d;
	padding: 13px 25px 14px 20px;
	float: right;
}
.summary-section > strong {
	color: fff;
	font-size: 20px;
	margin-bottom: 4px;
	font-weight: 500;
}
.summary-section > strong i {
	color: var(--offwhiteb);
	font-weight: 800;
	width: 25px;
	display: none;
}
.summary-section > span {
	display: block;
	line-height: 22px;
	font-size: 15px;
	color: white;
	font-weight: 300;
}
button.main-site-apply {
	outline: none;
	padding: 20px;
	margin: 15px 2px 25px;
	min-width: 200px;
	background: var(--orange);
	color: var(--white);
	font-weight: 600;
	border-radius: 2px;
	font-size: 17px;
	border: .5px solid var(--orange);
}
button.main-site-apply:hover {
	background: #00537D;
	border: .5px solid #00537D;
	cursor: pointer;
}
button.main-site-apply-2 {
	z-index: 1112 !important;
	outline: none;
	padding: 20px;
	margin: 15px 2px 25px 20px;
	min-width: 200px;
	color: var(--orange);
	background: var(--white);
	font-weight: 600;
	border-radius: 2px;
	font-size: 17px;
	border: .5px solid var(--white);
	position: inherit;
}
button.main-site-apply-2:hover, .blocked-sectional-half a button:hover, .readmorecontainer a button:hover {
	background: #00537D;
	border: .5px solid #00537D;
	cursor: pointer;
	color: #fff;
}
.content-container {
	margin: 30px auto 60px;
	min-width: 500px;
	z-index: 1;
	width: 90%;
	max-width: 1000px;
	min-height: 300px;
}
.text-divider h3 {
	margin-top: 15px;
	margin-bottom: 30px;
	font-size: 43px;
	font-weight: 800;
	padding: 0 15px;
	color: var(--orange);
}
/* .blocked-sectionals:first-of-type {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	z-index: 1;
	margin-bottom: 30px;
} */
.blocked-sectionals {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.blocked-sectional {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 5px;
	border-radius: 2px;
	padding: 0 20px;
	background: var(--blue);
	display: none;
}
.blocked-sectional-half {
	display: flex;
	flex-direction: column;
	width: 47.8%;
	margin: 0 10px 10px;
}
.backgrounded {
	background: ;
	border-radius: 3px;
}
.filler-width {
	width: 265px;
}
.blocked-sectional:first-of-type {
	padding: 0;
}
.blocked-sectional-half:first-of-type {
	padding: 0;
}
.blocked-sectional h3, .blocked-sectional-half h3 {
	margin-bottom: 0;
	font-size: 40px;
	font-weight: 800;
	color: var(--orange);
	margin-top: 23px;
}
.blocked-sectional h4 {
	margin-bottom: -10px;
	font-weight: 800;
	font-size: 22px;
	color: var(--original);
}
.blocked-sectional p {
	font-size: 15px;
	line-height: 24px;
	margin-bottom: 30px;
	color: var(--faded);
}
.blocked-sectional-half h4 {
	margin-top: 20px;
	margin-bottom: -6px;
	font-weight: 300;
	font-size: 22px;
	color: #3a3335;
}
.blocked-sectional-half p {
	font-size: 15px;
	line-height: 28px;
	margin-bottom: 30px;
	color: var(--darkergray);
	margin-top: 18px;
}
.blocked-sectional a button, .blocked-sectional-half a button, .readmorecontainer a button {
	outline: none;
	padding: 15px;
	margin: -5px 0 19px;
	min-width: 202px;
	background: var(--orange);
	color: var(--offwhite);
	font-weight: 600;
	font-size: 17px;
	border-radius: 2px;
	border: .5px solid var(--orange);
}
.readmorecontainer {
	margin: 30px auto 0;
}
.blocked-sectional a button:hover {
	background: var(--orange);
	border: .5px solid var(--orange);
	cursor: pointer;
}
.initial {
	margin-top: -20px !important;
	margin-bottom: 65px;
}
h1 {
	font-family: 'Crimson Text', serif;
}
footer {
	background: white;
	/* background: var(--smokewhite); */
	color: var(--footerheaders);
}
.sitemap-container {	
	margin: 0px auto 60px;
	min-width: 500px;
	z-index: 1;
	width: 90%;
	max-width: 1000px;
}
.sitemaps {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
	margin-bottom: 20px;
}
.sitemaps ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.sitemaps ul li {
	font-size: 15px;
	color: var(--darkergray);
}
.footerlist-title {
	font-size: 20px !important;
	margin-bottom: 8px;
	font-family: 'Lora', serif !important;
	color: var(--footerlinksb);
	font-weight: 800 !important;
}
.divided-listing {
	display: flex;
	flex-direction: column;
}
.sublistings {
	width: 220px;
	justify-content: space-between;
	display: flex;
	flex-direction: row;
}
.sublistings li i {
	font-size: 22px;
	color: var(--footerlinks);
	margin-top: 20px;
	opacity: .75;
}
.sublistings li i:hover {
	color: var(--orange);
	opacity: 1;
}
#footer-logo img {
	width: 250px;
	height: auto;
}
testimonialscontainer {
	display: flex;
	margin: 25px 0 -10px;
	width: 100%;
	justify-content: space-between;
	flex-wrap: wrap;
}
testimonial {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: 0 0 45px 0;
	border-radius: 5px;
	margin-bottom: 20px;
	padding: 20px;
	/*! box-shadow: 1px 4px 6px rgb(0 0 0 / 4%); */
	/*! border: 1px solid #c3c5c72b; */
	padding: 22px 25px;
	border-radius: 3px;
	background: var(--offwhiteb);
}
testimonialdetail {
	background: #dddddd29;
	padding: 20px 27px;
	border-radius: 3px;
	margin: 20px -25px -22px;
}
testimonialdetail h6, testimonialdetail h5 {
	margin: 0;
	color: #888;
}
testimonialdetail h5 {
	font-weight: 300;
	font-size: 19px;
	color: #3a3335;
}
testimonial h4 {
	margin: 5px 0 0;
	font-weight: 700;
	font-size: 22px;
	color: var(--black);
}
testimonial p {
	margin: 10px 0 0;
	color: #979797;
	font-weight: 300;
}
testimonialportrait {
	display: inline-block;
	min-width: 60px;
	min-height: 60px;
	background: #b7b7b7;
	float: left;
	border-radius: 100%;
	margin-right: 20px;
}
commentgridcontainer {
	margin: 45px 0 -10px;
	width: 100%;
	justify-content: space-between;
	flex-wrap: wrap;
}
commentcontainer {
	width: 45%;
	margin: 0 0 45px 0;
	align-items: center;
}
commentcontainer.full {
	width: 100%;
}
commentcontainer h4 {
	margin: 0 0 3px;
}
.our-team-sections {
	margin-top: 30px;
	justify-content: initial;
}
.testimonial-sectional {
  margin-top: 5px;
}
.why-us-sections .blocked-sectional-half, .our-team-callout-sections .blocked-sectional-half {
	width: 100%;
	margin: -20px 0 0;
}
.testimonial-sectional .blocked-sectional-half {
	width: 46%;
}
.why-us-sections {
	margin-top: 100px;
	margin-bottom: 40px;
	display: flex;
}
.our-products-header .blocked-sectional-half {
	width: 100%;
	margin-top: 50px;
}
.why-us-sections h3, .our-team-callout-sections h3 {
	margin-bottom: 12px;
	margin-top: 0;
}
.why-us-sections p, .our-team-callout-sections p {
	font-size: 15px;
	line-height: 29px;
	margin-bottom: 0;
	color: var(--darkergray);
	margin-top: 12px;
	padding-right: 20px;
}
.why-us-sections p strong {
	margin: 22px 0 -20px;
	display: block;
	font-weight: 300;
	font-size: 21px;
	color: #3a3335;
}
.why-us-sections .meet-the-team-header {
  width: 52%;
  order: 2;
  background-size: 147%;
  background-repeat: no-repeat;
}

.learn-more-about-them {
  position: absolute;
  bottom: 4px;
  right: -15px;
  line-height: 17px;
  text-align: center;
  color: white;
  font-weight: 600;
  background: #0170a8;
  border-radius: 100%;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 3px 5px rgba(0,0,0,.25);
}
.learn-more-about-them:hover, .focused {
	transform: scale(1.1);
	background: #79c250;
}
.learn-more-about-them a i {
	font-size: 25px;
}
.staff-portrait-photo {
  width: 90%;
  margin: ;
  border-radius: 2px;
  box-shadow: 1px 3px 6px rgba(0,0,0,.22);
}
.staff-block {
  background: none;
  position: relative;
  width: 31%;
  margin: 0px 11px;
}
.staff-block:first-of-type {
	padding: 0px;
}
.staff-block h4 {
  text-align: center;
  font-weight: 300;
  font-size: 21px;
  color: #3a3335;
}
.staff-block h5 {
  margin: 10px auto -15px;
  font-weight: 500;
  color: #888;
  text-align: center;
}
.our-products {
	margin-top: 5px;
}
.image-gradient-overlay {
  width: 100%;
  display: flex;
  height: 216px;
  background: linear-gradient(177deg, rgba(0, 44, 66, 0.22) 30%, rgba(5, 47, 68, 0.62) 80%);
  margin: 28px auto;
  border-radius: 3px;
}
.image-gradient-overlay img{
	position: relative;
	z-index: -1;
	display: block;
	height: 216px; 
	width: 100%;
}
.our-team-callout-sections {
	margin-top: 30px;
	margin-bottom: 15px;
}
.triggered-information h4 {
	text-align: left;
	font-weight: 300;
	font-size: 30px;
	color: #fff;
	margin-bottom: -5px;
}
.triggered-information h5 {
	text-align: left;
	font-weight: 300;
	font-size: 18px;
	color: #fff;
	margin-top: 12px;
}
.triggered-information p {
	color: #fff;
}
.triggered-information p:first-of-type {
	margin-top: -5px;
}
.triggered-information p:last-of-type {
	margin-bottom: 45px;
}
.social-biography-links {
	margin: -35px -50px -60px;
	border-radius: 0 0 4px 4px;
	padding: 20px 15px;
}
.social-biography-links ul {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 600px;
	justify-content: space-between;
	margin-left: 35px;
	visibility: hidden;
}
.social-biography-links ul a {
	color: inherit;
	text-decoration: none;
}
.social-biography-links ul a li {
	color: #fff;
}
.hidden {
	display: none;
}
.meet-the-team-header-corey {
	background: linear-gradient(177deg, rgba(21, 47, 60, 0.42) 30%, rgba(5, 47, 68, 0.73) 80%), url('img/corey.jpg');
	display: flex;
	width: 100%;
	border-radius: 4px;
	min-height: 315px;
	background-position-y: 53%;
	background-size: 102%;
	background-position-x: 57%;
}
.meet-the-team-header-megan {
	background: linear-gradient(177deg, rgba(21, 47, 60, 0.42) 30%, rgba(5, 47, 68, 0.73) 80%), url('img/megan.jpg');
	display: flex;
	width: 100%;
	border-radius: 4px;
	min-height: 315px;
	background-position-y: 45%;
	background-size: 102%;
	background-position-x: 57%;
}
.meet-the-team-header-amanda {
	background: linear-gradient(177deg, rgba(21, 47, 60, 0.42) 30%, rgba(5, 47, 68, 0.73) 80%), url('img/amanda.jpg');
	display: flex;
	width: 100%;
	border-radius: 4px;
	min-height: 315px;
	background-position-y: 45%;
	background-size: 102%;
	background-position-x: 57%;
}
.meet-the-team-header-billie {
	background: linear-gradient(177deg, rgba(21, 47, 60, 0.42) 30%, rgba(5, 47, 68, 0.73) 80%), url('img/billie.jpg');
	display: flex;
	width: 100%;
	border-radius: 4px;
	min-height: 315px;
	background-position-y: 45%;
	background-size: 102%;
	background-position-x: 57%;
}
.meet-the-team-header-jess {
	background: linear-gradient(177deg, rgba(21, 47, 60, 0.42) 30%, rgba(5, 47, 68, 0.73) 80%), url('img/jess.jpg');
	display: flex;
	width: 100%;
	border-radius: 4px;
	min-height: 315px;
	background-position-y: 45%;
	background-size: 102%;
	background-position-x: 57%;
}
.meet-the-team-header-mike {
	background: linear-gradient(177deg, rgba(21, 47, 60, 0.42) 30%, rgba(5, 47, 68, 0.73) 80%), url('img/mike.jpg');
	display: flex;
	width: 100%;
	border-radius: 4px;
	min-height: 315px;
	background-position-y: 45%;
	background-size: 102%;
	background-position-x: 57%;
}