@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
	--mainbody: #3a3a3a;
	--bodytext: #333a40;
	--linking: #7d7d7d;
	--hoverlink: #2e2c2d;
	--primary: #00a551;
	--secondary: #19244e;
	--lightbackground: rgb(164 171 161 / 14%);
	--tirtiary: #565b61;
	--lightaccent: #c3c5c75e;
	--faded: #dee2e6;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
    background: #f4f4f4;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
section,
main,
header,
nav,
footer {
	font-family: 'proxima-nova', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
	font-size: 16px;
	line-height: 30px;
	font-weight: 400;
	color: var(--mainbody);
}

h1,
h2,
h3 {
	font-family: 'futura', sans-serif;
}

body {
	background: #fff;
	display: flex;
	flex-direction: column;
	max-width: 1780px;
	color: #414F55;
	margin: 0 auto;
	box-shadow: 1px 3px 10px rgba(0,0,0,.1);
}

a {
	color: var(--linking);
	text-decoration: none;
	font-weight: 600;
}

a:hover {
	color: var(--hoverlink);
	border-bottom: 1px solid var(--hoverlink);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--bodytext);
	margin: 0;
	font-weight: 600;
	padding: 0;
}

h1 {
	font-size: 59px;
	font-weight: 900;
}

h2 {
	font-size: 28px;
	font-weight: 600;
}

h3 {
	font-size: 22px;
	font-weight: 700;
}

h4,
h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
	font-weight: 400;
}

p,
ul,
li {
	line-height: 30px;
	margin: 0;
	font-weight: 400;
	font-size: 16px;
letter-spacing: .65px;
	color: #000;
	position: relative;
	
	
	}

header {
	/* background: linear-gradient(177deg, rgba(26, 29, 36, 0.77) 20%, rgba(26, 29, 36, 0.83) 80%), url(https://images.unsplash.com/photo-1606787364397-a9c1d754a531?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);*/
	/* background: var(--secondary); */
	background-position-y: 16%;
	position: relative;
	background-size: cover;
	/* min-height: 600px; */
}

.header-section {
	position: relative;
	width: 100%;
	height: 500px;
	background: var(--secondary);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
#background-video {
	width: 100%;
	height: 151%;
	object-fit: cover;
	position: absolute;
	bottom: -242px;
	z-index: 0;
}
#background-video {
	width: 100%;
	height: 151%;
	object-fit: cover;
	position: absolute;
	bottom: -242px;
	z-index: 0;
}
.inline-video-container {
	position: relative;
}
.inline-video-container .cover-overflowlay {
	opacity: .1;
}
.inline-background-video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	z-index: 0;
	border-radius: 3px;
}
.cover-overflowlay {
	width: 100%;
	height: 100%;
	z-index: 1;
	background: #020805;
	position: absolute;
	pointer-events: none;
	opacity: .5;
	border-radius: 4px;
}
logo {
	margin-top: -10px;
	top: 15px;
	left: 58px;
	flex: 1;
}

#ovm-logo {
	width: 310px;
	margin-top: 12px;
}

#ovm-mobile {
	width: 53px;
	float: left;
	margin-top: 4px;
	position: absolute;
	top: 0;
}

.mobile-show {
	display: none;
}

logo img:hover,
#home-navigation-bar:hover,
#loans-navigation-bar:hover,
#resources-navigation-bar:hover {
	cursor: pointer;
}

#home-navigation-bar:hover,
#loans-navigation-bar:hover,
#resources-navigation-bar:hover {
	color: var(--hoverlink);
}

.header-content {
	justify-content: center;
	display: flex;
	text-align: center;
	z-index: 2;
}

.title-containers {
	display: flex;
	flex-direction: column;
}

.header-content:last-of-type {
	padding-bottom: 30px;
}

.header-section .button-containers {
	display: flex;
	flex-direction: column;
}
.button-containers .standard-link {
	margin-top: 10px;
	color: white;
	letter-spacing: .8px;
	font-weight: 800;
}
.button-containers .standard-link:hover {
	border-bottom: 1px solid var(--lightaccent);
}
.headercontain {
	display: flex;
	flex-direction: column;
}

nav {}

nav ul {
	list-style-type: none;
	margin: 0;
	justify-content: space-between;
	align-items: center;
	position: relative;
	background: white;
	width: 100%;
	padding: 0px 20px;
}

#navigation {
	justify-content: space-between;
	align-items: center;
	background: white;
}

#navigation li a {
	margin: 0 14px;
	letter-spacing: .65px;
	color: #000;
	position: relative;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 13px;}

#navigation li a:hover {
	color: var(--primary);
	border-bottom: 1px solid var(--primary);
}

#apply-navigation-bar {
	outline: none;
	padding: 5px 30px;
	width: fit-content;
	background: var(--primary);
	border: 3px solid var(--primary);
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 13px;
	margin-left: 30px;
	border-radius: 5px;
	}

#apply-navigation-bar a {
	color: inherit;
}

#apply-navigation-bar:hover {
	color: #fff;
	cursor: pointer;
}

#apply-navigation-bar a:hover {
	border-bottom: 0;
}

h1#headline {
	
	
	
	
	text-transform: uppercase;
	width: 651px;
	margin: 5px auto 40px;
line-height: 86px;
	
	color: #fff;
	font-size: 70px;
	font-weight: 700;}

h6#sub-headline {
	font-size: 24px;
	text-align: center;
	color: #fff;
	font-weight: 500;
	/* border-bottom: 1px solid; */
	display: inline-block;
	width: 260px;
	margin: 0 auto;
	letter-spacing: 0.6px;
}

button {
	color: #fff;
	background: var(--secondary);
	border: 3px solid var(--secondary);
	outline: none;
	padding: 20px 25px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: .05em;
	border-radius: 5px;
	margin: 5px 0;
	width: fit-content;
	font-size: 14px;
}
.button-containers button {
	padding: 16px 0;
	margin: 0 10px 0;
	min-width: 180px;
	background: #fff;
	border: 3px solid #fff;
	color: #111;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 14px;
	padding: 20px 25px;
	min-width: 195px;
	text-transform: uppercase;
	font-size: 15px;
}

a#cta1:hover,
a#cta2:hover,
#get-approved a:hover,
.card-links a:hover {
	border-bottom: none !important;
}

button:hover {
	color: #fff;
	background: var(--primary);
	border: 3px solid var(--primary);
	cursor: pointer;
}

a button:hover {
	cursor: pointer;
}

main {
	background: white;
	background: url(https://amweb.azureedge.net/ovm/tree%20overlay.png) no-repeat;
	background-size: 43%;
	background-position: bottom right;
	background-attachment: fixed;
	background-position-y: 178%;
	z-index: 1;
}

.homepage-initial-container,
.alternation {
	/* background: url(https://amweb.azureedge.net/ovm/tree%20overlay.png); */
	/* background-size: 531px; */
	/* background-position: top right; */
}

.selection-container {
	display: flex;
	flex-direction: column;
	background: #fff;
	margin: -90px auto 60px;
	padding: 51px;
	width: 61%;
	max-width: 1160px;
	min-width: 500px;
	box-shadow: 3px 10px 17px rgba(0, 0, 0, .05);
	border-radius: 4px;
}

.selection-grid-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.statistics-grid {
	max-width: 1250px;
	margin: 0 auto;
	padding: 20px 0;
	width: 75%;
}

.intro-blurb p {
	font-size: 16px;
	text-align: center;
	margin: -10px 0 42px;
}

.solidlinedivider {
	width: 1px;
	background: #78787821;
}

.contained-option {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contained-option h2 {
	font-weight: 200;
	font-size: 24px;
}

.contained-option svg {
	font-size: 55px;
	margin-bottom: 15px;
	color: var(--primary);
}

.contained-option-icons {
	width: 76px;
	margin: 11px 0 26px;
	order: -1;
}

.expanded-image-bigger {
	width: 160px;
}

.expanded-image {
	width: 120px;
}

.contained-option button,
.callout-ending-container button {
	
	margin-top: 30px;
	min-width: 195px;
	
	
	
	
	
	

	
	
	
	
	
	
	}

.contained-option button a {
	color: inherit;
	font-weight: 600;
}

button a:hover {
	border-bottom: none !important;
}

#initial-section {
	padding: 35px 0;
}

.negative-top .left-side-container>h3:first-of-type {
	margin-top: -5px;
}

.sectional h2 {
	
}

.sectional h3,
.sectional h4,
.sectional h5 {
	margin-top: 25px;
	margin-bottom: 10px;
}

.sectional h5 {
	font-weight: 300;
}


.sectional h2 {
	
	
	
	
font-weight: 200;
	font-size: 24px;}

.navigation-contain {
	max-width: 1250px;
	margin: 0 auto;
	padding: 12px 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
letter-spacing: .65px;
	color: #000;
	
	
	
	}

.contain {
	max-width: 1250px;
	margin: 0 auto;
	padding: 20px 0;
	width: 90%;
}

.row-display {
	display: flex;
}

.description-text-header {
	text-align: center;
	font-size: 18px;
	letter-spacing: 2.5px;
	color: #717171;
	font-weight: 600;
	margin-top: -10px !important;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'proxima-nova', Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.description-text-header::after {
	content: '';
	display: inline-block;
	min-height: 3px;
	min-width: 35px;
	background: #717171;
	margin-left: 20px;
}

.header-text-h2 {
	text-align: center;
	font-size: 40px !important;
	margin-top: 33px !important;
}

#loan-process-timeline {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	list-style: none;
	margin: 45px 0 60px;
}

.process-step-of-loan {
	text-align: center;
	width: 24%;
	position: relative;
}

.process-step-of-loan .image-contain {
	background: var(--primary);
	width: 80px;
	height: 80px;
	margin: 20px auto 10px;
	border-radius: 100%;
	box-shadow: 3px 6px 17px rgb(0 0 0 / 10%);
	border: 4px solid white;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 30px;
}

.process-step-of-loan>h4 {
	font-size: 18px;
	line-height: 20px;
}


.process-step-of-loan>span {
	font-size: 13px;
	line-height: 20px;
	width: 196px;
	margin: 0 auto;
	display: block;
	color: #6d6d6d;
}

.process-step-of-loan+.process-step-of-loan::after {
	background-image: url(images/arrow.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% auto;
	content: '';
	display: block;
	height: 28px;
	width: 55px;
	position: absolute;
	top: 35%;
	left: -17px;
	opacity: .45;
}

.sectional {
	padding-top: 50px;
}

.reviews-and-statements {
	margin: 65px 0 50px;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-column-gap: 26px;
	grid-row-gap: 26px;
}

#visual-divider {
	/* background: linear-gradient(177deg, rgba(26, 29, 36, 0.77) 20%, rgba(26, 29, 36, 0.83) 80%), url(https://images.unsplash.com/photo-1606787365527-d5aee1f46968?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80); */
	background: var(--secondary);
	min-height: 215px;
	background-size: cover;
	background-position-y: 50%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

section#visual-divider.review-section-callouts {
	/* background: linear-gradient(177deg, rgba(26, 29, 36, 0.77) 20%, rgba(26, 29, 36, 0.83) 80%), url(https://images.unsplash.com/photo-1606787365527-d5aee1f46968?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80); */
	background: var(--secondary);
	min-height: 240px;
	background-size: cover;
	background-position-y: 45%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

#visual-divider h3 {
	margin: 0 auto 30px;
	color: #fff;
	font-size: 45px;
}

.statistics-grid h4,
.statistics-grid h5 {
	color: #fff !important;
}

.statistics-grid .solidlinedivider {
	width: 1.1px;
	background: rgba(255, 255, 255, .2);
}

.statistics-grid div {
	width: 245px;
}

.statistics-grid h4 {
	font-size: 48px;
	font-weight: 600;
	margin-bottom: 22px;
}

.statistics-grid h5 {
	font-size: 15px;
	font-weight: 500;
}

.callout-ending-container {
	display: flex;
	justify-content: space-between;
	min-width: 500px;
	margin: 0 auto 60px;
	align-items: center;
	max-width: 1250px;
	width: 75%;
}

.callout-ending-headers h4 {
	font-size: 33px;
	font-weight: 700;
}

.callout-ending-headers h5 {
	font-size: 19px;
	font-weight: 600;
	margin-bottom: -10px;
	margin-top: 0;
}

.contained-option button:hover,
#visual-divider-a button:hover,
#read-more-testimonials:hover,
.homepage-image-background-section button:hover,
.full-ovm-input button:hover,
#get-approved button:hover,
#form-insert button:hover {
	background: #2e2c2d !important;
	border: 3px solid #2e2c2d !important;
	transform: scale(1.05);
}

#cta1 button:hover,
#cta2 button:hover,
#apply-navigation-bar:hover,
#visual-divider button:hover {
	color: #fff !important;
	transform: scale(1.05);
}

.side-by-side-content-container {
	display: flex;
	align-content: flex-start;
}

.right-side-container {
	order: 2;
	margin-left: 50px;
	max-width: 500px;
}

.left-side-container {
	flex: 1;
}

.title-image-background-section {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	padding: 20px 30px;
	height: 500px;
	object-fit: cover;
}

.title-image-background-section h3 {
	font-size: 45px;
	font-weight: 600;
	color: #fff;
	text-shadow: 1px 4px 6px rgb(0 0 0 / 4%);
}

.title-image-background-section h4 {
	font-size: 21px;
	font-weight: 600;
	color: #fff;
	text-shadow: 1px 2px 3px rgb(0 0 0 / 2%);
	margin: 15px 0;
	text-transform: capitalize;
}

.title-image-background-section p {
	color: #fff;
	text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.02);
	font-size: 17px;
	font-weight: 300;
	margin-top: -2px;
	margin-bottom: 15px;
}

.what-people-say-about-us h3 {
	font-size: 30px;
	margin-top: 35px;
	text-align: center;
}

.ovm-reviews-statements {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.ovm-review-card {
	height: auto;
	padding: 0;
	margin: 0 0 20px;
	display: flex;
	flex-direction: column;
	width: 46%;
}

.avatar-name-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

li.column-layout-3x3 {

display: flex;

flex-direction: column;

align-items: stretch;

min-height: 210px;
}

.card-container-3x3 {
	background: #fff;
	display: flex;
	flex-direction: column;
	box-shadow: 3px 6px 17px rgb(0 0 0 / 10%);
	min-height: 100%;
	padding: 0 20px 30px 20px;
	border-radius: 3px;
}

.card-container-3x3 a:hover {
	border-bottom: none;
}

.thumb-container {
	position: absolute;
	top: -15px;
	right: -20px;
	background: var(--primary);
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	border-radius: 100%;
	justify-content: center;
	font-size: 20px;
	box-shadow: 3px 6px 17px rgba(0, 0, 0, 0.1);
	color: #fff;
}

.thumb-container:hover {
	background: #111;
	transform: scale(1.05);
}

.testimonial-ratings {
	margin-bottom: 30px;
}

.testimonial-ratings ul {
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin: 30px auto -8px;
	list-style: none;
	width: 188px;
}

.testimonial-ratings ul li {}

.testimonial-ratings ul li i,
.testimonial-ratings ul li svg {
	font-size: 25px;
	color: var(--primary);
}

.card-container-3x3 h5 {
	color: #fff;
	font-weight: 700;
	text-align: center;
	margin-bottom: 0;
	display: flex;
	flex-direction: column;
	background: #323232;
	font-size: 22px;
	padding: 18px 0;
	letter-spacing: .75px;
	display: none;
}

.containing-calculator-types {
	margin-top: -35px;
}

h5.calculator-header:hover {
	color: var(--primary) !important;
}

li.column-layout-3x3:nth-of-type(even) .card-container-3x3 h5 {
	background: ##;
}

.card-container-3x3 p {
	line-height: 25px;
	color: #575656;
	font-size: 17px;
	font-weight: 300;
}

.sub-column {
	display: flex;
	flex-direction: column;
	width: 73%;
	align-items: flex-end;
	justify-content: flex-end;
}

.sub-with-image svg {
	margin-right: 10px;
	margin-left: -10px;
}

.reject-main-container {
	display: grid;
	margin: 50px 0 80px;
	grid-template-columns: repeat(1, 1fr);
	grid-row-gap: 74px;
}
.two-columnul {
	display: grid;
	margin-bottom: 25px;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 67px;
	min-height: 400px;
}

#why-choose-us,
#about-us {
	width: 90%;
	margin: 0 auto;
}

#about-us-expanded {
	margin-top: -25px;
	background: rgb(255, 255, 255);
	padding: 60px 50px;
}

.column-1 {
	border-radius: 5px;
	background: var(--secondary);
	min-width: 42%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	background-size: cover;
	border-radius: 5px;
	}

#about-us .two-columnul {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}
#about-us .column-1 {
	/* background: linear-gradient(177deg, rgb(26 29 36 / 76%) 20%, rgb(26 29 36 / 76%) 80%), url(https://images.pexels.com/photos/7658399/pexels-photo-7658399.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260); */
	background: var(--secondary);
	justify-content: flex-end;
	align-items: center;
	background-size: cover;
}
#about-us .column-2 {
	margin-top: 0;
}

.column-1 h4 {
	color: #fff;
	text-align: left;
	padding: 18px;
	font-size: 22px;
	font-weight: 300;
}

.column-1 img {
	width: 510px;
	align-self: flex-end;
	justify-self: flex-end;
}

.column-2 {
	align-self: center;
	}

.column-2-content {
	width: 100%;
}

.column-2-content h3 {
	text-align: left !important;
	justify-content: flex-start;
}

.column-2-content h2 {
	text-align: left;
	line-height: 29px;
}

.column-2-content p {
	line-height: 29px;
	font-weight: 400;
	font-size: 16px;
	color: #575656;
	margin-top: 19px;
	margin-bottom: -10px;
}

.provide-button-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 0;
	grid-row-gap: 0;
	margin-top: 34px;
}

.provide-button {
	color: #fff;
	background: var(--secondary);
	border: 3px solid var(--secondary);
	outline: none;
	padding: 11px 25px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: .05em;
	border-radius: 5px;
	margin: 5px 0;
	font-size: 14px;
	width: 200px;
	text-align: center;
}

.provide-button:hover {
    color: #fff;
    border: 3px solid #323232;
    background: #323232;
	cursor: pointer;
}

#provide-more .card-container-3x3 {
	flex-direction: column;
}

#about-us-expanded .card-container-3x3 img {
	margin: 41px auto 4px;
	width: 54px;
}

#provide-more .card-container-3x3 h5 {
	margin-bottom: -10px;
}

#provide-more .card-container-3x3 p {
	margin-bottom: 25px;
	min-height: 165px;
}

#provide-more .card-container-3x3 h5,
#provide-more li.column-layout-3x3:nth-of-type(2) .card-container-3x3 h5 {
	color: initial;
	background: none;
	padding: initial;
	letter-spacing: 0.85px;
	font-weight: 600;
	font-size: 21px;
}

.pagination ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: 1050px;
	margin: 0 auto;
	padding: 20px 0;
	width: 85%;
	list-style-type: none;
}

.pagination ul li {
	padding: 0;
	margin: 0;
}

.card-links {
	display: flex;
	width: 100%;
	justify-content: space-around;
flex-direction: column;}

.card-links a {
	min-width: 50%;
	flex: 1;
	text-align: center;
	padding: 12px 0;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: .5px;
}

.card-links a:first-of-type {
	background: var(--primary);
}

.card-links a:first-of-type:hover {
	background: #548c34;
}

.card-links a:last-of-type {
	background: #323232;
}

.card-links a:last-of-type:hover {
	background: #222;
}
.card-image-container {
	background: var(--secondary);
}
.card-image-container img {
	width: 100%;
	height: 195px;
	object-fit: cover;
	border: 3px solid white;
	visibility: hidden;
}

.date {
	font-weight: 600;
	font-size: 14px;
	margin-top: 0px;
}

.what-people-say-about-us {
	position: relative;
	padding-bottom: 149px;
}

#read-more-testimonials {
	font-weight: 600;
	margin: 40px auto;
	display: block;
	text-transform: uppercase;
	padding: 20px 25px;
	margin-top: 30px;
	min-width: 195px;
	font-size: 14px;
	background: #323232;
	border: 3px solid #323232;
	color: #fff;
}


.initial-contacts-container {
	display: flex;
	justify-content: space-around;
	margin: 60px 0 80px;
}

.initial-contact {
	background: #fff;
	display: flex;
	width: 40%;
	box-shadow: 3px 6px 17px rgb(0 0 0 / 10%);
}

.contact-block-type {
	background: var(--primary);
	width: 139px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-weight: 600;
}

.contact-block-type svg {
	font-size: 45px;
}

.contact-details {
	padding: 20px;
}

.contact-details h5 {
	margin: 0 0 5px;
	font-size: 15px;
	font-weight: 600;
	color: var(--primary);
}

.contact-details p {
	font-weight: 500;
	line-height: 25px;
	font-size: 15px;
}

#contact-phone-number p {
	font-size: 30px;
	margin-top: 15px;
	font-weight: 700;
}

.disclaimation-block {
	background: #fff;
	padding: 40px 40px;
	margin: 60px auto;
}

#form-insert {
	padding: 40px 40px 50px;
	margin: 60px auto;
	display: flex;
	flex-direction: column;
	width: 65%;
}

.row-options {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.row-option {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: 5px 0;
}

#form-insert label {
	font-size: 15px;
	margin: 0 0 0px;
	color: #000;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#form-insert input[type="text"],
#form-insert input[type="email"],
#form-insert input[type="tel"],
#form-insert select,
#form-insert textarea {
	-webkit-appearance: none;
	border-radius: 3px;
	border: 1px solid #e3e3e3;
	outline: none;
	font-size: 17px;
	font-weight: 400;
	padding: 15px 16px;
	letter-spacing: .65px;
	color: #333;
	background: #fefefe;
	margin: 10px 0 14px;
	min-height: 55px;
}

#form-insert textarea {
	min-height: 120px !important;
}

#form-insert .disclosure {
	margin: 10px 0 20px;
}

.submit-disclaimer-text {
	font-size: 13px;
	letter-spacing: .61px;
	line-height: 25px;
	font-weight: 400;
}

#form-insert button {
	font-weight: 600;
	margin: 40px auto 10px;
	display: block;
	text-transform: uppercase;
	padding: 20px 25px;
	margin-top: 30px;
	min-width: 195px;
	font-size: 14px;
	background: var(--primary);
	border: 3px solid var(--primary);
	color: #fff;
}

footer {
	background: #2e2c2d;
	color: #fff;
	min-height: 140px;
}

.footer-main-container {
	max-width: 1250px;
	margin: 0 auto;
	padding: 14px 0;
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer-main-container ul {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin: 0;
	padding: 30px 0;
	list-style: none;
	width: 100%;
	color: #fff;
}

#footer-with-logo {
	display: flex;
	flex-direction: column;
	color: #fff;
}

#footer-with-logo p {
	color: #fff;
	line-height: 23px;
}

.telephone-footer-link {
	color: #fff;
	margin-top: 20px;
	font-weight: 600;
}

.telephone-footer-link svg {
	margin-right: 10px;
}

.telephone-footer-link:hover {
	color: #fff;
	border-bottom: 0;
}

.footer-main-container ul li {
	color: #fff;
	font-weight: 700;
	font-size: 22px;
}

.footer-main-container ul li ul {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 15px 0 0;
}

.footer-main-container ul li ul li {
	font-size: 15px;
}

.footer-main-container ul li ul li a {
	color: inherit;
	font-weight: 400;
	font-size: 15px;
	line-height: 31px;
}

.footer-main-container ul li ul li a:hover {
	border-bottom: 1px solid white;
}

.footer-logo {
	width: 200px;
	margin-bottom: 25px;
}

#social-media-links {
	display: flex;
	margin-top: 20px;
	flex-direction: row;
	align-items: center;
}

#social-media-links svg {
	font-size: 20px;
}

#equal-housing-logo {
	width: 30px;
	margin-right: 10px;
}

#mobile-navigation-only {
	display: none;
}

.process-outline {}

.process-step {
	background: #fff;
	padding: 30px;
	margin: 30px 0 50px;
}

.process-step-header-container {
	display: flex;
	flex: 1;
border-bottom: 1px solid rgba(0, 0, 0, .1);}

.process-step-header-image {
	position: relative;
}

.process-image-symbol {
	position: absolute;
	background: #fff;
	right: -20px;
	top: 29%;
	width: 75px;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 32px;
	color: var(--primary);
	border: 6px solid var(--primary);
}

.process-step-header-image img {
	width: 230px;
}

.process-step-header {
	/* background: #f9f9f9; */
	padding: 5px 44px;
	flex: 1;
	border-left: 10px solid var(--primary);
	align-items: flex-end;
}

.process-step-header h5 {
	color: var(--primary);
	font-weight: 600;
	font-size: 16px;
	margin-top: 36px;
	text-transform: uppercase;
	font-family: 'proxima-nova', Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.process-step-header h3 {
	text-transform: uppercase;
	font-size: 27px;
	letter-spacing: 1px;
	margin-top: 10px;
}

.process-step-body-container {
	display: flex;
	align-items: stretch;
	margin-top: 35px;
}

.process-step-outline {
	flex: 1;
}

.process-step-outline p {
	padding-bottom: 10px;
	font-weight: 400;
}

.process-step-outline small {
	font-family: 'proxima-nova', Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: inherit;
}

.process-step-outline small ul {
	margin: 5px 0 0 15px;
	padding: 0px;
}

.process-step-outline small ul li {
	font-size: inherit;
	font-weight: 400;
}

.process-step-keys {
	width: 300px;
	margin-left: 25px;
	padding-left: 20px;
	border-left: 1px solid rgba(0, 0, 0, .1);
	min-height: 100% !important;
	align-self: inherit;
}

.process-step-keys h4 {
	margin-top: 0;
	display: inline-block;
	line-height: 22px;
}

.process-step-keys ul {
	margin: 0 0 0 15px;
	list-style-type: num;
	padding: 0;
}

.process-step-keys ul li {
	padding-left: 10px;
	font-size: 15px;
	line-height: 31px;
	font-weight: 500;
	list-style-type: '>';
}

.process-step-keys ul li::marker {
  color: var(--primary);
font-size: 18px;
}

/* @media only screen and (max-width: 1250px) {
	.secondary-importance {
		display: none;
	}
	.selection-container {
		width: 96%;
		min-width: initial;
		max-width: initial;
	}
	.reviews-and-statements {
		justify-content: flex-start;
	}
	li.column-layout-3x3 {
		width: 44%;
		margin: 50px 30px 0;
	}
}

@media only screen and (max-width: 980px) {
	#background-video {
		height: 132%;
		top: -82px;
		z-index: 0;
	}
	#mobile-navigation-only {
		display: block;
		margin-right: 50px;
		position: absolute;
		top: 31%;
		right: -27.5px;
		font-size: 24px;
	}

	.secondary-importance {
		display: initial !important;
	}

	#navigation {
		display: none;
	}

	nav {
		position: relative;
	}

	#navigation {
		display: none;
		position: absolute;
		top: 74px;
		right: 0;
		display: flex;
		flex-direction: column;
		width: 250px;
		min-height: 300px;
		padding: 10px 0 30px;
	}

	.mobile-hide {
		display: none !important;
	}
	
	.mobile-show {
		display: initial;
	}

	.navigation-contain {
		justify-content: flex-start;
	}

	logo {
		flex: 1;
		margin-left: 10px;
	}
	
	#ovm-mobile {
		margin-left: -15px;
	}

	#apply-navigation-bar {
		padding: 5px 20px;
		margin-right: 34px;
	}

	h1#headline {
		font-size: 59px;
		margin: 20px auto 40px;
		width: 75%;
	}

	header .button-containers {
		justify-content: space-between;
		height: 175px;
		flex-direction: column;
		margin-bottom: 100px !important;
		padding-bottom: 30px;
	}

	.button-containers button {
		min-width: 250px;
	}

	.selection-container {
		width: 100%;
		margin: -122px auto -50px;
		box-shadow: none;
		max-width: initial;
		min-width: initial;
		background: #f9f9f9;
	}

	.selection-grid-container {
		flex-direction: column;
	}

	.solidlinedivider {
		width: 1px;
		background: transparent;
		height: 50px;
	}

	#loan-process-timeline {
		flex-wrap: wrap;
	}

	.process-step-of-loan {
		width: 50%;
		min-height: 280px;
	}

	.process-step-of-loan:nth-of-type(3)::after {
		display: none;
		background: none;
	}

	.reviews-and-statements {
		flex-direction: column;
	}

	li.column-layout-3x3 {
		margin: 45px auto 20px;
		width: 100%;
	}

	.two-columnul {
		flex-direction: column;
	}
	
	#about-us .two-columnul {
		flex-direction: column;
	}
	
	#about-us-expanded {
		margin-top: -105px;
	}
	
	.column-1 {
		border-radius: 0;
	}

	.sub-column {
		display: flex;
		flex-direction: column;
		width: 100%;
		justify-content: space-between;
		align-items: center;
	}

	.column-1 h4 {
		color: #fff;
		text-align: center;
		padding: 0;
		font-size: 25px;
		font-weight: 300;
		flex: 1;
		flex-direction: column;
		display: flex;
		justify-content: space-between;
		min-height: 80px;
	}

	.column-1 img {
		width: auto;
		align-self: center;
		height: 300px;
		margin-top: 30px;
	}

	.column-2 {
		margin-top: 0;
		padding-top: 0;
		padding-left: 0;
		padding: 60px 40px 40px;
	}

	.column-2-content {
		width: 100%;
	}

	.column-2-content h3 {
		text-align: center;
		justify-content: center;
	}

	.column-2-content h2 {
		text-align: center;
	}
	
	.process-step-body-container {
		flex-direction: column;
	}
	
	.process-step-header h3 {
		font-size: 24px;
	}
	
	.process-step-keys {
		width: 100%;
		margin-left: 0;
		padding-left: 0;
		border-left: 0;
		border-top: 1px solid rgba(0, 0, 0, .1);
		margin-top: 10px;
		padding-top: 25px;
	}
	
	.initial-contacts-container {
		flex-direction: column;
		justify-content: space-between;
		height: 280px;
	}
	
	.initial-contacts-container .initial-contact {
		width: 100%;
		min-height: 128px;
	}

	#provide-more .card-container-3x3 p {
		margin-bottom: 50px;
		min-height: initial;
	}

	.statistics-grid {
		flex-direction: row !important;
		flex-wrap: wrap;
	}
	
	section#visual-divider.review-section-callouts .statistics-grid {
		flex-direction: column !important;
		justify-content: center;
		align-items: center;
	}

	.statistics-grid div {
		width: 49%;
		min-height: 180px;
	}

	.statistics-grid .solidlinedivider {
		width: 0;
	}

	.callout-ending-container {
		width: 100%;
		flex-direction: column;
	}

	.callout-ending-headers {
		text-align: center;
	}

	.footer-main-container ul {
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}

	#footer-with-logo {
		width: 100%;
		justify-content: center;
		align-items: center;
	}

	.footer-main-container ul li {
		display: flex;
		justify-content: space-between;
	}

	.footer-main-container ul li ul {
		padding: 0;
	}

	#social-media-links {
		justify-content: space-between;
		width: 400px;
		margin-top: 40px;
	}

	#social-media-links svg {
		font-size: 30px;
	}

	#social-media-links li {
		width: initial;
	}

	.sub-menu-footer {
		display: none !important;
	}
}

@media only screen and (max-width: 650px) {
	header {
		min-height: 592px;
	}
	header .button-containers {
		height: 145px;
	}
	.header-content:last-of-type {
		padding-bottom: 0px;
	}
	h6#sub-headline {
		font-size: 20px;
		margin-top: -40px;
	}
	h1#headline {
		font-size: 45px;
		line-height: 53px;
	}
	.header-text-h2 {
		line-height: 48px;
	}
	.callout-ending-headers h4 {
		line-height: 40px;
		width: 300px;
	}
	#what-people-say-about-us .pagination {
		display: none !important;
	}
	.process-step-header-image {
		display: none;
	}
	#loan-process-timeline {
		margin: 45px 0 20px;
	}
	#form-insert {
		padding: 40px 20px 50px;
		margin: 60px auto 0;
	}
	#about-us-expanded #provide-more .card-container-3x3 {
		box-shadow: none;
		margin: 0 auto !important;
		padding: 20px 0 0;
	}
	#about-us-expanded #provide-more .column-layout-3x3 {
		margin: 0 auto;
	}
	#about-us-expanded #provide-more {
		margin: 0;
	}
	.containing-calculator-types {
		margin-top: 10px;
	}
	.disclaimation-block {
		margin: 60px auto 0;
	}
	.process-step-header {
		border-top: 5px solid var(--primary);
		border-left: 0;
		padding: 5px 20px;
	}
	.process-step-of-loan {
		width: 100%;
		min-height: 0;
		margin: 8px 0;
	}
	.process-step-of-loan+.process-step-of-loan::after {
		background-image: none;
	}
	.process-step-header h5 {
		margin-top: 10px;
	}
	.process-step-body-container {
		margin-top: 20px;
	}
	.callout-ending-container {
		min-width: inherit;
	}
	#social-media-links {
		width: 280px;
	}
	#about-us-expanded {
		padding: 60px 20px;
	}
	.contact-block-type {
		display: none;
	}
	.column-1 img {
		height: auto;
		width: 100%;
	}
} */