@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body, h1, h2, h3, h4, h5, h6, p, ul, li, section, main, header, nav, footer {
	font-family: 'inter', sans-serif;
	font-size: 16px;
	line-height: 30px;
	font-weight: 400;
	color: #3d3d3d;
}
header, main, section, form, form div, footer {
	display: flex;
	flex-direction: column;
}
form, section[data-role="mapping-agent"], section[data-role="secondary-mapping-agent"] {
	width: 80vw;
	max-width: 920px;
	min-width: 600px;
	margin: 0 auto;
}
form h3 {
	font-size: 24px;
	font-weight: 700;
	margin: 40px 0 -00px;
}
form h4 {
	font-size: 18px;
	font-weight: 600;
	margin: 15px 0 4px 0;
}
form p {
	margin: 0;
	line-height: 25px;
	font-weight: 400;
	margin: 15px 0;
}
label {
	font-weight: 600;
	line-height: 25px;
	margin: 15px 0 20px;
}
button {
	max-width: 100px;
	max-width: 100px;
	margin: 0 0 4px;
}
select, option {
	max-width: 435px;
	margin: 0 0 4px;
}
input[type="text"], select, button, option {
	text-align: left;
	font-size: 16px;
	padding: 12px 15px;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 1px solid rgba(0,0,0,.3);
	box-shadow: 1px 1px 1px rgba(0,0,0,.03);
	outline: none;
	border-radius: 4px;
}
.radio-group {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0 0 9px;
}
.radio-group input[type="radio"] {
	margin: 0;
	width: 15px;
	height: 15px;
}
.radio-group label {
	margin: 0 0 0 10px;
	font-weight: 300;
}
.toggle-form {
	display: none;
}
.button-group {
	margin: 20px 0 0;
}
.button-group button {
	min-width: 200px;
}
.visited-only {
	display: none;
}
.grouped-input-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.grouped-input {
	display: flex;
	flex-direction: column;
	width: 48%;
}
div[data-role='real-estate-agent-toggle'], div[data-role='real-estate-learn-more'] {
	background: #fbfbfb;
	padding: 10px 20px 35px;
	margin: 20px 0 15px;
	border-radius: 4px;
	box-shadow: 1px 1px 4px rgb(0 0 0 / 4%);
	border: 1px solid rgba(0,0,0,13%);
}
.toggles ul {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	justify-content: space-between;
	width: 500px;
	margin: 40px 0;
	padding: 0;
}
.toggles ul li {
	border: 1px solid;
	border-radius: 3px;
	padding: 2px 6px;
}
.grouping-options {
	font-size: 16px;
	border: 1px solid rgba(0,0,0,.33);
	box-shadow: 1px 1px 3px rgb(0 0 0 / 1%);
	border-radius: 4px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 600px;
	margin: 15px 0 35px;
}
.grouping-options > * {
	justify-content: center;
	align-items: center;
	display: flex;
	padding: 30px 15px;
	font-weight: 600;
}
.group-option:first-of-type {
	border-right: 1px solid rgba(0,0,0,.53);
	padding-right: 5px;
	width: 50.1%;
}
.group-option:last-of-type {
	margin-left: -5px;
	width: 49.9%;
}
.group-option:hover {
	cursor: pointer;
	background: #f3f3f3;
}
.selected {
	background: #efeeee;
}
#verified-link {
	background: #004575;
	color: white;
	border-radius: 5px;
	padding: 10px 10px;
	font-weight: 700;
	text-decoration: none;
	width: 200px;
	margin: 20px 0 0;
	text-align: center;
	font-size: 18px;
	letter-spacing: .03em;
}
#verified-link:hover {
	cursor: pointer;
}
form #logo {
	margin: 20px 0 -20px;
}
footer {
	display: none !important;
}
div#verification-method {
	margin-top: -10px;
}