body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#hero-sidekick {
	background: radial-gradient(circle, #165a51 0%, #092038 100%);
	color: #53db97;
	min-height: 450px;
	position: relative;
}

#hero-sidekick nav {
	display: flex;
	justify-content: space-between;
	margin: 18px auto 0;
	align-items: center;
	width: 98%;
	color: #fff;
}

#action-button button {
	background: #4c9c74;
	border: 1px solid rgb(134 134 134 / 30%);
}

#action-button button a {
	color: #fff;
	font-weight: 800;
	text-decoration: none;
}

#search-section {
	position: absolute;
	padding: 20px 40px 0px;
	bottom: 50%;
	right: 50%;
	transform: translate(50%, 80%);
}

section#faq-selection-declarations {
	position: absolute;
	bottom: 20%;
	right: 50%;
	transform: translate(50%,20%);
}

#search-section form {
	width: initial;
	max-width: initial;
	min-width: 800px;
	margin: 0 auto;
}

#search-functionality input {
	text-align: left;
	font-size: 20px;
	padding: 18px 15px 5px;
	border: initial;
	border-bottom: 1px solid rgb(255 255 255 / 30%);
	box-shadow: initial;
	outline: none;
	border-radius: 0;
	letter-spacing: 1.35px;
	font-weight: 400;
	background: transparent;
	color: #fff;
}

#search-functionality input::placeholder {
	  color: white;
	  opacity: 1; 
	}
	
#search-functionality input:-ms-input-placeholder {
	  color: white;
	}
	
#search-functionality input::-ms-input-placeholder { 
	  color: white;
	}

.search-toggles ul {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	justify-content: center;
	margin: 60px auto 10px;
	padding: 0;
	width: 800px;
}

.search-toggles ul li {
	border: 1px solid rgb(255 255 255 / 30%);
	border-radius: 4px;
	margin-right: 15px;
	padding: 6px 14px;
	color: white;
}

li#general-selection {
	background: #4c9c74;
	border: 1px solid rgb(134 134 134 / 30%);
	font-weight: 500;
}

li#topic-point {
	border: none;
}

#faq-contained-section {
	width: 800px;
	margin: 30px auto;
}

/* #faq-contained-section section {
	margin: 30px 0;
} */

#faq-contained-section h3 {
	display: none;
}

details > summary {
	list-style: none;
	font-weight: 700;
	margin: 10px 0;
	border-bottom: 1px solid rgba(0,0,0,.0);
	padding-bottom: 6px;
}

details[open] summary {
	border-bottom: 1px solid rgba(0,0,0,.13);
}

details > summary::-webkit-details-marker {
	display: none;
}

abbr {
	font-weight: 600;
}