@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body, h1, h2, h3, h4, h5, h6, p, ul, li, section, main, header, nav, footer {
	font-family: 'inter', sans-serif;
	font-size: 16px;
	line-height: 30px;
	font-weight: 400;
	color: #798088;
}
body {
	margin: 0;
	display: flex;
	flex-direction: column;
}
a {
	color: #0495f4;
	text-decoration: none;
	font-weight: 600;
}
a:hover {
	border-bottom: 1px solid #006fa9;
}
h1, h2, h3, h4, h5, h6 {
	color: #333a40;
	margin: 0;
	font-weight: 600;
	padding: 0;
}
h1 {
	font-size: 46px;
	font-weight: 900;
}
h2 {
	font-size: 28px;
	font-weight: 800;
}
h3 {
	font-size: 22px;
	font-weight: 700;
}
h4, h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
	font-weight: 400;
	opacity: .8;
}
p, ul, li {
	line-height: 30px;
	margin: 0;
}
header {
	background: #f5f7fa;
}
logo {
	background: #dee2e6;
	width: 250px;
	padding: 10px 30px;
	border-radius: 2px;
}
nav {
	align-items: center;
	margin: 30px 0 0;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}
navigation li:nth-of-type(1) {
	font-weight: 700;
}
navigation {
	width: 200px;
	justify-content: space-between;
	align-items: center;
} 
initalcallout {
	margin: 40px 0 35px;
	justify-content: space-between;
	align-items: center;
}
textsectional {
	padding-right: 50px;
}
textsectional h1 {
	line-height: 50px;
	width: 90%;
	margin: 20px 0 25px;
}
textsectional p {
	margin: 0 0 15px;
}
textsectional button {
	margin: 30px 0;
	padding: 15px 20px;
}
imagesectional {
	background: #dee2e6;
	min-width: 300px;
	min-height: 300px;
	display: block;
	border-radius: 6px;
}
button {
	background: #333a40;
	color: #fff;
	border: none;
	outline: none;
	padding: 10px 15px;
	border-radius: 5px;
	font-size: inherit;
	font-weight: 600;
	letter-spacing: .05em;
	margin: 5px 0;
	width: fit-content;
}
.image {
	background: #dee2e6;
	border-radius: 6px;
}
.half-width {
	width: 50%;
}
.full-width {
	width: 100%;
}
#join-annie-mac {
	padding: 35px 0 0;
}
#join-annie-mac h2 {
	margin: 0 0 13px;
}
#join-annie-mac-callout {
	background: #333a40;
	color: #fff;
	/* border-radius: 6px; */
	padding: 30px;
	text-align: center;
	margin: 35px 0;
}
#join-annie-mac-callout h2 {
	color: #fff;
	margin: 10px 0;
}
#join-annie-mac-callout button {
	background: #fff;
	color: #333a40;
}
cardfeaturettes {
	margin: 40px 0 30px;
}
cardfeaturette {
	width: 28%;
}
cardfeaturette p {
	margin: 10px 0;
}
cardfeaturette button {
	margin: 10px 0;
	padding: 15px 20px;
}
imagefeaturette {
	margin-bottom: 30px;
}
#featured-call-outs h2 {
	margin-bottom: -15px;
}
articlefeaturette {
	margin: 65px 0;
	width: 100%;
	justify-content: space-between;
}
articlefeaturetteimage {
	min-width: 350px;
}
articlefeaturettecontentblock {
	margin: 15px 0 20px;
}
articlefeaturettecontent button {
	padding: 15px 20px;
}
articlefeaturettecontent h3 {
	margin-bottom: -10px;
}
articlefeaturettecontentblock p {
	margin: 10px 0 0;
}
similarblock {
	display: flex;
	flex-direction: column;
	border-left: 2px solid rgba(0,0,0,.05);
	padding-left: 25px;
	margin-left: 25px;
	min-width: 33%;
	max-width: 33%;
}
similarity {
	background: #f5f6f7;
	border-radius: 5px;
	margin-bottom: 20px;
	padding: 20px;
}
testimonialscontainer {
	display: flex;
	margin: 45px 0 -10px;
	width: 100%;
	justify-content: space-between;
	flex-wrap: wrap;
}
testimonial {
	width: 32.5%;
	display: flex;
	flex-direction: column;
	margin: 0 0 45px 0;
	background: #f5f6f7;
	border-radius: 5px;
	margin-bottom: 20px;
	padding: 20px;
}
testimonialdetail {
	border-top: 2px solid rgba(0,0,0,.04);
	margin-top: 20px;
	padding-top: 18px;
}
testimonial h4 {
	margin: 5px 0 10px;
	font-size: 20px;
}
testimonialportrait {
	display: inline-block;
	min-width: 60px;
	min-height: 60px;
	background: #dee2e6;
	float: left;
	border-radius: 100%;
	margin-right: 20px;
}
commentgridcontainer {
	margin: 45px 0 -10px;
	width: 100%;
	justify-content: space-between;
	flex-wrap: wrap;
}
commentcontainer {
	width: 45%;
	margin: 0 0 45px 0;
	align-items: center;
}
commentcontainer h4 {
	margin: 0 0 3px;
}
.mini-portrait {
	background: #dee2e6;
	border-radius: 5px;
	min-width: 100px;
	min-height: 100px;
	max-width: 100px;
	max-height: 100px;
}
.comment-mini-display {
	margin-left: 25px;
}
.reg-padding-class {
	margin-left: 45px;
}
.flip-padding-class {
	margin-right: 45px;
}
.contain {
	width: 1250px;
	margin: 0 auto;
	padding: 20px 0;
}
.row-display {
	display: flex;
}
.reverse-row {
	flex-direction: row-reverse;
}
.space-between {
	justify-content: space-between;
}
.column-display {
	display: flex;
	flex-direction: column;
}
.no-image {
	margin-left: 0;
}
footer {
	background: #f5f7fa;
}

