/* AnnieMac Home Mortgage - Recruitment Wireframe */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, p, ul, li, section, main, header, nav, footer {
    font-family: 'inter', sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 30px;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    padding: 0;
}

main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 500;
}

.header {
    background: red;
    min-height: 550px;
    display: flex;
    vertical-align: center;
}

.header-navigation {
    background: transparent;
    position: absolute;
    right: 0;
}

.header-navigation ul {
    display: flex;
    margin: 15px 40px;
    list-style-type: none;
    padding: 0;
    width: 300px;
    justify-content: space-between;
    float: right;
    background: #01ff2c;
}

headercontent {
    background: #00ff2b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: center;
    max-width: 50%;
    margin-left: 10%;
}

.section-1 {
    background: green;
}

.section-2 {
    background: purple;
}

footer {
    background: orange;
}

verticalrow {
    display: flex;
}

blockingcolumn {
    display: flex;
    flex-direction: column;
}

