/* AnnieMac Home Mortgage - Recruitment Wireframe */

* {
    box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, p, ul, li, section, main, header, nav, footer {
    margin: 0;
    padding: 0;
}

.header {
    background: red;
}

.header-navigation {
    background: blue;
}

.section-1 {
    background: green;
}

.section-2 {
    background: purple;
}

.section-3 {
    background: orange;
}

footer {
    background: pink;
}