/* AnnieMac Home Mortgage - Recruitment Wireframe */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, p, ul, li, section, main, header, nav, footer {
    font-family: 'inter', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

body {
    margin: 0;
}

p {
    line-height: 30px;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 525px;
    background: #fff5eb;
    position: relative;
}

nav {
    position: absolute;
    top: 30px;
    right: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    right: 40px;
    width: 500px;
    display: flex;
    justify-content: space-between;
}

textcontainer {
    margin-top: 80px;
    width: 900px;
    text-align: center;
}

textcontainer h1 {
    font-size: 54px;
    
    font-weight: 800; 
}

textcontainer button {
    margin: 40px auto;
    display: block;
    padding: 15px 20px;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    font-weight: 600;
    background: #7FC24A;
    color: #fff;
}

detailsummary {
    padding: 70px 0;
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    margin: 0 auto;
    justify-content: space-between;
}

detailsummary h2 {
    min-width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 40px;
}

detailsummary h2 {
    min-width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 40px;
}

detailblock {
    width: 45%;
    padding: 30px 0;
}

detailblock h3 {
    font-weight: 700;
    font-size: 20px;
    margin-top: 0;
}

typeheaderlist {
    display: flex;
    flex-direction: column;
    width: 900px;
    margin: 0 auto;
    padding: 0 15px;
}

typeheaderlist h2 {
    min-width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 40px;
}

typeheader {
    display: flex;
    padding: 30px 0;
}

typeheader h3 {
    font-weight: 700;
    font-size: 30px;
    min-width: 40%;
    border-right: 1px solid red;
}

typeheader p {
    margin-top: 0;
}